h4 Events
.row-fluid
  .span4
    - data = campaigns_events_data

    .percentage-remaining-narrative
      = percentage_remaining_narrative(data['events_percentage'])
    .chart-header= "#{data['remaining_events']} of #{data['expected_events'].to_i} events remaining"
    = vertical_progress_bar(data['events_percentage'], data['events_percentage_today'])

    .chart-title Overall Event Progress

  .span8
    .cumulative-narrative.cumulative-events-narrative
      | Last week was a below average week (2 events per week).

      p The pace of events is expected to increase in the coming weeks (average of 10 events per week). At this rate, the target number of events will be achieved by April 22nd

    .cumulative-title Cumulative events completed

    #events_cumulative_chart

    .events-week-narrative
      = events_per_week_narrative(data)
    .events-weeks-title # Events per week
    #events_week_chart

- start_date = @campaign.first_event_at.beginning_of_week
- current_date = Time.zone.now.to_s(:numeric)
javascript:
  $('#events_cumulative_chart').highcharts({
      chart: {
          type: 'spline',
          marginBottom: 80
      },
      credits: false,
      colors: ['#409DC9'],
      legend: {enabled: false},
      title: {
          text: null
      },
      xAxis: {
          type: 'datetime',
          labels: {
              enabled: false
          },
          lineWidth: 1,
          lineColor: '#BFBFBF',
          plotBands: [{
              color: 'red',
              width: 2,
              value: Date.UTC(#{Time.now.strftime('%Y')}, #{Time.now.strftime('%m').to_i-1}, #{Time.now.strftime('%e')}),
              color: '#BFBFBF',
              label: {
                  text: 'Today',
                  verticalAlign: 'bottom',
                  textAlign: 'left',
                  y: 50,
                  style: {color: '#BFBFBF'},
                  rotation: -90
              }
          }]
      },
      yAxis: {
          title: {
              text: null
          },
          gridLineWidth: 0,
          labels: {
              enabled: false
          },
          lineWidth: 1,
          lineColor: '#BFBFBF',
          plotLines: [{
              color: '#BFBFBF',
              width: 2,
              value: #{data['events_goal']},
              dashStyle: 'dash'
          }],
      },
      tooltip: {
          crosshairs: true,
          shared: true
      },
      plotOptions: {
          spline: {
              marker: {
                  enabled: false
              }
          }
      },
      series: [{
          name: 'Events',
          data: #{data['weeks'].map{|w,v| w < current_date ? v['cumulative_approved_events'] : v['cumulative_scheduled_events']}.to_json.html_safe},
          pointStart: Date.UTC(#{start_date.strftime('%Y')}, #{start_date.strftime('%m').to_i-1}, #{start_date.strftime('%e')}),
          pointInterval: 24 * 3600 * 1000 * 7 // one week
      }]
  });

  $('#events_week_chart').highcharts({
      chart: {
          type: 'column',
          marginBottom: 80
      },
      credits: false,
      colors: ['#409DC9'],
      legend: {enabled: false},
      title: {
          text: null
      },
      xAxis: {
          type: 'datetime',
          tickInterval: 24 * 3600 * 1000 * 7, // one week
          dateTimeLabelFormats: {
              week: '%m/%d'
          },
          labels: {
              enabled: true,
              rotation: -90,
              style: {color: '#BFBFBF'},
          },
          lineWidth: 1,
          lineColor: '#BFBFBF',
          plotBands: [{
              color: 'red',
              width: 2,
              value: Date.UTC(#{Time.now.strftime('%Y')}, #{Time.now.strftime('%m').to_i-1}, #{Time.now.strftime('%e')}),
              color: '#BFBFBF',
              label: {
                  text: 'Today',
                  verticalAlign: 'bottom',
                  textAlign: 'left',
                  y: 50,
                  style: {color: '#BFBFBF'},
                  rotation: -90
              }
          }]
      },
      yAxis: {
          title: {
              text: null
          },
          gridLineWidth: 0,
          labels: {
              enabled: false
          },
          lineWidth: 1,
          lineColor: '#BFBFBF'
      },
      tooltip: {
          crosshairs: true,
          shared: true
      },
      plotOptions: {
          series: {
              dataLabels: {
                  align: 'center',
                  enabled: true,
                  x: 2,
                  y: -10,
                  style: {color: '#409DC9'},
              }
          }
      },
      series: [{
          name: 'Events',
          data: #{data['weeks'].map{|w,v| w < current_date ? v['approved_events'] : v['scheduled_events']}.to_json.html_safe},
          pointStart: Date.UTC(#{start_date.strftime('%Y')}, #{start_date.strftime('%m').to_i-1}, #{start_date.strftime('%e')}),
          pointInterval: 24 * 3600 * 1000 * 7 // one week
      }]
  });