.sidebar#resource-filter-column
  #collection-list-filters
  a.btn.btn-primary Save
.main
  = link_to 'Create a team', new_team_path, {remote: true, class: 'btn btn-primary'}
  .link-list
    ul#teams-list


javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{items_path(controller: :teams)}',
    'filtersUrl': '#{filters_path(controller: :teams)}',
    'listContainer' : '#teams-list',
    'sorting': 'name',
    'sorting_dir': 'asc',
    'includeCalendars': false,
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_teams_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}]
  });