- for_event = parent.is_a?(Event)
doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yyyy"
  Worksheet ss:Name=I18n.t("exports.pdf.title.#{controller_name.underscore}")

    Table
      - if for_event
        Column ss:Width="200"
      - else
        Column ss:Width="100"
        Column ss:Width="200"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Row ss:StyleID="s1"
        - if for_event
          Cell
            Data ss:Type="String" ACCOUNT
        - else
          Cell
            Data ss:Type="String" EVENT DATE
          Cell
            Data ss:Type="String" CAMPAIGN
        Cell
          Data ss:Type="String" JAMESON LOCALS
        Cell
          Data ss:Type="String" TOP 100
        Cell
          Data ss:Type="String" INVITES
        Cell
          Data ss:Type="String" RSVPs
        Cell
          Data ss:Type="String" ATTENDEES

      - each_collection_item do |item|
        Row
          - if for_event
            Cell
              Data ss:Type="String"= item.place_name
          - else
            Cell ss:StyleID="s2"
              Data ss:Type="DateTime"= Timeliness.parse(event_date(item.event, :start_at).strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%FT%R')
            Cell
              Data ss:Type="String"= item.event.campaign_name
          Cell
            Data ss:Type="String"= item.venue.present? && item.venue.jameson_locals ? 'YES' : 'NO'
          Cell
            Data ss:Type="String"= item.venue.present? && item.venue.top_venue ? 'YES' : 'NO'
          Cell
            Data ss:Type="String"= item.invitees
          Cell
            Data ss:Type="String"= item.rsvps_count
          Cell
            Data ss:Type="String"= item.attendees