doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yyyy"
  Worksheet ss:Name=I18n.t("exports.pdf.title.#{controller_name.underscore}")

    Table
      Column ss:Width="200"
      Column ss:Width="400"
      Column ss:Width="100"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" ACCOUNT
        Cell
          Data ss:Type="String" JAMESON LOCALS
        Cell
          Data ss:Type="String" TOP 100
        Cell
          Data ss:Type="String" INVITES
        Cell
          Data ss:Type="String" RSVPs
        Cell
          Data ss:Type="String" ATTENDEES

      - each_collection_item do |item|
        Row
          Cell
            Data ss:Type="String"= item.place_name
          Cell
            Data ss:Type="String"= item.venue.jameson_locals ? 'YES' : 'NO'
          Cell
            Data ss:Type="String"= item.venue.top_venue ? 'YES' : 'NO'
          Cell
            Data ss:Type="String"= item.invitees
          Cell
            Data ss:Type="String"= item.rsvps_count
          Cell
            Data ss:Type="String"= item.attendees