| $('#resource-invites-list').replaceWith('#{j render(partial: "#{parent.class.name.pluralize.underscore}/attendance", locals: { resource: parent, group_by: 'venue', presenter: present(parent) }, formats: [:html]) }');
| $('#download-invites-csv').attr('href', '#{j url_for(action: :index, format: :csv)}').data('url', '#{j url_for(action: :index, format: :csv)}');
| $('#download-invites-pdf').attr('href', '#{j url_for(action: :index, format: :pdf)}').data('url', '#{j url_for(action: :index, format: :pdf)}');
