| $('#invites-list').html('#{j render(partial: "invites/table", locals: { parent: parent, }) }');
| $('#attendance-group-by .active').toggleClass('active');
| $('#attendance-group-by .by-venue').addClass('active');
