
= render 'dashboard/modules/kpi_trends'

= render 'dashboard/modules/demographics'

= render 'dashboard/modules/upcomming_events'

= render 'dashboard/modules/incomplete_tasks'

= render 'dashboard/modules/venue_performance'

