| $('#invites-list').html('#{j render(partial: "invite_individuals/table", locals: { parent: parent }) }');
| $('#attendance-group-by .active').toggleClass('active');
| $('#attendance-group-by .by-individual').addClass('active');
| $('#download-invites-csv').data('url', '#{j url_for(action: :index, format: :csv)}');
| $('#download-invites-pdf').data('url', '#{j url_for(action: :index, format: :pdf)}');
