= "Hi #{@user.first_name},"

p= "You have been invited to use Brandscopic by #{@company.name}.  Since you're already a user, you can login and use Brandsopic for this company as you normally would."

p= "Kind regards,"
br
= "The Brandscpoic Team"