<p>Hello <%= @user.email %>!</p>

<p>You have an account on http://brandscopic.com.</p>

<p><%= link_to 'Set your password', edit_password_url(@user, :reset_password_token => @user.reset_password_token) %></p>

<p>Your account cannot be used until you access the link above and create a password.</p>
