<p>Hi <%= @user.first_name %>,</p>

<p>You have been invited to the Brandscopic app. Please click the link below to sign in and fill out your profile.</p>

<p><%= link_to 'Sign in to your profile', @url %></p>

<p>Kind regards,<br/>
The Brandscopic Team</p>