|
  $('#task_#{parent.id}_comments').remove();
	$('<div id="task_#{parent.id}_comments" class="resource-item task-comments">').html('#{escape_javascript(render(partial: 'comments_list', locals: {comments: collection}))}').insertAfter($('div#task_#{parent.id}'));