.tasks-progress-bar
.link-list
  ul#tasks-list

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{source}',
    'filtersUrl': '#{url_for(action: :filters)}',
    'listContainer' : '#tasks-list',
    'sorting': 'due_at',
    'sorting_dir': 'asc',
    'includeCalendars': true,
    'selectDefaultDate': false,
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_events_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="counters"]').length > 0){
        $('.tasks-progress-bar').html(response.find('div[data-content="counters"]'))
      }
    }
  });
