- progress_format ||= 'counter'

.tasks-progress-bar
table#tasks-list.table.table-striped.table-bordered.table-scrolled
  thead
    tr
      th data-sort="name" Task
      th data-sort="last_activity" Last Activity
      th data-sort="due_at" Due Date
      th data-sort="user_name" Team member
      th data-sort="completed" Completed
      th.actions
  tbody

javascript:

  $('#collection-list-filters').filterBox({
    'includeCalendars': true,
    'onChange': function(filterBox){
      tasksTable.tableScroller('reloadData');
    }
  });

  $('.tasks-progress-bar').taskProgressBar({format: '#{progress_format}'})

  var tasksTable = $('table#tasks-list').tableScroller({
    'source': '#{source}',
    'fixedHeader': false,
    'rowValues': function(t){
      return [$('<a>', {href: t.links.comments, class: 'data-resource-details-link', 'data-remote': true}).text(t.title), t.last_activity, t.due_at, (t.user? t.user.full_name : ''), $('<div>').html(t.complete_form)]
    },
    'filterBox': '#collection-list-filters',
    'rowId': function(row){
      return 'task_'+row.id;
    },
    'onItemsLoad': function(json){
      $('.tasks-progress-bar').taskProgressBar('values', json.total, json.unassigned, json.assigned, json.completed, json.late)
    }
  })
