doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yyyy"
  Worksheet ss:Name="Tasks"

    Table
      Column ss:Width="250"
      Column ss:Width="100"
      Column ss:Width="200"
      Column ss:Width="200"
      Column ss:Width="200"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" TITLE
        Cell
          Data ss:Type="String" DATE
        Cell
          Data ss:Type="String" CAMPAIGN
        Cell
          Data ss:Type="String" STATUSES
        Cell
          Data ss:Type="String" EMPLOYEE

      - each_collection_item do |task|
        Row
          Cell
            Data ss:Type="String"= task.title
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= Timeliness.parse(task.due_at.strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%FT%R')
          Cell
            Data ss:Type="String"= task.campaign_name
          Cell
            Data ss:Type="String"= task.statuses.join(' ')
          Cell
            Data ss:Type="String"= task.user_full_name