#calendar-canvas

javascript:
  window.status='loading';
  var visitsCalendar,
    colorIndex = 0,
    campaignColors = {},
    colors = #{Campaign::AVAILABLE_COLORS.map{ |c| "##{c}" }.to_json.html_safe},
    buildCalendar = function() {
      return $('#calendar-canvas').fullCalendar({
        header: {
          left: 'title',
          center: '',
          right: 'prev,next'
        },
        height: 'auto',
        titleFormat: {
          month: 'MMMM, YYYY'
        },
        buttonIcons: {
            prev: 'bc icon icon-angle-left',
            next: 'bc icon icon-angle-right',
            prevYear: 'bc icon icon-angle-left',
            nextYear: 'bc icon icon-angle-right'
        },
        fixedWeekCount: false,
        eventLimit: false,
        defaultDate: "#{(params[:start_date] && params[:end_date] ? Timeliness.parse(params[:start_date]) + 15.days : Date.today).to_s(:full_calendar) }",
        events: {
          events: function(start, end, timezone, callback){
            var data = '#{j params.to_query.html_safe}';
            if ($('#collection-list-filters').length > 0) {
              data = $('#collection-list-filters').filteredList('selectCalendarDates', start.toDate(), end.toDate()).filteredList('paramsQueryString');
            } else {
              data += "&start="+start+"&end="+end;
            }
            $.ajax({
                url: '#{brand_ambassadors_visits_url(format: :json)}',
                dataType: 'json',
                data: data,
                success: function(events) {
                    $.each(events, function(i, event){
                      var campaignColors;
                      if (event.campaign_name) {
                        if (!event.color) {
                          event.color = getRandomColor(event.campaign_name);
                        }
                        event.backgroundColor =event.color;
                        event.borderColor = event.color;
                        event.eventTextColor = '#ffffff';
                      }
                    });
                    callback(events);
                    window.status = 'completed';
                }
            });
          },
          className: 'visit-item',
          backgroundColor: '#3e9ccf',
          borderColor: '#3e9ccf',
          textColor: 'white'
        },
        timeFormat: {
          'default': function(){ return ''; }
        },
        eventRender: function(visit, element) {
          var title = [(visit.visit_type_name || null), (visit.campaign_name || null)].filter(function(e) { return e; }).join(' - ');
          element.find('.fc-title').html(
            title + "<br/>" +
            "<span class='user-name'>" + visit.company_user.full_name + "</span>" +
            (visit.city ? " - <span class='city-name'>" + visit.city + "</span>" : '')
          );
        }
      });
  },
  getRandomColor = function(campaign_name, color){
    if (typeof campaignColors[campaign_name] === 'undefined') {
      if (colorIndex >= colors.length){ colorIndex = 0; }
      campaignColors[campaign_name] = colors[colorIndex++];
    }
    return campaignColors[campaign_name];
  };

  if ($('#toggle-visits-view a').length == 0) {
    buildCalendar();
  } else {
    $('#toggle-visits-view a').click(function(e){
      if (e.currentTarget.getAttribute('href') === '#calendar-view' && document.location.pathname.indexOf('/calendar') < 0){
        history.pushState('data', '', document.location.protocol + '//' + document.location.host + document.location.pathname.replace('/calendar', '') + '/calendar' + document.location.search);
      } else if (e.currentTarget.getAttribute('href') !== '#calendar-view' && document.location.pathname.indexOf('/calendar') >= 0) {
        history.pushState('data', '', document.location.protocol + '//' + document.location.host + document.location.pathname.replace('/calendar', '') + document.location.search);
      }
    });
    $('#toggle-visits-view a').on('shown', function(e){
      $('#toggle-visits-view a').removeClass('active');
      $(e.target).addClass('active');
      if (e.target.getAttribute('href') == '#calendar-view'){
        $('#pdf-export').data('url', '#{brand_ambassadors_visits_path(mode: :calendar, format: :pdf)}');
        $('.dates-range-filter').slideUp();
        $('.dates-pref').slideUp();
        if (typeof visitsCalendar == 'undefined') {
          visitsCalendar = buildCalendar();
        } else {
          visitsCalendar.fullCalendar('refetchEvents');
        }
      } else {
        $('#pdf-export').data('url', '#{brand_ambassadors_visits_path(format: :pdf)}');
        $('.dates-range-filter').slideDown();
        $('.dates-pref').slideDown();
      }
    });
  }

  $(window).on('popstate', function(){
    if (document.location.pathname.indexOf('/calendar') >= 0 && !$('#toggle-visits-view a.calendar').hasClass('active')) {
      $('#toggle-visits-view a.calendar').tab('show');
    } else if (document.location.pathname.indexOf('/calendar') < 0 && !$('#toggle-visits-view a.list').hasClass('active')) {
      $('#toggle-visits-view a.list').tab('show');
    }
  });
