doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yyyy"
  Worksheet ss:Name="Visits"

    Table
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="150"
      Column ss:Width="100"
      Column ss:Width="150"
      Column ss:Width="200"
      Column ss:Width="150"
      Column ss:Width="250"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" START DATE
        Cell
          Data ss:Type="String" END DATE
        Cell
          Data ss:Type="String" EMPLOYEE
        Cell
          Data ss:Type="String" AREA
        Cell
          Data ss:Type="String" CITY
        Cell
          Data ss:Type="String" CAMPAIGN
        Cell
          Data ss:Type="String" TYPE
        Cell
          Data ss:Type="String" DESCRIPTION

      - each_collection_item do |visit|
        Row
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= Timeliness.parse(visit.start_date.strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%F')
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= Timeliness.parse(visit.end_date.strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%F')
          Cell
            Data ss:Type="String"= visit.company_user.try(:full_name)
          Cell
            Data ss:Type="String"= visit.area_name
          Cell
            Data ss:Type="String"= visit.city
          Cell
            Data ss:Type="String"= visit.campaign_name
          Cell
            Data ss:Type="String"= visit.visit_type_name
          Cell
            Data ss:Type="String"= visit.description
