|
  if (#{data.values.max} > 0) {
    $('#{container}').highcharts({
        chart: { type: 'bar' },
        title: { text: null },
        colors: ['#DFDFDF','#3E9CCF'],
        xAxis: {
            categories: #{data.reject{|k, v| v.to_i == 0 }.keys.to_json.html_safe},
            title: {
                enabled: false
            },
            labels: {
              style: {color: '#3E9CCF', fontSize: '13px'}
            },
            tickLength: 0,
            lineWidth: 0
        },
        tooltip: {enabled: false},
        yAxis: {
            max: 100,
            labels: { enabled: false },
            title: {text: false},
            gridLineColor: 'transparent',
            enabled: false
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: false
                }
            },
            series: {
                stacking: 'percent',
                enableMouseTracking: false,
                pointPadding: 0,
                groupPadding: 0,
                borderWidth: 0,
                pointPadding: 0,
                pointWidth: 15,
                dataLabels: {
                    color: '#3E9CCF',
                    style: { fontSize: '11px' }
                }
            }
        },
        legend: { enabled: false },
        credits: { enabled: false },
        series: [{
            name: 'Fill in',
            data: #{data.reject{|k, v| v.to_i == 0 }.values.map{|v|(100-v).round}.to_json.html_safe},

        },{
            name: 'Values',
            data: #{data.reject{|k, v| v.to_i == 0 }.values.map(&:round).to_json.html_safe},
            dataLabels: {
                    enabled: true,
                    format: '{y}%',
                    color: '#3E9CCF',
                    align: 'right',
                    x: 30,
                    y: -2,
                    style: { color: '#3E9CCF' }
                }

        }]
    });
  } else {
    $('#age-graph').height(0);
  }