- resource_param_name = resource.class.name.underscore.gsub('/','_')
- max_file_size ||= 60.megabytes

#asset_upload_form
  = s3_uploader_form callback_url: event_documents_path(resource, format: :js), id: "documents_s3_uploader", callback_param: "attached_asset[direct_upload_url]", expiration: 24.hours.from_now.utc.iso8601, max_file_size: max_file_size do
    - if resource.errors.any?
      = resource.errors.full_messages

    = drag_drop_module('documents') do
      .documents-upload-progress-info
        .upload-file-info
          .documents-counter
          .document-info
            span.document-name
            = '&nbsp;&nbsp;'.html_safe
            span.document-size 2.29 MB
        .upload-file-progress
          .progress
            .bar style='width: 10%'
          i.icon-remove-circle

javascript:
  $(function() {
    var assetsPath = #{Hash[Dir.glob("#{Rails.root}/app/assets/images/file-types/32px/*.png").map{ |image| name = image.split('/').last; ext = name.split('.').first; [ext, asset_path("file-types/32px/" + name)]; }].to_json.html_safe};
    $('#documents_s3_uploader').S3Uploader(
      {
        remove_completed_progress_bar: false,
        progress_bar_target: $('#attachment-uploads-container'),
        drop_zone: $('#drag-drop-documents'),
        limit_concurrent_uploads: 1,
        sequential_uploads: true,
        before_add: function(file) {
          var file;

          if (file.size > #{max_file_size}) {
            alert('File is larger than maximum file size supported (#{max_file_size.to_s(:human_size)})');
            return false;
          }
          return true;
        }
      }
    ).bind('fileuploadprogress', function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10),
          totalFiles = data.originalFiles.length,
          currentFileIndex = data.originalFiles.indexOf(data.files[0]) + 1;
      context = $('#drag-drop-documents .documents-upload-progress-info')

      context.find('.documents-counter').text('Uploading document ('+ currentFileIndex +'/'+ totalFiles +')');
      context.find('.document-name').text(data.files[0].name);
      context.find('.progress .bar').css({ width: progress + '%' });
    }).bind('fileuploadstop', function (e, data) {
      $('#drag-drop-documents').removeClass('uploading');
      $('#drag-drop-documents .attachment-select-file-view').show();
      $('#drag-drop-documents .documents-upload-progress-info').hide();
    }).bind('fileuploadfail', function(e, data) {
      return alert(data.filename + ' failed to upload');
    }).bind('fileuploadstart', function() {
      $('#drag-drop-documents').addClass('uploading');
      $('#drag-drop-documents .attachment-select-file-view').hide();
      $('#drag-drop-documents .documents-upload-progress-info').show();
    });
  });
