h3 CONSUMER COMMENTS
.event-comments-list
  = render 'comment_list'
= link_to "", new_event_comment_path(resource), remote: true, class: 'icon-plus-sign', title: 'Add Comment' if can?(:create_comment, Event)