.row-fluid
  = render partial: 'contact_events/contact_event', collection: resource.contact_events, locals: {can_delete: can?(:delete_contact, resource), can_edit: can?(:edit_contacts, resource), parent: resource}