- allow_cancel ||= false
#event-results-form.data-form-wrapper
  .details_box.box_event_data
    h3 EVENT DATA

    - fields = resource.campaign.form_fields.includes(:kpi)
    = simple_form_for(resource, remote: true, html: {class: 'event-data-form', data: {'prompt-message' => 'Your post event form has not been saved', 'watch-changes' => true}}) do |f|
      = f.error_notification

      = f.input :summary
      = render partial: 'event_data', locals: {fields: fields, f: f}

      .form-actions
        = f.button :submit, id: 'save-data', class: 'btn-primary', disable_with: 'Please wait...'
        - if allow_cancel
          = "&nbsp;".html_safe
          = f.button :button, 'Cancel', id: 'cancel-edit', class: 'btn btn-cancel'

      = hidden_field_tag :partial, 'event_data'


javascript:
  jQuery(function() {
    if (typeof makeFormValidatable != 'undefined'){
      makeFormValidatable($('form#edit_event_#{resource.id}'));
    }

    $('#save-event-results').click(function(){
      $('form#edit_event_#{resource.id}').submit();
    })
    $('.segment-field').keyup(function(e){
      var total = 0;
      segmentFieldId = $(this).data('segment-field-id');

      $.map($('[data-segment-field-id="' + segmentFieldId + '"].segment-field'), function(element, index){
        if ( $(element).val().match(/^[0-9]+$/) ){
          total += parseInt($(element).val(), 10);
        }
      });

      var progressClass = (total == 100 ? 'progress-success' : (total < 100 ? 'progress-info' : 'progress-danger'))
      var textClass = (total == 100 ? 'text-success' : (total < 100 ? 'text-info' : 'text-error'))
      var progressBarItem = $('#progress-bar-field-' + segmentFieldId)
      var progressBarError = $('#progress-error-' + segmentFieldId)

      progressBarItem
          .removeClass('text-success text-error text-info').addClass(textClass)
          .find('.progress').removeClass('progress-success progress-info progress-danger').addClass(progressClass).end()
          .find('.bar').css({width: total+'%'}).end().find('.counter').text(total+'%');


      $("#total-field-" + segmentFieldId).val(total ? total : '')
      $("#total-field-" + segmentFieldId).valid()
      return true;
    });
    $('.segment-field').keyup();

    $('.form_field_summation').each(function(index, wrapper){
      var
        $wrapper = $(wrapper),
        $options = $wrapper.find('.field-option:not(.summation-total-field) input'),
        $total   = $wrapper.find('.summation-total-field input');
      $options.keyup(function(){
        var total = $.map($options, function(input){
          return parseFloat($(input).val(), 10) || 0;
        }).reduce(function(a, b){ return a + b; }, 0);
        $total.val(total);
      });
      return true;
    });
  });