|
  bootbox.classes('modal-med');
  var editSummaryDialog = bootbox.dialog(
                            $('#{escape_javascript(render "edit_summary")}'),
                            [],
                            {'onEscape': true, animate: (!$.fx.off), header: 'Event Summary'}
                          )