doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yy hh:mm AM/PM"
    Style ss:ID="s3" ss:Name="Hyperlink"
      Font ss:Underline="Single" ss:Color="#0000D4"
    Style ss:ID="s4" ss:Name="ZipCode"
      NumberFormat ss:Format="00000\-0000"
      Alignment ss:Horizontal="Left"

  Worksheet ss:Name="Sheet1"
    Table
      Column ss:Width="160"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="80"
      Column ss:Width="150"
      Column ss:Width="120"
      Column ss:Width="120"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="150"
      Column ss:Width="150"
      Column ss:Width="180"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" CAMPAIGN NAME
        Cell
          Data ss:Type="String" AREA
        Cell
          Data ss:Type="String" START
        Cell
          Data ss:Type="String" END
        Cell
          Data ss:Type="String" DURATION
        Cell
          Data ss:Type="String" VENUE NAME
        Cell
          Data ss:Type="String" ADDRESS
        Cell
          Data ss:Type="String" CITY
        Cell
          Data ss:Type="String" STATE
        Cell
          Data ss:Type="String" ZIP
        Cell
          Data ss:Type="String" ACTIVE STATE
        Cell
          Data ss:Type="String" EVENT STATUS
        Cell
          Data ss:Type="String" TEAM MEMBERS
        Cell
          Data ss:Type="String" CONTACTS
        Cell
          Data ss:Type="String" URL
      - exporter_helper = FormFieldDataExporter.new(current_company_user, search_params, resource_class)
      - each_collection_item do |event|
        Row
          Cell
            Data ss:Type="String"= event.campaign_name
          Cell
            Data ss:Type="String"= exporter_helper.area_for_event(event)
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= event.start_date
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= event.end_date
          Cell
            Data ss:Type="String"= event.promo_hours
          Cell
            Data ss:Type="String"= event.place_name
          Cell
            Data ss:Type="String"= event.place_address
          Cell
            Data ss:Type="String"= event.place_city
          Cell
            Data ss:Type="String"= event.place_state_name
          Cell ss:StyleID="s4"
            Data ss:Type="String"= event.place_zipcode
          Cell
            Data ss:Type="String"= event.status
          Cell
            Data ss:Type="String"= event.event_status
          Cell
            Data ss:Type="String"= event.team_members
          Cell
            Data ss:Type="String"= event.contacts
          Cell ss:StyleID="s3" ss:HRef="#{event.url}"
            Data ss:Type="String"= event.url
