doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yy hh:mm AM/PM"
    Style ss:ID="s3" ss:Name="Hyperlink"
      Font ss:Underline="Single" ss:Color="#0000D4"

  Worksheet ss:Name="Sheet1"
    Table
      Column ss:Width="160"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="150"
      Column ss:Width="120"
      Column ss:Width="120"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="180"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" CAMPAIGN NAME
        Cell
          Data ss:Type="String" AREA
        Cell
          Data ss:Type="String" START
        Cell
          Data ss:Type="String" END
        Cell
          Data ss:Type="String" VENUE NAME
        Cell 
          Data ss:Type="String" ADDRESS
        Cell
          Data ss:Type="String" CITY
        Cell
          Data ss:Type="String" STATE
        Cell
          Data ss:Type="String" ZIP
        Cell
          Data ss:Type="String" ACTIVE STATE
        Cell
          Data ss:Type="String" EVENT STATUS
        Cell
          Data ss:Type="String" TEAM MEMBERS
        Cell
          Data ss:Type="String" URL
      - each_collection_item do |event|
        Row
          Cell
            Data ss:Type="String"= event.campaign_name
          Cell
            Data ss:Type="String"= area_for_event(event)
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= Timeliness.parse(event_date(event, :start_at).strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%FT%R')
          Cell ss:StyleID="s2"
            Data ss:Type="DateTime"= Timeliness.parse(event_date(event, :end_at).strftime('%Y-%m-%d %H:%M:%S'), zone: 'UTC').strftime('%FT%R')
          Cell
            Data ss:Type="String"= event.place_name
          Cell
            Data ss:Type="String"= strip_tags event_place_address(event, false, ', ', ', ')
          Cell
            Data ss:Type="String"= event.place_city
          Cell
            Data ss:Type="String"= event.place_state_name
          Cell
            Data ss:Type="String"= event.place_zipcode
          Cell
            Data ss:Type="String"= event.status
          Cell
            Data ss:Type="String"= event.event_status
          Cell
            Data ss:Type="String"= team_member_for_event event
          - link = url_for_event(event)
          Cell ss:StyleID="s3" ss:HRef="#{link}"
            Data ss:Type="String"= link
