- unless resource.submitted?
  | bootbox.alert('This event cannot be submitted. Please make sure you have entered all the required data');
- else
  | window.location = '#{j event_path(resource, return: return_path).html_safe}';