|
  $(document).trigger('brands:change');
  if ($('table#select-brands-list tr#brand-#{@brand.id}').length){
    pos = selectBrandsTable.fnGetPosition($('table#select-brands-list tr#brand-#{@brand.id}')[0]);
    if (pos!== null){
      selectBrandsTable.fnDeleteRow(pos);
    };
  }