|
  if (typeof brandsTable != 'undefined'){
    brandsTable.fnDestroy();
  }
	$('#brand_portfolio-brands').replaceWith('#{escape_javascript(render(partial: 'brands', locals: {brands: resource.brands}))}')