.row-fluid
  #resource-index-container.no-calendars.span12
    .pull-right
      #resource-filter-column
        .text-right
          = link_to 'Create a brand portfolio', new_resource_path, {remote: true, class: 'btn btn-primary'}
        #collection-list-filters

    table#brand-portfolios-list.table.table-striped.table-bordered.table-scrolled
      thead
        tr
          th data-sort="name" Name
          th data-sort="description" Description
          th data-sort="active" Status
          th
      tbody


javascript:
  $('#collection-list-filters').filterBox({
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_brand_portfolios_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'onChange': function(filterBox){
      if (typeof brandPortfoliosTable != 'undefined')
        brandPortfoliosTable.tableScroller('reloadData');
    }
  });

  var brandPortfoliosTable = $('table#brand-portfolios-list').tableScroller({
    'source': '#{collection_path(format: :json)}',
    'fixedHeader': true,
    'filterBox': '#collection-list-filters',
    'rowValues': function(row){
      return [row.name, row.description, row.status]
    },
    'onItemsChange': function(items) {
      $(document).trigger('brand-portfolios-list:changed', [items]);
    },
    'rowId': function(row){
      return 'brand_portfolio_'+row.id;
    },
    'headerOffset': 91
  })