#venues-search-form-box.form-horizontal
  .row-fluid
    .span6
      .control-group
        label class="control-label" for="venue-search-term"= "I am looking for"
        .controls
          input type="text" placeholder="Enter a place: bars, longues, etc.." name="q" venueholder="bars, lounges, Bar None" id="venue-search-term"
    .span6
      .control-group
        label class="control-label" for="location" Near
        .controls
          input.required type="text" name="location" venueholder="address, city or zip code" id="venue-search-location"
          button#venues-search-btn.btn.btn-primary.pull-right Search

.sidebar.collapsed#resource-filter-column
  #collection-list-filters
  #save-filters-btn.a.btn.btn-primary Save
.main
  .tab-content
    .link-list
      ul#venues-list

= render partial: 'help_tutorial'

javascript:
  var locationAutocomplete = new google.maps.places.Autocomplete($('#venue-search-location')[0], {types: ['(cities)']});

  google.maps.event.addListener(locationAutocomplete, 'place_changed', function() {
    var place = locationAutocomplete.getPlace();
    if (!place.geometry) {
      return false;
    }

    $('#venue-search-location').data('location', place.geometry.location.lat() + ',' + place.geometry.location.lng());
  });

  $('#venues-search-btn').click(function(e){
    e.preventDefault();
    var term = $('#venue-search-term').val()
    var loc = $('#venue-search-location').data('location')
    var $filters = $('#collection-list-filters');
    if (!loc) {
      alert('Please enter a location');
    } else {
      $('#venue-search-location').closest('.control-group').removeClass('error');
      $filters.filteredList('cleanCustomFilters');
      $filters.filteredList('addCustomFilter', 'loc_name', $('#venue-search-location').val(), false);
      $filters.filteredList('addCustomFilter', 'location', loc, false);
      $filters.filteredList('addCustomFilter', 'q', term, true);
      $filters.filteredList('reloadFilters');
    }
    return false;
  });

  $('#venue-search-term, #venue-search-location').keyup(function(e){
    var charCode = (typeof e.which === "number") ? e.which : e.keyCode;
    if (charCode == 13){
      $('#venues-search-btn').click();
    }
  })

  $(document).ready(function(){
    query = window.location.search.replace(/^\?/,"")
    if (query != '') {
      if (query.match(/location=([^&]+)/)){
        var loc = decodeURIComponent(query.replace(/.*location=([^&]+).*/,'$1'))
        var locname = decodeURIComponent(query.replace(/.*loc_name=([^&]+).*/,'$1'))
        var term = decodeURIComponent(query.replace(/.*&q=([^&]*).*/,'$1'))
        if ( loc ) {
          $('#venue-search-location').val(locname);
          $('#venue-search-location').data('location',loc);
          $('#venue-search-term').val(term);
          $filters = $('#collection-list-filters');
          $filters.filteredList('addCustomFilter', 'loc_name', locname, false);
          $filters.filteredList('addCustomFilter', 'location', loc, false);
          $filters.filteredList('addCustomFilter', 'q', term, true);
        }
      }
    }
  })

  $('#collection-list-filters').filteredList({
    'source': '#{items_path(controller: :venues)}',
    'filtersUrl': '#{filters_path(controller: :venues)}',
    'listContainer' : '#venues-list',
    'sorting': 'venue_score',
    'sorting_dir': 'desc',
    'includeCalendars': false,
    'includeAutoComplete': false,
    'autoCompletePath': '#{autocomplete_events_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'onChange': function(filterBox){
      $(document).trigger('events-filter:changed')
    }
  });