= user_new_feature('venues_list') do
  h5 Getting Started: Venues
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/DaWPtXrek-A?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'Welcome to the Venues module! This section holds all of the historical data for specific venues - here you can view venue data, keep track of your accounts, and create new venues. Use the right sidebar to filter for specific venues or create your own using the red  "Create" button. Click on the video to the left for a quick overview or visit our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more information about this section.

#venues-search-form-box.form-horizontal
  .row-fluid
    .span6
      .control-group
        label class="control-label" for="venue-search-term"= "I am looking for"
        .controls
          input type="text" placeholder="Enter a place: bars, longues, etc.." name="q" venueholder="bars, lounges, Bar None" id="venue-search-term"
    .span6
      .control-group
        label class="control-label" for="location" Near
        .controls
          input.required type="text" name="location" venueholder="address, city or zip code" id="venue-search-location"
          button#venues-search-btn.btn.btn-primary.pull-right Search

.sidebar.collapsed#resource-filter-column
  #collection-list-filters
.main
  #list-tools.text-right
    button.btn.download.xlsx-download-link data-url="#{venues_path(format:"xls")}" title="Download" class="hidden" id="venue-download-button"
      span.icon-download
  .tab-content
    #list-view.tab-pane.active
      #venues-totals
      #venues-list.resource-list.without-actions

= render partial: 'help_tutorial'

javascript:
  var locationAutocomplete = new google.maps.places.Autocomplete($('#venue-search-location')[0], {types: ['(cities)']});

  google.maps.event.addListener(locationAutocomplete, 'place_changed', function() {
    var place = locationAutocomplete.getPlace();
    if (!place.geometry) {
      return false;
    }

    $('#venue-search-location').data('location', place.geometry.location.lat() + ',' + place.geometry.location.lng());
  });

  $('#venues-search-btn').click(function(e){
    e.preventDefault();
    var term = $('#venue-search-term').val()
    var loc = $('#venue-search-location').data('location')
    var $filters = $('#collection-list-filters');
    if (!loc) {
      alert('Please enter a location');
    } else {
      $('#venue-search-location').closest('.control-group').removeClass('error');
      $filters.filteredList('cleanCustomFilters');
      $filters.filteredList('addCustomFilter', 'loc_name', $('#venue-search-location').val(), false);
      $filters.filteredList('addCustomFilter', 'location', loc, false);
      $filters.filteredList('addCustomFilter', 'q', term, true);
      $filters.filteredList('reloadFilters');
    }
    return false;
  });

  $('#venue-search-term, #venue-search-location').keyup(function(e){
    var charCode = (typeof e.which === "number") ? e.which : e.keyCode;
    if (charCode == 13){
      $('#venues-search-btn').click();
    }
  })

  $(document).ready(function(){
    query = window.location.search.replace(/^\?/,"")
    if (query != '') {
      if (query.match(/location=([^&]+)/)){
        var loc = decodeURIComponent(query.replace(/.*location=([^&]+).*/,'$1'))
        var locname = decodeURIComponent(query.replace(/.*loc_name=([^&]+).*/,'$1'))
        var term = decodeURIComponent(query.replace(/.*&q=([^&]*).*/,'$1'))
        if ( loc ) {
          $('#venue-search-location').val(locname);
          $('#venue-search-location').data('location',loc);
          $('#venue-search-term').val(term);
          $filters = $('#collection-list-filters');
          $filters.filteredList('addCustomFilter', 'loc_name', locname, false);
          $filters.filteredList('addCustomFilter', 'location', loc, false);
          $filters.filteredList('addCustomFilter', 'q', term, true);
        }
      }
    }
    if($('#venues-list').has('li')){
        $('#venue-download-button').removeClass('hidden');
     }
  })

  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: :venues, action: :items)}',
    'filtersUrl': '#{url_for(controller: :venues, action: :filters)}',
    'listContainer' : '#venues-list',
    'sorting': 'name',
    'sorting_dir': 'asc',
    'includeCalendars': false,
    'includeAutoComplete': false,
    'autoCompletePath': '#{autocomplete_events_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'onChange': function(filterBox){
       $('#venue-download-button').removeClass('hidden');
      $(document).trigger('events-filter:changed')
    },
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="totals-results"]').length > 0){
        $('#venues-totals').html(response.find('div[data-content="totals-results"]').html())
      }
    }
  });