css:
  .resource-list .resource-item {
    font-size: 11px;
    min-height: 80px;
    padding: 5px;
  }
  .score {
    height: 38px !important;
  }
  .score .big-number {
    font-size: 24px !important;
    line-height: 23px !important;
  }
  .venue-stats > div {
    width: 100px !important;
  }
  .venue-stats > div > div {
    font-size: 15px !important;
  }
  .text-large {
    font-size: 15px !important;
  }
  .pdf-label {
    display: block !important;
    font-size: 11px !important;
  }

= render template: 'inherited_resources/base/index'