|
  bootbox.classes('modal-xlarge');
  var selectAreaDialog = bootbox.dialog($('#{escape_javascript(render "select_areas")}'), [
    {
      "label" : 'Create New Area',
      "class" : "btn",
      "callback": function() {
          selectAreaDialog.off('hidden'); // To prevent the div to be removed in case the user returns to the form
          selectAreaDialog.modal('hide');
          $.ajax('#{new_place_area_path(resource.place, format: :js)}');
      }
    },
    {
      "label" : "Close",
      "class" : "btn",
      "callback": function() {
          selectAreaDialog.modal('hide');
      }
    }
  ],{'onEscape': true, animate: (!$.fx.off)})
