table#documents-list.table.table-striped.table-bordered.table-scrolled
  thead
    tr
      th Name
      th Level
      th File Type
      th
  tbody

javascript:

  var documentsTable = $('table#documents-list').tableScroller({
    'source': '#{event_documents_path(event, format: :json)}',
    'fixedHeader': false,
    'rowValues': function(t){
      return [t.name, t.level, t.type]
    },
    'rowId': function(row){
      return 'document_'+row.id;
    },
    actionButtons: ['deletable']
  })
