table#documents-list.table.table-striped.table-bordered.table-scrolled
  thead
    tr
      th Name
      th Level
      th File Type
      th
  tbody

javascript:
  var documentsTable = $('#documents-list').dataTable({
        "sDom": "<'row-fluid'r><'scroll-table-wrapper't>",
        "bPaginate": false,
        "bProcessing": true,
        "bServerSide": false,
        "sAjaxSource": "#{event_documents_path(event, format: :table)}",
        "aoColumns": [
          null,
          null,
          null,
          {"sWidth": '40px', 'bSortable': false}
        ]
  })