.row-fluid
  #resource-index-container.no-calendars.span12
    .pull-right
      #resource-filter-column
        .text-right
          = link_to 'New Date Range', new_resource_path, {remote: true, class: 'btn btn-primary'}
        #collection-list-filters

    table#date-ranges-list.table.table-striped.table-bordered.table-scrolled
      thead
        tr
          th data-sort="name" Name
          th data-sort="description" Description
          th data-sort="status" Status
          th
      tbody


javascript:
  $('#collection-list-filters').filterBox({
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'autoCompletePath': '#{autocomplete_date_ranges_path(format: :json)}',
    'onChange': function(filterBox){
      dateRangesTable.tableScroller('reloadData');
    }
  });
  var dateRangesTable = $('table#date-ranges-list').tableScroller({
    'source': '#{collection_path(format: :json)}',
    'filterBox': '#collection-list-filters',
    'fixedHeader': true,
    'rowValues': function(row){
      return [row.name, row.description, row.status]
    },
    'rowId': function(row){
      return 'date_range_'+row.id;
    },
    'headerOffset': 91,
  })