- remote ||= false
- apply_to ||= ""
= simple_form_for([current_company, @custom_filter], remote: remote || false) do |f|
  = f.hidden_field :apply_to, as: :hidden, value: "#{apply_to}"
  = f.error_notification
  .form-inputs
    .row-fluid
      .span12
        .pull-left
          = f.input :start_date, label: 'Start', wrapper_html: { class: 'visit_event_start_date' } do
            .pull-left
              .event_start_date
                = f.input_field :start_date, :as => :date_picker, label: false
          end
        .to.pull-left to
        .pull-left
          = f.input :end_date, label: 'End', wrapper_html: { class: 'visit_event_end_date' } do
            .pull-left
              .event_end_date
                = f.input_field :end_date, as: :date_picker, label: false
          end
    = f.input :name, :input_html => {class: 'input-xlarge'}
    chosen-campaign
      = f.association :category,  collection: list_categories, input_html: {class: 'chosen-enabled'}, required: true
  .form-actions
    = f.button :submit,class: 'btn-primary', data: {disable_with: 'Please wait...'}
    = f.button :button, 'Cancel', class: 'btn-cancel'

javascript:
  val = $('#calendar_start_date').text();
  $('#event_start_date').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: "mm/dd/yy",
    defaultDate: $('#calendar_start_date').data('date'),
    onClose: function( selectedDate ) {
      var pattern = /(\d{2})\/(\d{2})\/(\d{4})/;
      var prevDate = $('#event_start_date').data('previous-date');
      var startDate = $('#event_start_date').datepicker( "getDate" );
      var endDate = $('#event_end_date').datepicker( "getDate" );
      if (prevDate && endDate) {
        var diff =  Math.abs(endDate.getTime() - prevDate.getTime());
        var ed = new Date();
        ed.setTime(startDate.getTime() + diff)
        $('#event_end_date').datepicker("setDate", ed);
      }
      $('#event_start_date').data('previous-date', startDate);
    }
  }).data('previous-date',  $('#event_start_date').datepicker( "getDate" ));

  $('#event_end_date').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: "mm/dd/yy",
  });

  $("#custom_filter_category_id").chosen().change(function(e){
    if ($(this).chosen().find(":selected").attr('class') == "new_category_bt") {
      $.get('#{new_custom_filters_category_path(format: :js)}');
    }
  });