li id='custom-filter-#{custom_filter.id}'
  = custom_filter.name
  span = link_to '', custom_filter_path(custom_filter, apply_to: custom_filter.apply_to), remote: true, method: :delete, title: 'Remove Custom Filter', class: 'icon-trash pull-right'