#saved-filters-container.resource-list.select-list.single-line.max-items-4.compact
  = render partial: 'custom_filters/custom_filter', collection: current_company_user.custom_filters.by_type(apply_to)