- if resource.owner.is_a?(Company)
  = render partial: 'custom_filters/company_form', locals: {remote: true, apply_to: params[:apply_to]}
- else
  = render partial: 'custom_filters/user_form', locals: {remote: true}
