|
  bootbox.classes('modal-large settings-filters');
  var configCustomFilters = bootbox.dialog("#{j render(partial: 'configure', locals: {apply_to: params[:apply_to]})}", [
    {
      "label" : 'Done',
      "class" : "btn btn btn-primary",
      "callback": function() {
        configCustomFilters.modal('hide');
      }
    },
    {
      "label" : "Cancel",
      "class" : "btn btn btn-cancel",
      "callback": function() {
        configCustomFilters.modal('hide');
      }
    }
  ], {header: 'Filtering options', 'onEscape': true, animate: (!$.fx.off)});