- render 'settings'
- if resource.errors.any?
  = render 'form_dialog'
- else
  |
    //- if resource.owner.is_a?(Company)
    $('#collection-list-filters').filteredList('setSavedFilters', #{user_saved_filters(resource.apply_to).to_json.html_safe}, '#{ resource.id }');
    $.get('#{list_filters_custom_filters_categories_path(format: :json)}', function(response) {
      customFiltersList(response)
    });
    $('.bootbox.modal').modal('hide');
