|
  $('#saved-filters-container').replaceWith('#{j render(partial: 'custom_filters', locals: {apply_to: params[:apply_to]})}')
  $('#collection-list-filters').filteredList('setSavedFilters', #{user_saved_filters(resource.apply_to).to_json.html_safe});