|
  $("#thumbnail_#{parent.id}").data("tags", #{raw(to_select2_tag_format(parent.tags).to_json).html_safe});

- if params[:id] != resource.id  # Means that the tag was created
  | $("div.gallery").photoGallery('updateTags', #{raw company_tags.to_json});