- if resource.errors.any?
  = render 'form_dialog'
- else
  |
    $('.bootbox.modal').modal('hide');
    if (typeof dateitemsTable != 'undefined'){
      dateitemsTable.tableScroller('reloadData');
    }
    $(document).trigger('date_items:change');