.row-fluid
  #resource-index-container.no-calendars.span12
    .pull-right
      #resource-filter-column
        .text-right
          = link_to 'Create an area', new_area_path, {remote: true, class: 'btn btn-primary'}
        #collection-list-filters

    table#areas-list.table.table-striped.table-bordered.table-scrolled
      thead
        tr
          th data-sort="name" Name
          th data-sort="description" Description
          th data-sort="active" Status
          th
      tbody

javascript:
  $('#collection-list-filters').filterBox({
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_areas_path(format: :json)}',
    'onChange': function(filterBox){
      if (typeof areasTable != 'undefined')
        areasTable.tableScroller('reloadData');
    }
  });

  var areasTable = $('table#areas-list').tableScroller({
    'source': '#{areas_path(format: :json)}',
    'fixedHeader': true,
    'filterBox': '#collection-list-filters',
    'rowValues': function(t){
      return [t.name, t.description, t.status]
    },
    'onItemsChange': function(items) {
      $(document).trigger('areas-list:changed',[items]);
    },
    'rowId': function(row){
      return 'area_'+row.id;
    },
    'headerOffset': 91
  })