- if resource.errors.any?
  = render 'form_dialog'
- else
  |
    $('.bootbox.modal').modal('hide');
    if (typeof usersTable != 'undefined'){
      usersTable.tableScroller('reloadData');
    }
    $(document).trigger('users:change');