- if resource.errors.any?
  = render 'form_dialog'
- else
  |
    $('.bootbox.modal').modal('hide');
    if (typeof companyUsersTable != 'undefined'){
      companyUsersTable.tableScroller('reloadData');
    }
    $(document).trigger('users:change');