- content_for :alerts
  div class="alert collection-list-description"
    a.close data-dismiss="alert" 
    .filter-label

= render_navigation(renderer: :bootstrap, level: 2, skip_if_empty: true, nav_class: 'nav-tabs')
.sidebar#resource-filter-column
  #collection-list-filters
  a.btn.btn-primary Save

.main
  .tab-content
    #list-view.tab-pane.active
      .photo-list
        ul.thumbnails id="#{controller_name}-list"

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{items_path(controller: controller_name)}',
    'filtersUrl': '#{filters_path(controller: controller_name)}',
    'listContainer': '##{controller_name}-list',
    'sorting': 'created_at',
    'sorting_dir': 'desc',
    'includeCalendars': true,
    'selectDefaultDate': false,
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{url_for(controller: controller_name, action: :autocomplete, format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="filters-description"]').length > 0){
        $('.collection-list-description .filter-label').html(response.find('div[data-content="filters-description"]'))
      }
    }
  });
