.details_box
  h3
  	| ALL MENTIONS OF
  	span.blue #{@term.upcase}

  #all-mentions-list-filter
    // This div is only to be used for the filtered list, should not be removed

  #all-mentions-list.row-fluid.mentions

javascript:
  $('#all-mentions-list-filter').filteredList({
    'source': '#{analysis_mentions_path}',
    'filtersUrl': false,
    'listContainer' : '#all-mentions-list',
    'sorting': 'start_at',
    'sorting_dir': 'desc',
    'defaultParams': [],
    'clearFilterParams': []
  });