.sidebar.collapsed#resource-filter-column
  #collection-list-filters

.main
  h4 TERMS
  #terms-container
    form.form-inline
      input.form-control placeholder=("Add term or phrase") type="text" /
      button.btn.btn-default type="submit" +
    legend
      .key LOSING
      .key STABLE
      .key GAINING 
  #bubble-container

javascript:
  var plot = Bubbles();

  $('#collection-list-filters').filteredList({
    'source': '#{analysis_trends_items_path}',
    'filtersUrl': '#{analysis_trends_filters_path}',
    'listContainer' : '#events-list',
    'sorting': 'start_at',
    'sorting_dir': 'asc',
    'includeCalendars': true,
    'selectDefaultDate': false,
    'selectDefaultDateRange': false,
    'defaultParams': [],
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_events_path(format: :json)}',
    'onChange': function(filterBox){
      $(document).trigger('events-filter:changed')
    },
    'onItemsLoad': function(response, page){
      $("#bubble-container").html('')
      plotData("#bubble-container", response, plot)
    }
  });