= link_to "Add Day part", new_day_part_campaign_path(resource), remote: true, id: 'add-day-part-btn', class: 'btn btn-primary', title: 'Add Day part'
= render layout: 'goalable_list', locals: { goalables: resource.day_parts, kpis: resource.active_kpis, activity_types: resource.activity_types } do |day_part|
  = link_to '', delete_day_part_campaign_path(resource, day_part), remote: true, method: :delete, class: 'icon-remove-sign'