- campaign ||= nil
table#campaign-kpis-list.table.table-striped.table-bordered.table-scrolled
  thead
    tr
      th.actions
      th data-sort="name" KPI
      th data-sort="description" Description
      th data-sort="" Goal
  tbody
    - Kpi.global_and_custom(current_company).each do |kpi|
      tr id="campaign-kpi-#{kpi.id}"
        td
          div.btn-group.active-deactive-toggle
            = link_to 'On', '#', id: "toggle-kpi-on-#{kpi.id}", class: "btn btn-small set-kpi-on-btn", 'data-kpi-id' => kpi.id
            = link_to 'Off', '#', id: "toggle-kpi-off-#{kpi.id}", class: "btn btn-small set-kpi-off-btn btn-danger active", 'data-kpi-id' => kpi.id
        td= link_to kpi.name, edit_campaign_kpi_path(resource, kpi.id), remote: true
        td= kpi.description
        td

.row-fluid
  .pull-right
    = link_to 'Add Custom KPI', new_campaign_kpi_path(resource), remote: true, class: 'btn btn-primary'

javascript:
  kpisTable = $('#campaign-kpis-list').dataTable({
        "sDom": "<'row-fluid'r>t",
        "bPaginate": false,
        "bProcessing": true,
        "bAutoWidth": false,
        "bDestroy": true,
        "aoColumns": [
          null,
          null,
          null,
          {"sWidth": '50px', 'bSortable': false}
        ]
  });


  $('.set-kpi-off-btn').click(function(e){
    FormBuilder.deactivateKpi($(this).data('kpi-id'));
    return false;
  });
  $('.set-kpi-on-btn').click(function(e){
    FormBuilder.activateKpi($(this).data('kpi-id'));
    return false;
  });

  $(document).on('form-builder:kpi-added', function(e, kpi_id){
    $('a#toggle-kpi-on-'+ kpi_id).addClass('btn-success active');
    $('a#toggle-kpi-off-'+ kpi_id).removeClass('btn-danger active');
    return false;
  })
  $(document).on('form-builder:kpi-removed', function(e, kpi_id){
    $('a#toggle-kpi-on-'+ kpi_id).removeClass('btn-success active');
    $('a#toggle-kpi-off-'+ kpi_id).addClass('btn-danger active');
    return false;
  })