= link_to "Add Places", new_campaign_placeable_path(resource), remote: true, class: 'btn btn-primary', title: 'Add Staff'
= render partial: 'goalable_list', locals: { goalables: resource.areas_and_places, kpis: resource.active_kpis }