#content-with-left-nav
  #content-left-nav.pull-left
    = render 'admin_navigation'

  .row-fluid
    #resource-index-container.no-calendars.span12
      .pull-right
        #resource-filter-column
          .text-right
            = link_to 'New Campaign', new_campaign_path, {remote: true, class: 'btn btn-primary'}
          #collection-list-filters

      table#campaigns-list.table.table-striped.table-bordered.table-scrolled
        thead
          tr
            th data-sort="name" Name
            th data-sort="description" Description
            th First Event
            th Last Event
            th data-sort="status" Status
            th
        tbody


javascript:
  $('#collection-list-filters').filterBox({
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_campaigns_path(format: :json)}',
    'onChange': function(filterBox){
      if (typeof campaignsTable != 'undefined')
        campaignsTable.tableScroller('reloadData');
    }
  });
  var campaignsTable = $('table#campaigns-list').tableScroller({
    'source': '#{campaigns_path(format: :json)}',
    'fixedHeader': true,
    'filterBox': '#collection-list-filters',
    'rowValues': function(c){
      return [c.name, c.description, c.first_event, c.last_event, c.status]
    },
    'onItemsChange': function(items) {
      $(document).trigger('campaigns-list:changed',[items]);
    },
    'rowId': function(row){
      return 'campaign_'+row.id;
    },
    'headerOffset': 91
  })