/* Smoothness style sheet for jQuery Datepicker v4.1.0. */

.datepick {
	background-color: #fff;
	color: #222;
	border: 1px solid #aaa;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
}

.datepick-rtl {
	direction: rtl;
}

.datepick-popup {
	z-index: 1000;
}

.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.datepick {
	a {
		color: #222;
		text-decoration: none;
		&.datepick-disabled {
			color: #888;
			cursor: auto;
		}
	}
	button {
		margin: 0.25em;
		padding: 0.125em 0em;
		background-color: #fcc;
		border: none;
		border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		font-weight: bold;
	}
}

.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #fff;
	font-size: 90%;
	font-weight: bold;
}

.datepick-nav {
	position: relative;
	height: 0;
	.datepick-cmd {
		width: 30px;
	}
}

.datepick-ctrl {
	background-color: #fee6e3;
}

.datepick-cmd {
	width: 30%;
	&:hover {
		background-color: #e0e0e0;
	}
}

.datepick-ctrl .datepick-cmd:hover {
	background-color: #f08080;
}

.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}

a.datepick-cmd {
	height: 1.5em;
}

button.datepick-cmd {
	text-align: center;
}

.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}

.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}

.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}

.datepick-rtl {
	.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
		float: right;
		padding-left: 0%;
		padding-right: 2%;
		text-align: right;
	}
	.datepick-cmd-current, .datepick-cmd-today {
		float: right;
	}
	.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
		float: left;
		padding-left: 2%;
		padding-right: 0%;
		text-align: left;
	}
}

.datepick-month-nav {
	float: left;
	text-align: center;
	div {
		float: left;
		width: 12.5%;
		margin: 1%;
		padding: 1%;
	}
	span {
		color: #888;
	}
}

.datepick-month-row {
	clear: left;
}

.datepick-month {
	float: left;
	width: 15em;
	border: 1px solid #aaa;
	text-align: center;
}

.datepick-month-header {
	height: 1.5em;
	background-color: #e0e0e0;
	color: #222;
	font-weight: bold;
	select, input {
		height: 1.5em;
		background-color: #e0e0e0;
		color: #222;
		font-weight: bold;
	}
	select {
		height: 1.4em;
		border: none;
	}
	input {
		height: 1.4em;
		border: none;
		position: absolute;
		display: none;
	}
}

.datepick-month {
	table {
		width: 100%;
		border-collapse: collapse;
	}
	thead {
		border-bottom: 1px solid #aaa;
	}
	th, td {
		margin: 0em;
		padding: 0em;
		font-weight: normal;
		text-align: center;
	}
	thead tr {
		border: 1px solid #aaa;
	}
	td {
		background-color: #eee;
		border: 1px solid #aaa;
		padding: 2px;
		border: none;
		&.datepick-week * {
			background-color: #e0e0e0;
			color: #222;
			border: none;
		}
	}
	a {
		display: block;
		width: 100%;
		padding: 0.125em 0em;
		background-color: #eee;
		color: #000;
		text-decoration: none;
		border-radius: 3px;
	}
	span {
		display: block;
		width: 100%;
		padding: 0.125em 0em;
	}
	td {
		span {
			color: #888;
		}
		.datepick-other-month {
			background-color: #fff;
		}
		.datepick-weekend {
			background-color: #ddd;
		}
		.datepick-today {
			background-color: #fbf9ee;
		}
		.datepick-highlight {
			background-color: #dadada;
		}
		.datepick-selected {
			background-color: #fcc;
		}
	}
}

.datepick-status {
	clear: both;
	text-align: center;
}

.datepick-clear-fix {
	clear: both;
}