.scroll-table-wrapper {
	max-height: 200px;
	overflow: auto;
	margin-bottom: 20px;
}

.bar-completed {
	background-color: #008000;
	background: #228b22; /* Old browsers */
	background: -moz-linear-gradient(top,  #228b22 0%, #006400 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228b22), color-stop(100%,#006400)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #228b22 0%,#006400 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228b22', endColorstr='#006400',GradientType=0 ) !important; /* IE6-9 */
	background-repeat: repeat-x;
}

.bar-assigned {
	background-color: #808080;
	background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9a9a9 0%, #696969 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a9a9), color-stop(100%,#696969)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #a9a9a9 0%,#696969 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#696969',GradientType=0 ) !important; /* IE6-9 */
	background-repeat: repeat-x;
}

.bar-unassigned {
	font-size: 12px;
	text-align: center;
	float: left;

#post-event-form-builder {
	#droppable {
		min-height: 100px;
	}
	.widget-list {
		.draggable {
			height: 60px;
			border: 1px solid #ccc;
		}
		.widget-media {

		}
	}
}