@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'menu';
	src:url('/assets/font/menu.eot');
	src:url('/assets/font/menu.eot?#iefix') format('embedded-opentype'),
		url('/assets/font/menu.woff') format('woff'),
		url('/assets/font/menu.ttf') format('truetype'),
		url('/assets/font/menu.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*-- COLOR PALETTE --*/
@app_bg: #ececec;
@brand:#989898;
@grey_three:#7a7a7a;
@header:#363636;
@menu:#4f4f4f;
@text:#666666;
@user_menu:#c0c0c0;

/*-- FONT FAMILY STYLES --*/
@baseFontFamily:'Lato', sans-serif;

/*-- GENERAL STYLES --*/

#analysis a:before {
	bottom:8px;
	content: "\e004";
  	display: block;
	font-family: 'menu';
	font-size: 28px;
	padding-top:25px;
  	position: relative;
	speak: none;
	text-align: center;
  	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
#dashboard a:before {
	bottom:8px;
	content: "\e003";
  	display: block;
	font-family: 'menu';
	font-size: 28px;
	padding-top:25px;
  	position: relative;
	speak: none;
	text-align: center;
  	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
#events a:before {
	bottom:8px;
	content: "\e002";
  	display: block;
	font-family: 'menu';
	font-size: 28px;
	left:3px;
	padding-top:25px;
  	position: relative;
	speak: none;
	text-align: center;
  	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
#tasks a:before {
	bottom:8px;
	content: "\e001";
  	display: block;
	font-family: 'menu';
	font-size: 28px;
	left:3px;
	padding-top:25px;
  	position: relative;
	speak: none;
	text-align: center;
  	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
}
#application-content {
	padding: 0 10px;
}

a{
	color:@user_menu;
}
body{
	background: @app_bg url('bg.png') repeat-y left; 
	color:@text;
	font-family: @baseFontFamily;
	padding-top: 41px;
}
.container-fluid{
	padding: 0;
}
header{
	background-color: @header;
	height: 41px;
}

h1, h2, h3{
	line-height: 0;
}
.white-bg{
	background-color: white;
}

.nav{
	margin-bottom: 0;
}
.nav .dropdown-toggle:hover,
.nav .dropdown-toggle:focus {
	background-color: @menu;
	border-radius: 0;
	color: @user_menu;
	height: 19px;
	margin: 0;
	padding-top: 14px;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus{
	background-color: @menu;
	border-radius: 0;
	color: @user_menu;
	height: 19px;
	margin: 0;
	padding-top: 14px;
}
.nav .dropdown-toggle .caret {
	border-top-color: @user_menu;
	border-bottom-color: @user_menu;
	margin-top: 6px;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
	border-top-color: @user_menu;
	border-bottom-color: @user_menu;
}
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret{
	border-top-color: @user_menu;
	border-bottom-color: @user_menu;	
}
.nav-pills>li>a {
	padding-top: 12px;
}
.nav-stacked{
	li a{
		color:@grey_three;
		height: 75px;
	}
	li a:hover{
		background-color: @app_bg;
	}
}
.menu{
	background-color: @menu;
	float: left;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	width:80px;
	.dropdown-toggle:hover{
		height: 75px;
		padding-top:0;
	}
}
.container{
	min-height: 300px;
	padding: 60px 0px 10px 80px;
	width: auto;
}
.main{
	background-color: white;
	box-sizing: border-box;
	height: 500px;  
	margin-right: 240px;
	padding: 13px 10px 10px 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.sidebar{
	background:white;
	float:right;
	height: 500px;
	min-height: 300px;
	padding:13px 10px 10px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width:210px;
}
.box{
	border:red;
	width:100%;
}

input.search-query {
  background-color: @brand;
  color: white;
  height:28px;
  margin-bottom: 17px;
  padding-right: 8px;
  padding-right: 8px \9;
  padding-left: 8px;
  padding-left: 8px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  width:193px;
}

#company-name {
	padding: 5px 0 0 25px;
	a {
		color: @brand;
		font-size: 24px;
		font-weight: 400;
		text-decoration: none;
	}
}

#top-admin-home-navigation {
	a {
		margin-right: 10px;
	}
	#home.active {
		display: none;
	}
}

#resource-index-container {
	padding-right: 250px;
	#resource-filter-column {
		float:left;
		width: 250px;
		margin-right: -260px;
		input[type="text"] {
			width: 230px;
		}
		input.search-query {
			width: 220px;
		}
	}
}

.filter-box {
	form {
		margin: 0;
	}
	input[name=with_text] {
		margin: 5px 0;
	}
	ul {
		margin: 0 0 10px 0;
		li {
			list-style: none;
		}
	}
	.search-filter-label {
		cursor: text;
		border: 1px solid #dddddd !important;
		border-radius: 15px;
		padding: 4px 14px;
		background-color: #fff;
		margin: 5px 0;
	}

	.filter-wrapper {
		li ul {
			display: none;
		}
	}
	.sf-menu {
		z-index: 1000;
		input[type=checkbox] {
			display: none;
		}
		.options-list-group{
			font-weight: bold;
		}
	}


}

#resource-close-details {
	margin-bottom: -40px;
	background-color: #999;
	color:  #fff;
	width: 100%;
	z-index: 200;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.15);
	.close {
		float: left;
		margin: -3px 10px 0 10px;
	}
	.details-bar-pull-right {
		float: right;
		margin: 0 10px 0 10px;
	}
	a {
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		text-decoration: none;
		color: #fff;
	}
}
#application-content.with_details_bar {
	margin-top: 50px;
}

#content-with-left-nav {
	padding-left: 190px;
	#content-left-nav {
		margin-left: -180px;
		width: 180px;
		float: left;
	}

	&.events-index {
		padding-left: 140px;
		#content-left-nav {
			margin-left: -130px;
			width: 130px;
		}
	}
}

// RESOURCE MODALS
.modal {
	.modal-body {
		max-height: 800px;
	}
}

table.table {
	tbody {
		tr {
			&:hover td {
				background-color: #49afcd !important;
			}
		}
	}
}

table.dataTable, table.tableScroller {
	width: 100%;
	table-layout:fixed;
	thead {
		background-color: #fff;
	}

	th.actions {
		width: 110px;
	}

	&#tasks-list .actions {
		width: 180px;
	}

	th, td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td.has_link {
		padding: 0;
		a {
			padding: 8px;
			display: block;
			text-decoration: none;
			color: #646464;
		}
	}
}

.scroll-table-wrapper {
	max-height: 200px;
	overflow: auto;
	margin-bottom: 20px;
}

.bar-completed {
	background-color: #008000;
	background: #228b22; /* Old browsers */
	background: -moz-linear-gradient(top,  #228b22 0%, #006400 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#228b22), color-stop(100%,#006400)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #228b22 0%,#006400 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #228b22 0%,#006400 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228b22', endColorstr='#006400',GradientType=0 ) !important; /* IE6-9 */
	background-repeat: repeat-x;
}

.bar-assigned {
	background-color: #808080;
	background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9a9a9 0%, #696969 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a9a9), color-stop(100%,#696969)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9a9a9 0%,#696969 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #a9a9a9 0%,#696969 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#696969',GradientType=0 ) !important; /* IE6-9 */
	background-repeat: repeat-x;
}

.modal {
	&.modal-xlarge {
		width: 900px;
		margin-left: -450px;
	}
	&.modal-large {
		width: 700px;
		margin-left: -355px;
	}
	&.modal-med {
		width: 440px;
		margin-left: -225px;
	}
	&.modal-small {
		width: 252px;
		margin-left: -126px;
	}
	&.modal-mini {
		width: 200px;
		margin-left: -430px;
	}
}
.bar-unassigned {
	font-size: 12px;
	text-align: center;
	float: left;
}

body.events.show {
	#map-canvas {
        margin: 0;
        padding: 0;
        height: 300px;
    }
	.team-member, .document {
		width: 300px;
		padding: 5px 0;
		.pull-left {
			margin-right: 10px;
		}
		.remove-member-btn {
			display: none;
		}
		&:hover {
			.remove-member-btn {
				display: block;
			}
		}
	}
	address {
		margin-bottom: 5px;
	}
}


#post-event-form-builder {
	#droppable {
		min-height: 100px;
	}
	.widget-list {
		.draggable {
			height: 60px;
			border: 1px solid #ccc;
		}
		.widget-media {

		}
	}
}


// Forms inside Data Tables
table.table form {
	margin: 0;
 	.control-group {
		margin: 0;
	}
}

// Comments inside Data Tables
table.table td.comments-container {
	background-color: #ffffff !important;
}

#comment-form-container .form-inputs {
	margin-left: 0;
}

// For google places api
.pac-container {
	z-index: 1200 !important;
}

.google-map {
	img {
		max-width: none;
	}
}

// Events Calendar picker
.datepick-month td .datepick-selected {
	background-color: #2FABE9 !important;
}

// Simple Form
.help-block {
  font-size: 12px;
  color: #A0A0A0;
}


.task-counter-item {
	width: auto;
	margin-right: 20px;
	float: left;
}

.ui-autocomplete {
	.ui-autocomplete-category {
		font-weight: bold;
	}
	.ui-menu-item {
		i {
			font-weight: bold;
			font-style:normal;
			color: #2FABE9;
		}
	}
}

#new_place {

	margin: 0px;

	label.location {
		width: auto;
	}

	.controls {
		margin-left: 50px;
	}

	div.location {
		margin-right: 10px;
	}
}

/*  dates/times */
span.week_day {
	text-transform:uppercase;
}


.checkbox-columns {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

/*-- MEDIA QUERIES --*/

@media (max-width: 979px) {
	.checkbox-columns {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 779px) {
	.checkbox-columns {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 479px) {
	.checkbox-columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}