@import "variables";

.campaigns.show {
	.nav-tabs li a {
		padding-left: 6px;
		padding-right: 6px;
		width: 100px;
	}
	.kpis-list {
		list-style: none;
		span{
			&.kpis-container{
				display: table-cell;
				height: 85px;
				vertical-align: middle;
			}
			&.kpi-goal, &.kpi-info {
				font-size: 16px;
				width: 280px;
			}
			&.kpi-info{
				margin-left: 15px;
			}
			&.pull-right{
				top: 0;
			}
			&.on-off-switch {
				width: 100px;
				height: 60px;
				float: left;
				padding-top: 10px;
			}
		}

		.kpi-goals-list {
			li {
				border: none;
				font-size: 11px;
				min-height: 0;
				.segment_name{
					text-transform: uppercase;
				}
				.value{
					font-size: 16px;
					line-height: 16px;
					padding-right: 5px;
				}
			}
		}
	}

	.kpi_modal {
		form {
			#similar-kpi-message {
				margin-bottom: 12px;
				color: #B94A48;
			}

			.control-group {
				width: 100%;
				label{
					display: inline-block;
				}
			}

			#kpisegment-fields, #kpigoal-fields {
				input {
					margin: 0 10px 10px 0;
					float: left;
				}
			}
		}
	}
}
