.campaigns.show {
	#kpis-list {
		list-style: none;
		span.on-off-switch {
			width: 100px;
			height: 60px;
			float: left;
			padding-top: 10px;
		}

		span.kpi-goal {
			width: 200px;
			float: right;
		}

		.kpi-goals-list {
			li {
				border: none;
				min-height: 0;
			}
		}
	}

	// This is where the form field attributes are displayed when
	// a field is selected on the form builder
	.field-attributes-panel {
		background-color: #dfdfdf;
		border-radius: 5px;
		padding: 10px;
		margin-left: 40px;

		input[type=text] {
			background-color: #fff !important;
		}

		.arrow-left {
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:10px solid #dfdfdf;
			position: absolute;
			top:40px;
			left: -10px;
		}

		.field-not-customizable-message {
			padding: 40px 50px;
		}
	}

	#post-event-form-builder {
		background-color: #fff;
		border: 1px solid #ccc;
		width: 850px;
		margin: 0;

		// Icons for the modules
		.icon-consumer_reach:before{content:"\f118";}
		.icon-consumer_reach{*zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf118;')" }
		.icon-demographics:before{content:"\f0c0";}
		.icon-demographics:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c0;')" }
		.icon-competitive_analysis:before{content:"\f0ac";}
		.icon-competitive_analysis:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ac;')" }
		.icon-expenses:before{content:"\f0d6";}
		.icon-expenses:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d6;')" }
		.icon-photos:before{content:"\f083";}
		.icon-photos:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf083;')" }
		.icon-surveys:before{content:"\f046";}
		.icon-surveys:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf046;')" }
		.icon-videos:before{content:"\f03d";}
		.icon-videos:before{ *zoom: ~"expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03d;')" }

		.tab-content {
			overflow: visible;
		}

		ul.nav-tabs {
			background-color: #ccc;
		}

		.action-buttons {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
		}

		#form-wrapper {
			display: inline-block;
			width: 500px;
			min-height: 500px;

			div.empty-form-legend {
				display: none;
				padding: 50px 30px;
				text-align: center;
			}

			div.empty-form-legend:first-child:last-child {
			    display: block;
			}

			.field {	
				position: relative;
				border-radius: 5px;
				padding: 10px;
				&:hover {
					border: 1px dashed #ccc;

					.action-buttons {
						display: block;
					}
				}
			}

			.module-photos {
				.icon-picture {
					font-size: 40px;
					padding: 30px;
				}
			}

			.module-videos {
				.icon-facetime-video {
					font-size: 40px;
					padding: 30px;
				}
			}

			.selected {
				background-color: #dfdfdf;
			}
		}
	}

	.PercentageField {
		input[type=text] {
			width: 30px;
		}
	}

	.kpi_modal {
		form {
			#similar-kpi-message {
				margin-bottom: 12px;
				color: #B94A48;
			}

			.control-group {
				width: 100%;
			}

			#kpisegment-fields, #kpigoal-fields {
				input {
					margin: 0 10px 10px 0;
					float: left;
				}
			}
		}
	}

}
