
/*Internet Explorer----------------------------------*/
.msie{

} 

/*Mozilla Firefox----------------------------------*/
.mozilla{
	.btn.map:after{
		font-size: 14px;
	}
	.datepick{
		margin-bottom: 10px;
	}
	.link-list b{
		top:0;
	}
	.search-filter-label, input.search-query{
		margin-bottom: 0;
	}
} 

/*Webkit Browsers----------------------------------*/
.webkit{

} 

/*Opera--------------------------------------------*/
.opera{

}