@import "variables";

// DASHBOARD STYLES

.dashboard.index {
	#gender-graph{
		margin-top: 40px;
	}

	h3{
		margin-bottom: 20px;
	}

	.kpi-trends-stats{
		margin-top: 115px;
	}

	#map-canvas {
		border:1px solid $user_menu;
		height: 500px;
		margin-top: 15px;
	}

	p{
		max-width: 340px;
		&.help-block {
			width: auto;
		}
	}

	.modal-header{
		h3{
			margin-bottom: 0px;
		}
	}

	.help-title{
		p{
			width: auto;
		}
	}

	#upcomming-events-module {
		.tab-content {
			margin-bottom: 20px;
		}
	}

	#incomplete-tasks-module {

		.link-list{
			margin-bottom: 20px;
		}

		.tab-content {
			width: auto;
		}
		.details_box {
			border-top-left-radius: 0;
		}
	}

	#venue-performance-module {
		.link-list{
			border: 0;
			margin-top: 30px;
			li {
				border: 0;
				a{
					padding-left: 0;
					&:hover{
						background-color: white;
					}
				}
			}
		}
		.score-list {
			list-style: none;
			margin: 0;
			padding: 0;

			div.score {
				color: $venues_blue;
				font-size: 11px;
				width: 70px;
				display: inline-block;
				float: left;
				height: 100%;
				 span {
				 	font-size: 35px;
				 	font-weight: 200;
				 	display: block;
				 	clear: both;
				 	line-height: 35px;
				 	margin-left: -2px;
				 }
			}

			div.info {
				color: $text;
				display: inline-block;
				font-size: 12px;
				h4 {
					font-size: 16px;
					font-weight: normal;
					margin: 0 0 5px 0;
				}
			}
		}
		.span6{
			margin-top: 25px;
		}
	}

	#age-graph {
		width: 480px;
		height: 270px;
	}

	#demographics-module{
		.span6.ethnicity{
			margin: 0;
		}
	}

	#kpis-trends-module {
		overflow: hidden;
	}


	#kpis-trends-bars {
		margin-right: 350px;
		.name {
			display: inline-block;
			margin-right: 20px;
		}
		.container-kpi-trend{
			margin-top: 50px;
			margin-left: 20px;
		}

		.kpi-trend {
			margin-bottom: 30px;
			overflow: visible;

			.goal-label {
				white-space: nowrap;
				position: absolute;
				right: 0;
				top: -30px;
				div {
					margin-left: 50%;
				}
			}
		}

		.chart-bar {
			position: relative;
			display: inline-block;
			width: 100%;
			.progress {
				width: auto !important;
				height: 25px;
				.bar {
					text-align: right;
					text-shadow:none;
					span.percentage {
						margin-left: 10px;
						margin-right: 10px;
						line-height: 26px
					}
				}
				.bar-executed {
					background-color: $green !important;
				}
				.bar-remaining {
					color: $venues_blue;
				}
			}

			.today-line-indicator {
				position: absolute;
				width: 2px;
				opacity: 0.6;
				background-color: $grey_three;
				height: 30px;
				top: -3px;
				border:1px solid $grey_three;
				border-radius: 2px;
			}
			.bar-indicator {
				position: absolute;
				width: 3px;
				background-color: $grey_three;
				height: 35px;
				&.goal-indicator{
					top: -10px;
				}
			}
			.executed-label {
				white-space: nowrap;
				display: inline-block;
				margin-right: 50%;
				div {
					margin-left: -50%;
				}
			}
			.scheduled-label {
				white-space: nowrap;
				display: inline-block;
				text-align: right;
				margin-left: -50%;
				div {
					margin-right: -50%;
				}
			}
			.remaining-label {
				position: absolute;
				right: -350px;
				width: 300px;
				top: 0;
				b {
					display: inline-block;
					height: 40px;
					font-size: 20px;
					float: left;
					width: 150px;
					text-align: right;
					margin-right: 10px
				}
				span {
					display: block;
				}
			}
		}
	}

	#campaign-overview-module {
		#campaign-overview-table {
			border: 1px solid $grey_two;
			.row-fluid {
				height: 30px;
			}

			.span4 span {
				margin-left: 15px;
			}
			a {
				color: $text;
				&:hover {
					text-decoration: underline;
				}
			}

			.campaigns-header, .header-row {
				height: 60px;
			}
			.header-row {
				border-bottom: 1px solid $grey_two;				
			}
			.month-name {
				background-color: $brand;
				color: #fff;
			}
			.row {
				margin-left: -33px;
			}
			.campaigns-header {
				border-right: 1px solid $grey_two;
				span {
					margin-top: 20px;
					display: block;
				}
			}
			.month>.row, .campaign-name {
				border-right: 1px solid $grey_two;
				height: 30px;
			}
			.header-row {
				.month>.row.month-name {
					border-right: none;
					span {
						margin-left: 10px;
					}
				}
			}
			.week {
				float: left;
				width: 25%;
				span.week-marker {
					height: 10px;
					border-radius: 5px;
					width: 10px;
					display: block;
					margin: 5px auto 0 auto;
				}
				&.in-range span.week-marker {
					background-color: $grey_one;
				}
				&.in-range:hover span.week-marker {
					background-color: $grey_three;
				}
				&.with-events span.week-marker {
					background-color: $blue;
					width: 100%;
					border-radius: 0px;
					margin: 5px 0 0 0;
				}
				&.with-events.first-in-series span.week-marker {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				&.with-events.last-in-series span.week-marker {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				&.with-events:hover span.week-marker {
					background-color: $blue_hover;
				}
			}
			.weeks-5 {
				.week {
					width: 20%;
				}
			}
		}
	}

	#recent-comments-module {
		padding-bottom: 60px;
		#recent-comments-list {
			margin-bottom: 20px;
		}
		.comment {
			border: 1px solid $grey_one;
			height: 200px;
			position: relative;
			margin-bottom: 10px;

			.comment-content {
				font-size: 15px;
			}
			.comment-footer {
				position: absolute;
				bottom: 0px;
				color: $grey_one;
			}
			.comment-actions {
				position: absolute;
				bottom: 0px;
				display: none;
				background-color: $grey_three;
				width: 100%;
				padding: 7px 0;
				text-align: right;
				color: #fff;
				.icon-remove-sign:before {
					color: #fff;
					font-size: 15px;
				}
				a {
					margin-right: 10px;
				}
				.edit:after {
					top: 0;
				}
			}
			&:hover {
				.comment-actions {
					display: block;
				}
			}
		}
	}
}