.date_ranges.show {
	.date_range-description {
		margin-bottom:  30px;
	}
}

form {
	#date_item_recurrence_period {
		width:  20px;
		margin: 0 5px;
	}
	.date_item_recurrence_type label.radio {
		display: block;
		margin-bottom: 5px;
	}
	.date_item_recurrence_days label.checkbox {
		display: inline-block;
	}
	.date_item_recurrence {
		.control-label {
			width: auto;
			padding-right: 10px;
		}
		.controls {
			margin-left: 0;
		}
	}

	#recurrence-fields {
		border-top: 1px solid #ccc;
		padding-top: 10px;
	}

}