/*-- COLOR PALETTE --*/
$brand:#989898;
$grey_three:#7a7a7a;
$user_menu:#c0c0c0;

.eventsCalendar {
	.calendar-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #CCC;
		td, th {
			width: 14.28571428571429%;
		}
		th {
			background-color: #989898;
			color: #fff;
			text-transform:uppercase;
			padding: 5px;
			text-align: left;
		}
		td.calendar-day {
			border: 1px solid #CCC;
			height: 130px;
			.calendar-cell-wrapper {
				position: relative;
				width: 100%;
				height: 100%;
			}

			.calendar-day-events-container {
				position: absolute;
				height: 100px;
				width: 95%;
				overflow: hidden;
				top: 0;
				padding: 3px;

				h4 {
					display: none;
				}
			}
			.calendar-month-day{
				position: absolute;
				bottom: 0;
				right: 0;
				height: 20px;
			}
			.calendar-view-more {
				position: absolute;
				bottom: 0;
			}
			.calendar-event-bullet {
				font-size: 20px;
			}
			&.expanded {	
				.calendar-day-events-container {
					height: auto;
					width: 190%;
					border: 1px solid #ccc;
					background-color: #fff;
					z-index: 2;
					h4 {
						display: inline;
						color: #ccc;
					}
				}

				.close {
					opacity: 1;
					position: relative;
					text-shadow:none;
					&:after{
						color: #ccc;
						content: "\e019";
						display: block;
						font-family: 'icons';
						font-size: 14px;
						font-weight: normal;
						position: absolute;
						right: 5px;
						speak: none;
						text-indent: 0;
						-webkit-font-smoothing: antialiased;
					}
				}
			}
		}
	}
	.calendar-controls {
		height: 30px;
		.calendar-month-name{
			float: left;
			font-weight: bold;
			font-size: 18px;
		}

		.calendar-months-arrows {
			float: right;
		}
	}
}

#calendar-canvas {
	margin-top: 10px;

	.calendar-day{
		&.expanded{
			.daytitle{
				display: block;
				font-size: 13px;
				margin-bottom: 5px;
			}		
		}
	}

	.calendar-table th{
		padding: 5px 0 5px 10px;
	}

	a{
		&.cal-day-link, &.cal-day-link:hover{
			color: $brand;
			margin: 0 5px 5px;
		}
		&.icon-angle-right:before, &.icon-angle-right:before{
			left: 10px;
		}
	}

	.calendar-day-events-container{
		color: $brand;
		font-size: 11px;
		line-height: 17px;
		height: 105px;
		.calendar-event-name{
			display: block;
			margin-left: 15px;
			margin-top: -19px;
			a, a:hover{
				color: $brand;
			}
		}
		.daytitle{
			display: none;
		}
	}

	.calendar-view-more{
		a, a:hover{
			color: $user_menu;
			font-size: 11px;
			margin: 0px 0px 5px 5px;
			text-decoration: none;
		}
	}

	.fc-day-header {
		background-color: $grey_three !important;
		color: #fff;
	}

	.fc-day-content {
		height: 90px;
	}
}


