@import "variables";
@import "mixins";

form.button_to {
	display: inline-block;
	border-width: 0;
	border-image-width: 0;
	div {
		line-height: normal;
	}
	.button-with-icon {
		border-width: 0;
		border-image-width: 0;
		padding: 0;
		background: none;
		outline: none;
		line-height: normal;
	}
	.button-with-icon-and-text {
		font-size: 12px;
		line-height: 17px;
		text-decoration: underline;
		vertical-align: top;
		color: $brand;
	}
}

.form-actions{
	background-color: white;
	border:0;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	.btn-primary{
		margin-right: 8px;
	}
	&.inside-form{
		margin: 25px 0px 33px;
	}
}
.form-horizontal{
	.controls{
		margin: 0;
	}
	.control-label{
		text-align: left;
		width: 140px;
		&.location{
			display:none;
		}
	}
	.form-actions{
		margin-top: 10px;
		padding:0;
	}
}

form{
	margin: 0;
}

.control-group {
	label.control-label{
		color: $brand;
	}
	&.error {
		input, textarea {
			&:focus {
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}

.select2-container-multi {
	.select2-choices {
		background: none;
		background-image: none;
	}
}

.chzn-default span {
	color: $user_menu;
}

/* Checkboxes */
.checker {
	display: inline-block;
	float:left;
	height: 20px;
	margin: 0px 10px 0 0px;
	padding: 0;
	width:20px;
	@include border-radius (5px);
	
	input[type="checkbox"] {
		margin: 0;
		width: 12px;
		margin: 0;
		padding: 0;
		line-height: 12px;
		/* hide it but make it "accessible" for the browser with tab */
		position:absolute;
		left: -1000px;
	}
	&>span {
		display: block;
		height: 20px;
		padding:0;
		width: 20px;
		line-height: 11px;
		border: 1px solid transparent;
		@include border-radius (5px);
		background-color: $gray-lighter;
	}
	&.focus > span {
		border: 1px solid $brand; /* Do not remove, we need a way to let the user know where the focus is */
	}
	span.checked{
		background-color: $brand;
		border: 1px solid transparent;
	}
	span.checked:after{
		line-height: 11px;
		padding:0;
		margin:0;
		color: white;
		content: "\e64e";
		font-family: 'icons';
		font-size: 11px;
		left:5px;
		position: relative;
		speak:none;
		text-align: center;
		text-shadow:none;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		top:5px;
	}
}

/*-- RADIO BUTTONS STYLES --*/

.radio-style{
	border: 4px solid $gray-lighter;
	display: block;
	height: 14px;
	width: 14px;
	border-radius: 50%;
}

.radio, .checkbox{
	min-height: 22px;
}

label.radio div.radio {
	display: inline-block;
	margin: 0 15px 5px 0;
	padding: 0;
	width: 20px;
	span{
		background: none;
		@extend .radio-style;
		&.help-inline{
			border: 0;
			width: 120px;
			margin-left: -3px;
			margin-top: 21px;
			display: block;
		}
	}
	span.checked{
		border-color: $brand;
		position: relative;
		&:after{
			display: inline-block;
			content: '';
			width: 8px;
			height: 8px;
			background-color: $brand;
			border-radius: 50%;
			top: 3px;
			left: 3px;
			position: absolute;
		}
	}
	input[type="radio"] {
		float: right;
		margin-left: 0;
		opacity:0;
		height: 15px;
		width: 15px;
	}
}
.radio-group{
	display:inline-block;
	margin-bottom: 10px;
}

.radio span{
	background-image: none !important;
	@extend .radio-style;
	&.checked{
		border-color: $brand;
		&:after{
			display: inline-block;
			content: '';
			width: 8px;
			height: 8px;
			background-color: $brand;
			border-radius: 50%;
			top: 3px;
			left: 3px;
			position: absolute;
		}
	}
	input[type="radio"]{
		margin-left: 0;
		opacity: 0;
	}
}

// Radio button groups
.btn-group .btn {
	.radio {
		display: none;
	}
}

.controls >{
	.radio:first-child, .checkbox:first-child{
		padding-top: 4px;
	}
}


