@import "variables";

form.button_to {
	display: inline-block;
	margin-right: 10px;
	.button-with-icon {
		border: 0;
		padding: 0;
		background: none;
		outline:none;
	}
}

.form-actions{
	background-color: white;
	border:0;
	margin: 0;
	padding: 0;
}

form{
	margin: 0;
}

control-group {
	label.control-label{
		color:$text;
	}
	&.error {
		input, textarea {
			&:focus {
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}

.chzn-default span {
	color: $user_menu;
}

// Input styles

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: white;
}

/* Checkboxes */
.checker {
	background-color: $grey_one;
	display: inline-block;
	float:left;
	height: 20px;
	margin: 0px 10px 0 0px;
	padding: 0;
	width:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	input[type="checkbox"] {
		margin: 0;
		width: 12px;
		margin: 0;
		padding: 0;
		line-height: 12px;
	}
	span.checked{
		background-color: $brand;
		display: block;
		height: 20px;
		margin: 0 15px 0 0;
		padding:0;
		width: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		line-height: 11px;
	}
	span.checked:after{
		line-height: 11px;
		padding:0;
		margin:0;
		color: white;
		content: "\e624";
		font-family: 'icons';
		font-size: 11px;
		left:5px;
		position: relative;
		speak:none;
		text-align: center;
		text-shadow:none;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		top:-7px;
	}
	input[type=checkbox]{
		visibility: hidden;
	}
}

/*-- RADIO BUTTONS STYLES --*/

label.radio div.radio {
	display: inline-block;
	margin: 0 15px 5px 0;
	padding: 0;
	width: 20px;
	span{
		background: image-url('radio-unchecked.svg') no-repeat center center;
		display: block;
		height: 25px;
		width: 25px;
		&.help-inline{
			border: 0;
			width: 120px;
			margin-left: -3px;
			margin-top: 21px;
			display: block;
		}
	}
	span.checked{
		background: image-url('radio-checked.svg') no-repeat center center;
		display: block;
		margin: 0;
		padding:0;
	}
	input[type="radio"] {
		float: right;
		margin-left: 0;
		opacity:0;
		height: 25px;
		width: 25px;
	}
}
.radio-group{
	display:inline-block;
	margin-bottom: 10px;
}

// Radio button groups
.btn-group .btn {
	.radio {
		display: none;
	}
}
