@import "variables";
@import "mixins";

// EXCLUSIVE FORM BUILDER STYLES (ACTIVITY TYPES AND CAMPAIGNS)
// Only applied to the form builder
// --------------------------------------------------
$margin-right: 240px;
.form-builder-wrapper{
	position: relative;

	.tooltip {
		@include kpi-desc-tooltip;
	}
	.field-tooltip-trigger {
		height: 30px;
	}
	&.activities-wrapper{
		.form-wrapper{
			.form-builder-actions.affix{
				top:80px;
			}
		}
	}
	.form-wrapper {
		margin-right: $margin-right;
		.form-builder-actions {
			position: absolute;
			top: 0;
			border-bottom: 1px solid $gray-light;
			border-top-right-radius: 5px;
			padding: 18px 30px;
			left: 0px;
			right: $margin-right;
			&.affix {
				position: fixed;
				top: 97px;
				z-index: 99999;
				background-color: #fff;
				width: auto;
				left: 90px;
				right: ($margin-right + 10);
			}
			.btn-primary{
				width: 101px;
			}
			.download{
				height: 36px;
				min-width: 50px;
				padding: 8px 15px;
				box-sizing: border-box;
			}
			.tooltip {
				font-size: 13px;
				width: 200px;
			}
		}

		.form-fields-sections {
			.form-section {
				padding: 20px 20px 20px 20px;
				background-color: #fff;
				border-radius: 5px;
				margin-bottom: 10px;

				.module-wrapper {
					border-radius: 5px;
					padding: 10px;
					display: inline-block;
					position: relative;
				}
				&.module{
					.module-title{
						margin-top:0;
					}
					&.selected {
						border: 0px;
						background-color: #fff;;
						.module-wrapper {
							background-color: $app_bg;
						}
					}
				}
			}
			.form-fields {
				min-height: 550px;
				padding-top: 90px;
				padding-bottom: 20px;
				width: 100%;
				@include box-sizing(border-box);
			}
			&.sorting {
				padding-bottom: 30px;
			}
			.field, .module {
				a.close {
					display: none;
					position: absolute;
					top: -10px;
					right: -10px;
					color: $brand;
					opacity: 1;
				}
				&.selected {
					background-color: $app_bg;
					border: 1px solid $app_bg;
					a.close {
						background: image-url('more_less_sprite.png') -40px 0 no-repeat;
						display: inline-block;
						width: 20px;
						height: 20px;
						i, &:before{
							display: none;
						}
					}
					&:hover {
						border: 1px solid $app_bg;
					}
					.attachment-panel {
						background-color: white;
					}
					label.radio div.radio span{
						border-color: $user_menu;
					}
					input{
						background-color:white;
					}
				}
			}
			[class*='form_field']{
				margin-bottom: 5px;
			}
			.btn[disabled=disabled] {
				opacity: 0.5;
			}
			.field { // FIELDS WHEN ADDED TO THE FORM
				float: left;
				clear: both;
				padding: 8px 10px 10px 10px;
				margin-bottom:8px;
				border: 1px dashed #fff;
				position: relative;
				border-radius: 5px;
				display: inline-block;
				height: auto;
				width:auto;
				min-width:220px;

				&.form_field_number, &.form_field_textarea{
					width: 390px;
				}

				label.radio .radio{
					margin-right: 10px;
				}

				&:not(.form_field_userdate){
					select{
						width: 390px;
					}
				}

				&:hover {
					border: 1px dashed silver;
				}

				&.time, &.date{
					label{
						font-weight:bold;
					}
				}

				&.ui-sortable-placeholder {
					height: 2px !important;
					opacity: 1;
					background-color: $gray;
					border-radius: 0;
					visibility: visible !important;
					padding: 0;
					position: relative;
					width: 100% !important;
					border: none;
					&:before {
						content: "||";
						letter-spacing: -2px;
						top: -9px;
						left: -1px;
						position: absolute;
						font-size: 9px;
						font-weight: bolder;
					}
					&:after {
						content: "||";
						letter-spacing: -2px;
						top: -9px;
						right: 1px;
						position: absolute;
						font-size: 9px;
						font-weight: bolder;
					}
				}
				&.form_field_text {
					width: 390px;
				}
				&.text_area{
					textarea{
						width:220px;
					}
				}
				&[data-type="Date"], &[data-type="Time"] {
					min-width:100px;
				}

				&[data-type="Dropdown"]{
					&.selected{
						.icon-remove-circle:before{
							font-size: 18px !important;
						}
					}
				}
				&[data-type="Checkbox"]{
					&.selected{
						.checker{
							background-color: $user_menu;
						}
					}
				}
				&[data-type="Radio"] {
					label.radio{
						display:block;
						.radio{
							margin-right: 10px;
						}
					}
				}
				&[data-type="Percentage"]{
					.control-group{
						margin-bottom:10px;
					}
				}
			}
			div.empty-form-legend {
				display: none;
				padding: 50px 30px;
				text-align: center;
			}
			div.empty-form-legend:first-child:last-child {
					display: block;
			}
		}
	}
	.fields-wrapper { // OPTIONS TO ADD TO THE FORM - RIGHT MENU
		background-color: #fff;
		border-radius: 5px;
		font-weight: 400;
		margin-right: -$margin-right;
		width: 215px;
		padding: 10px;

		.accordion-heading {
			font-weight: bold;
			.accordion-toggle {
				padding: 8px 0 8px 16px;
				color: $brand;
				position: relative;
				&:before {
					font-family: 'icons';
					content: '\e607';
					position: absolute;
					top: 12px;
  				left: 0;
				}
				&.collapsed:before {
					top: 9px;
					content: '\e605';
					font-size: 10px;
					margin-right: 4px;
				}
			}
		}
		.accordion-group {
			border: none;

			#kpis-fields.in {
				border: 1px solid $gray-lighter;
				padding: 3px;
			}
		}
		p.drag-field-title{
			color: $user_menu;
			text-align: center;
		}
		.search-fields {
			margin-top: 5px;
		}
		.scrollable-list {
			max-height: 400px;
			min-height: 71px;
			width: 200px;
		}
		.group-name {
			color: $brand;
			font-size: 12px;
			margin-left: 10px;
			margin-bottom: 10px;
			text-transform:uppercase;
		}
		.custom {
			line-height: 16px;
			.field:nth-child(odd) {
				margin-right: 10px;
			}
			span{
				font-size: 14px;
				top: 3px;
				line-height: 21px;
				position: relative;
			}
			p{
				font-size: 11px;
				line-height: 57px;
			}
		}
		.field { // FIELDS TO ADD TO THE FORM - RIGHT MENU
			border: 1px solid $gray-light;
			border-radius: 5px;
			padding: 10px;
			margin-bottom: 18px;
			color: $brand;
			display: inline-block;
			font-size: 11px;
			font-weight: bold;
			height: 40px;
			padding: 0;
			text-align: center;
			margin-bottom: 8px !important;
			width: 40%;
			&:before{
				color: $user_menu;
				font-size: 13px;
				font-family: 'icons';
				height: 20px;
				display: block;
				font-weight: normal;
				text-align: center;
				top: 2px;
			}
			&:hover{
				background-color:$user_menu;
				border: 1px solid $user_menu;
				color: white;
				cursor: pointer;
				&:before{
					color: white;
				}
			}

			&.flat {
				display: block;
				width: initial;
				text-align: left;
				height: 25px;
				font-size: 14px;
				overflow: hidden;
				width: 180px;
				border: 0;
				color: $text;
				font-weight: normal;
				padding: 0 10px;
				&:before {
					display: none;
				}
				&:hover {
					background-color:$btnHover;
				}
				&.hidden {
					display:none;
				}
			}
			&.module {
				display: block;
				font-size: 13px;
				width: initial;
				margin: 0;
				padding-top: 8px;
				padding-left: 80px;
				position: relative;
				height: 30px;
				text-align: left;
				i{
					left: 60px;
					position: absolute;
					top: 12px;
				}
			}
			// Styles for when the field is being dragged
			&.ui-draggable-dragging {
				padding: 10px;
				background-color: #fff;
				text-align: left;
				height: auto;
				min-width: 230px;
				width: auto;
				a.close {
					display:none;
				}
				&:before{
					content: '';
					display: none;
				}
				.checkbox{
					padding-left:0;
				}
				/*
				input{
					&.date_picker, &.time_picker {
						color:$user_menu;
						text-align: right;
						width: 120px;
					}
					&.date_picker{
						height: 43px;
					}
				}*/
				label{
					font-weight:bold;
					margin-bottom:4px;
				}
				span{
					font-weight:normal;
				}
				textarea{
					min-height:60px;
				}
				&[data-type="Photo"], &[data-type="Attachment"]{
					label{
						margin-bottom:10px;
					}
				}
			}
		}
		.module {
			&.ui-draggable-dragging {
				padding: 10px;
				background-color: #fff;
				text-align: left;
				height: auto !important;
				width: auto !important;
				a.close {
					display:none;
				}
			}
		}
	}
	.radio {
		width: auto;
	}

	// Make disabled form fields looks like they were enabled
	.chzn-disabled {
		opacity: 1 !important;
	}
}

.field-attributes-panel {
	background-color: $gray-lighter;
	border-radius: 5px;
	border: 1px solid $gray-light;
	box-sizing: border-box;
	padding: 15px 15px 5px 15px;
	width: 300px;

	.checker{
		background-color: #c2c2c2;
		margin: 0 10px 0 0;
		span {
			background-color: #c2c2c2;
		}
		span.checked {
			background-color:$gray !important;
		}
	}

	input {
		box-sizing: border-box;
		width: 100%;
	}

	.controls {
		.range-part {
			box-sizing: border-box;
			display:inline-block;
			width: 30%;
			padding-right: 5px;
			&.format {
				width: 40%;
				padding-right: 0px;
			}

			input, select {
				width: 100%;
			}
			.chzn-container-single {
				margin-bottom: 11px;
				.chzn-single{
					max-height: 37px;
				}
				input[type="text"]{
					height: 37px;
					margin-top: 3px;
				}
			}
		}
		&.range-without-format {
			.range-part {
				width: 50%;
			}
		}

		.select2-container-multi .select2-choices {
			height: auto !important;
		}
	}
	label.range {
		font-weight: bold;
		font-size: 13px;
	}

	h4{
		margin-top: 0;
	}

	input[type=text], textarea {
		background-color: #fff !important;
		box-sizing: border-box;
		color: $text;
		padding-left: 15px;
		padding-right: 15px;
	}

	textarea{
		padding-top: 10px;
		height: 80px;
	}

	.control-group{
		label{
			color: $brand;
			font-size: 11px;
		}
		select{
			width:100%;
		}
	}
	.field-options {
		input[type=text] {
			width: 210px;
		}
		.field-option{
			margin-bottom: 10px;
		}
	}

	.option-actions {
		display: inline-block;
		position: relative;
		top: -6px;
		a {
			margin-left: 5px;
			&:hover {
				text-decoration: none;
			}
			i{
				display: none;
			}
			&.add-option-btn, &.remove-option-btn{
				display: inline-block;
				position:relative;
				height: 20px;
				width: 20px;
				top:6px;
			}
			&.add-option-btn{
				background: image-url('more_less_sprite.png') no-repeat 0 0 ;
				&:hover{
					background-position: 0 -20px;
				}
			}
			&.remove-option-btn{
				background: image-url('more_less_sprite.png') no-repeat -20px 0 ;
				&:hover{
					background-position: -20px -20px;
				}
			}
		}
	}

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;

		border-bottom: 14px solid black;
	}

	&.on-bottom {
		margin-top: 5px;
		.arrow {
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;

			border-bottom: 8px solid $gray-light;
			position: absolute;
			top: -9px;
			left: 145px;
			&:before{
				content: '';
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;

				border-bottom: 8px solid $gray-lighter;
				position: absolute;
				top: 1px;
				left: -8px;
			}
		}
	}

	&.on-left {
		margin-left: 20px;
		.arrow {
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-right: 8px solid $gray-light;
			position: absolute;
			top: 40px;
			left: -9px;
			&:before{
				content: '';
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: 10px solid $gray-lighter;
				position: absolute;
				top: -10px;
				left: 1px;
			}
		}
	}

	.field-not-customizable-message {
		padding: 40px 50px;
	}
}



