@import "variables";
@import "mixins";

form.button_to {
	display: inline-block;
	margin-right: 10px;
	border-width: 0;
	border-image-width: 0;
	div {
		line-height: normal;
	}
	.button-with-icon {
		border-width: 0;
		border-image-width: 0;
		padding: 0;
		background: none;
		outline: none;
		line-height: normal;
	}
}

.form-actions{
	background-color: white;
	border:0;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	.btn-primary{
		margin-right: 8px;
	}
	&.inside-form{
		margin: 25px 0px 33px;
	}
}
.form-horizontal{
	.controls{
		margin: 0;
	}
	.control-label{
		text-align: left;
		width: 140px;
		&.location{
			display:none;
		}
	}
	.form-actions{
		margin-top: 10px;
		padding:0;
	}
}

form{
	margin: 0;
}

.control-group {
	label.control-label{
		color:$text;
	}
	&.error {
		input, textarea {
			&:focus {
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}

.select2-container-multi {
	.select2-choices {
		background: none;
		background-image: none;
	}
}

.chzn-default span {
	color: $user_menu;
}

// Input styles

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: white;
}

/* Checkboxes */
.checker {
	background-color: $grey_one;
	display: inline-block;
	float:left;
	height: 20px;
	margin: 0px 10px 0 0px;
	padding: 0;
	width:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	input[type="checkbox"] {
		margin: 0;
		width: 12px;
		margin: 0;
		padding: 0;
		line-height: 12px;
	}
	span.checked{
		background-color: $brand;
		display: block;
		height: 20px;
		margin: 0 15px 0 0;
		padding:0;
		width: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		line-height: 11px;
	}
	span.checked:after{
		line-height: 11px;
		padding:0;
		margin:0;
		color: white;
		content: "\e624";
		font-family: 'icons';
		font-size: 11px;
		left:5px;
		position: relative;
		speak:none;
		text-align: center;
		text-shadow:none;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		top:-7px;
	}
	input[type=checkbox]{
		visibility: hidden;
	}
}

/*-- RADIO BUTTONS STYLES --*/

label.radio div.radio {
	display: inline-block;
	margin: 0 15px 5px 0;
	padding: 0;
	width: 20px;
	span{
		background: none;
		border: 4px solid $grey_one;
		display: block;
		height: 14px;
		width: 14px;
		border-radius: 50%;
		&.help-inline{
			border: 0;
			width: 120px;
			margin-left: -3px;
			margin-top: 21px;
			display: block;
		}
	}
	span.checked{
		position: relative;
		&:after{
			display: inline-block;
			content: '';
			width: 10px;
			height: 10px;
			background-color: $brand;
			border-radius: 50%;
			top: 2px;
			left: 2px;
			position: absolute;
		}
	}
	input[type="radio"] {
		float: right;
		margin-left: 0;
		opacity:0;
		height: 25px;
		width: 25px;
	}
}
.radio-group{
	display:inline-block;
	margin-bottom: 10px;
}

// Radio button groups
.btn-group .btn {
	.radio {
		display: none;
	}
}
