@import "variables";

.form-builder-wrapper {
	position: relative;
	.form-wrapper {
		background-color: #fff;
		border-radius: 5px;
		margin-right: 240px;
		padding: 20px 20px 20px 20px;
		.form-fields {
			min-height: 300px;
			padding-bottom: 20px;
			&.sorting {
				padding-bottom: 30px;
			}
		}
		.btn[disabled=disabled] {
			opacity: 0.5;
		}
		.field {
			float: left;
			clear: both;
			padding: 10px;
			border: 1px dashed #fff;
			position: relative;
			border-radius: 5px;
			a.close {
				display: none;
				position: absolute;
				top: -10px;
				right: -10px;
				color: $brand;
				opacity: 1;
			}
			&:hover {
				border: 1px dashed silver;
			}
			&.selected {
				background-color: $app_bg;
				border: 1px solid $app_bg;
				a.close {
					background: url(more_less_sprite.png) -40px 0 no-repeat;
					display: inline-block;
					width: 20px;
					height: 20px;
					i, &:before{
						display: none;
					}
				}
				&:hover {
					border: 1px solid $app_bg;
				}
				.attachment-panel{
					background-color: white;
				}
			}
			&.ui-sortable-placeholder {
				height: 2px !important;
				opacity: 1;
				background-color: $grey_three;
				border-radius: 0;
				visibility: visible !important;
				padding: 0;
				position: relative;
				width: 100% !important;
				border: none;
				&:before {
					content: "||";
					letter-spacing: -2px;
					top: -9px;
					left: -1px;
					position: absolute;
					font-size: 6px;
					font-weight: bolder;
				}
				&:after {
					content: "||";
					letter-spacing: -2px;
					top: -9px;
					right: 1px;
					position: absolute;
					font-size: 6px;
					font-weight: bolder;
				}
			}

			.date_picker input {
				width: 140px;
			}
		}
	}
	.fields-wrapper {
		background-color: #fff;
		border-radius: 5px;
		position: absolute;
		top: 0;
		right: 0;
		width: 210px;
		padding: 10px;

		.field {
			border: 1px solid $user_menu;
			border-radius: 5px;
			padding: 10px;
			margin-bottom: 18px;
			color: $brand;
			display: inline-block;
			font-size: 11px;
			font-weight: bold;
			height: 40px;
			padding: 0 10px;
			text-align: center;
			margin-bottom: 8px !important;
			width: 37%;
			&:nth-child(even) {
				margin-right: 10px;
			}
			&:before{
				font-family: 'icons';
				color: $user_menu;
				font-size: 13px;
				height: 20px;
				line-height: 17px;
				position:relative;
				display: block;
				font-weight: normal;
				text-align: center;
				top: 2px;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale !important;
			}
			&:hover{
				background-color:$user_menu;
				border: 1px solid $user_menu;
				color: white;
				cursor: pointer;
				&:before{
					color: white;
				}
			}

			&[data-type="Dropdown"]:before{
				content:"\e60c";
				line-height: 22px;
			}
			&[data-type="Checkbox"]:before{
				content:"\e60d";
				line-height: 22px;
			}
			&[data-type="Radio"]:before{
				content:"\e60b";
			}
			&[data-type="Percentage"]:before{
				content:"\e609";
				font-size: 15px;
				line-height: 24px;
			}
			&[data-type="TextArea"]:before{
				content:"\e610";
				line-height: 23px;
			}
			&[data-type="Number"]:before{
				content:"\e60a";
				font-size: 15px;
				line-height: 27px;
			}
			&[data-type="Currency"]:before{
				content:"\e607";
				font-size: 15px;
				line-height: 24px;
			}
			&[data-type="Text"]:before{
				content:"\e606";
				font-size: 15px;
				line-height: 27px;
			}
			&[data-type="Photo"]:before{
				content:"\e608";
				font-size: 15px;
				line-height: 22px;
			}
			&[data-type="Attachment"]:before{
				content:"\e60e";
			}
			&[data-type="Summation"]:before{
				content:"\e605";
				font-size: 16px;
				line-height: 21px;
			}
			&[data-type="Date"]:before{
				content:"\e022";
				font-size: 15px;
				line-height: 22px;
			}
			&[data-type="Time"]:before{
				content:"\e01f";
				font-size: 17px;
				line-height: 24px;
			}
			&[data-type="Brand"]:before{
				content:"\e030";
				font-size: 15px;
				line-height: 22px;
			}
			&[data-type="Marque"]{
				line-height: 60px;
			}
			&[data-type="LikertScale"]{
				line-height:60px;
			}
			// Styles for when the field is being dragged
			&.ui-draggable-dragging {
				padding: 10px;
				background-color: #fff;
				text-align: left;
				a.close {
					display:none;
				}
				&:before{
					content: '';
					display: none;
				}
			}
		}
	}
	.radio {
		width: auto;
	}

	// Make disabled form fields looks like they were enabled
	.chzn-disabled {
		opacity: 1 !important;
	}
	input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
		background-color: white !important;
		border: 1px solid silver;
		box-shadow: none;
		font-family: "Lato", sans-serif;
		margin-bottom: 0;
		padding-top: 9px;
		height: 24px;
		cursor: auto;
	}
}

.field-attributes-panel {
	background-color: $grey_one;
	border-radius: 5px;
	border: 1px solid $grey_four;
	padding: 15px 15px 5px 15px;

	.checker{
		background-color: #c2c2c2;
		margin: 0 10px 0 0;
		span.checked{
			background-color:$alert_grey !important;
			&:after{
				top:-20px;
			}
		}
	}

	.chzn-container-single{
		.chzn-drop{
			width: 272px !important;
		}
		.chzn-results{
			margin: 0 0 4px 0;
			width: 270px;
		}
		.chzn-single{
			border:0 !important;
			height: 38px !important;
			padding-top: 2px !important;
			width: 263px !important;
		}
		.chzn-search input {
			background-image: none !important;
			bottom: 12px !important;
		}
	}
	h4{
		margin-top: 0;
	}

	input[type=text] {
		background-color: #fff !important;
		box-sizing: border-box;
		color: $text;
		padding-left: 15px;
		padding-right: 15px;
		height: 40px;
	}

	label{
		color: $brand;
		font-size: 11px;
	}
	.field-options {
		input[type=text] {
			width: 210px;
		}
		.field-option{
			margin-bottom: 10px;
		}
	}

	.option-actions {
		display: inline-block;
		a {
			margin-left: 5px;
			&:hover {
				text-decoration: none;
			}
			i{
				display: none;
			}
			&.add-option-btn, &.remove-option-btn{
				display: inline-block;
				position:relative;
				height: 20px;
				width: 20px;
				top:6px;
			}
			&.add-option-btn{
				background: url(more_less_sprite.png) no-repeat 0 0 ;
				&:hover{
					background-position: 0 -20px;
				}
			}
			&.remove-option-btn{
				background: url(more_less_sprite.png) no-repeat -20px 0 ;
				&:hover{
					background-position: -20px -20px;
				}
			}
		}
	}

	.arrow-up {
		width: 0; 
		height: 0; 
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		
		border-bottom: 14px solid black;
	}

	&.on-bottom {
		margin-top: 10px;
		.arrow {
			width: 0;
			height: 0;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			
			border-bottom: 14px solid $grey_four;
			position: absolute;
			top: -14px;
			left: 125px;
			&:before{
				content: '';
				width: 0;
				height: 0;
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				
				border-bottom: 14px solid $grey_one;
				position: absolute;
				top: 1px;
				left: -14px;
			}
		}
	}

	&.on-left {
		margin-left: 20px;
		.arrow {
			width: 0;
			height: 0;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-right:14px solid $grey_four;
			position: absolute;
			top: 40px;
			left: -15px;
			&:before{
				content: '';
				width: 0;
				height: 0;
				border-top: 14px solid transparent;
				border-bottom: 14px solid transparent;
				border-right:14px solid $grey_one;
				position: absolute;
				top: -14px;
				left: 1px;
			}
		}
	}

	.field-not-customizable-message {
		padding: 40px 50px;
	}
}