
@import "variables";
@import "mixins";

/* Icons */

[class^="icon-"]:before, .icon:before {
  position:relative;
  display:inline-block;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Datepick Icons */

.datepick-cmd-next, .datepick-cmd-prev{
  @extend [class^="icon-"];
}

.alert-icon{
  font-family: 'icons';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Icon Breakdown */

.icon-venue:before{
  content:"\e001";
}

.icon-arrow-right:before,
.datepick-cmd-next:before{
  content:"\e002";
}

.icon-arrow-left:before,
.datepick-cmd-prev:before{
  content:"\e003";
}

.icon-arrow-down:before{
  content:"\e004";
}

.icon-edit:before{
  content:"\e006";
}

.icon-gear:before{
  content:"\e007";
}

.icon-events:before{
  content:"\e00a";
}

.icon-folder:before{
  content:"\e617";
}

.icon-download:before{
  content:"\e00b";
}

.icon-dashboard:before{
  content:"\e00c";
}

.icon-analysis:before{
  content: "\e00e";
}

.icon-chat:before{
  content: "\e010";
}

.icon-rounded-disable:before,
.icon-remove-circle:before{
  content: "\e011";
}

.icon-rounded-ok:before{
  content: "\e625";
}

.icon-arrow-up:before{
  content:"\e012";
}

.icon-on:before{
  content:"\e013";
}

.icon-results:before{
  content:"\e014";
}

.icon-tasks:before{
  content:"\e015";
}

.icon-receipt:before{
  content:"\e016";
}

.icon-cloud:before{
  content: "\e017";
}

.icon-close:before{
  content: "\e019";
}

.icon-male:before{
  content: "\e01a";
}

.icon-female:before{
  content:"\e01b";
}

.icon-slimmed-arrow-left:before, .icon-angle-left:before{
  content: "\e01c";
}

.icon-slimmed-arrow-right:before, .icon-angle-right:before{
  content: "\e01d"
}

.icon-collapsed:before, .icon-angle-down:before{
  content: "\e616";
}
.icon-expanded:before, .icon-angle-up:before{
  content: "\e61a";
}

.icon-time:before{
  content: "\e01f";
}

.icon-fullscreen:before{
  content: "\e020";
}

.icon-rounded-add:before,
.icon-plus-sign:before{
  content: "\e021";
}

.icon-calendar:before{
  content:"\e022";
}

.icon-marque:before{
  content: "\e60f";
}

.icon-team:before{
  content: "\e61d";
}

.icon-user:before{
  content: "\e61e";
}

.icon-help:before{
  content: "\e025";
}

.icon-help-arrow-up:before{
  content: "\e026";
}

.icon-help-arrow-right:before{
  content: "\e027";
}

.icon-help-arrow-left:before{
  content:"\e028";
}

.icon-help-arrow-down:before{
  content: "\e029";
}

.icon-eye:before{
  content: "\e02a";
}

.icon-wired-description:before{
  content: "\e02b";
}

.icon-wired-venue:before{
  content: "\e02c";
}

.icon-wired-phone:before{
  content: "\e02d";
}

.icon-wired-map:before{
  content: "\e02e";
}

.icon-wired-email:before{
  content: "\e02f";
}

.icon-wired-star:before{
  content: "\e030";
}

.icon-grid:before{
  content: "\e031";
}

.icon-normal-screen:before{
  content:"\e040";
}

.icon-tag:before{
  content: "\e600";
}

.icon-slimmed-arrow-right-rounded:before{
  content: "\e601";
}

.icon-slimmed-arrow-left-rounded:before{
  content: "\e602";
}

.icon-share:before{
  content: "\e603";
}

.icon-chart:before{
  content: "\e604";
}

.icon-summation:before{
  content: "\e605";
}

.icon-text:before{
  content: "\e606";
}

.icon-price:before{
  content: "\e607";
}

.icon-photo:before{
  content: "\e608";
}

.icon-percent:before{
  content: "\e609";
}

.icon-number:before{
  content: "\e60a";
}

.icon-radio:before{
  content: "\e60b";
}

.icon-dropdown:before{
  content: "\e60c"
}

.icon-checkbox:before{
  content: "\e60d";
}

.icon-attach:before{
  content: "\e60e";
}

.icon-paragraph:before{
  content: "\e610";
}

.icon-plus:before{
  content: "\e611";
}

.icon-up:before{
  content:"\e612";
}

.icon-down:before{
  content:"\e613";
}

.icon-star:before{
  content:"\e614";
}

.icon-list:before{
  content:"\e615";
}

.icon-minus:before{
  content:"\e618";
}

.icon-section:before{
  content:"\e619";
}

.icon-upload:before{
  content: "\e61c";
}

.icon-camera:before{
  content: "\e622";
}

.icon-mobile:before{
  content: "\e620";
}

.icon-info:before{
  content: "\e621";
}

.icon-checked:before{
  content: "\e624";
}

.icon-trash:before{
  content: "\e626";
}

.icon-campaign:before{
  content: "\e623";
}

.icon-wired-campaign:before{
  content: "\e61f";
}

/* To create icons with grey circle background */
.special-icon {
  background-color: $grey_four;
  display: inline-block;
  height: 32px;
  @include border-radius(18px);
  text-align: center;
  width: 32px;
  &:before { /*probably will need adjustments for another icons inside*/
    color: #fff;
    font-size: 22px;
    top: 7px;
    left: 2px;
  }
}
