
@import "variables";
@import "mixins";

/* Icons */

[class^="icon-"], .icon {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		display:inline-block;
		position: relative;
	}
}

/* Datepick Icons */

.datepick-cmd-next, .datepick-cmd-prev{
	@extend [class^="icon-"];
}

.alert-icon{
	font-family: 'icons';
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Icon Breakdown */

.icon-arrow-right:before,
.datepick-cmd-next:before{
	content:"\e605";
}

.icon-arrow-left:before,
.datepick-cmd-prev:before{
	content:"\e003";
}

.icon-arrow-down:before{
	content:"\e607";
}

.icon-arrow-down-small:before{
	content: "\e600";
}

.icon-bell:before{
  content:"\e62b";
}

.icon-edit:before{
	content:"\e608";
}

.icon-gear:before{
	content:"\e609";
}

.icon-events:before{
	content:"\e60a";
}

.icon-folder:before{
	content:"\e643";
}

.icon-download:before{
	content:"\e60b";
}

.icon-dashboard:before{
	content:"\e60c";
}

.icon-analysis:before{
	content: "\e60d";
}

.icon-chat:before{
	content: "\e60e";
}

.icon-rounded-disable:before,
.icon-remove-circle:before{
	content: "\e60f";
}

.icon-rounded-ok:before{
	content: "\e64f";
}

.icon-arrow-up:before{
	content:"\e610";
}

.icon-on:before{
	content:"\e611";
}

.icon-results:before{
	content:"\e612";
}

.icon-tasks:before{
	content:"\e613";
}

.icon-receipt:before{
	content:"\e614";
}

.icon-cloud:before{
	content: "\e615";
}

.icon-close:before{
	content: "\e616";
}

.icon-male:before{
	content: "\e617";
}

.icon-female:before{
	content:"\e618";
}

.icon-slimmed-arrow-left:before, .icon-angle-left:before{
	content: "\e619";
}

.icon-slimmed-arrow-right:before, .icon-angle-right:before{
	content: "\e61a";
}

.icon-collapsed:before, .icon-angle-down:before{
	content: "\e617";
}

.icon-expanded:before, .icon-angle-up:before{
	content: "\e61b";
}

.icon-time:before{
	content: "\e61b";
}

.icon-fullscreen:before{
	content: "\e61c";
}

.icon-rounded-add:before,
.icon-plus-sign:before{
	content: "\e61d";
}

.icon-calendar:before{
	content:"\e61e";
}

.icon-marque:before{
	content: "\e63b";
}

.icon-team:before{
	content: "\e648";
}

.icon-user:before{
	content: "\e649";
}

.icon-help:before{
	content: "\e61f";
}

.icon-help-arrow-up:before{
	content: "\e026";
}

.icon-help-arrow-right:before{
	content: "\e027";
}

.icon-help-arrow-left:before{
	content:"\e028";
}

.icon-help-arrow-down:before{
	content: "\e607";
}

.icon-eye:before{
	content: "\e624";
}

.icon-wired-description:before{
	content: "\e625";
}

.icon-wired-venue:before{
	content: "\e601";
}

.icon-wired-phone:before{
	content: "\e02d";
}

.icon-wired-map:before{
	content: "\e627";
}

.icon-wired-email:before{
	content: "\e651";
}

.icon-wired-star:before{
	content: "\e628";
}

.icon-grid:before{
	content: "\e629";
}

.icon-normal-screen:before{
	content:"\e040";
}

.icon-tag:before{
	content: "\e62c";
}

.icon-slimmed-arrow-right-rounded:before{
	content: "\e62d";
}

.icon-slimmed-arrow-left-rounded:before{
	content: "\e62e";
}

.icon-share:before{
	content: "\e62f";
}

.icon-chart:before{
	content: "\e605";
}

.icon-summation:before{
	content: "\e631";
}

.icon-text:before{
	content: "\e632";
}

.icon-price:before{
	content: "\e633";
}

.icon-photo:before{
	content: "\e634";
}

.icon-percent:before{
	content: "\e635";
}

.icon-number:before{
	content: "\e636";
}

.icon-radio:before{
	content: "\e637";
}

.icon-dropdown:before{
	content: "\e638";
}

.icon-checkbox:before{
	content: "\e639";
}

.icon-attach:before{
	content: "\e63a";
}

.icon-paragraph:before{
	content: "\e63c";
}

.icon-plus:before{
	content: "\e63d";
}

.icon-up:before{
	content:"\e613";
}

.icon-down:before{
	content:"\e614";
}

.icon-star:before{
	content:"\e640";
}

.icon-list:before{
	content:"\e641";
}

.icon-minus:before{
	content:"\e644";
}

.icon-section:before{
	content:"\e645";
}

.icon-upload:before{
	content: "\e647";
}

.icon-camera:before{
	content: "\e64c";
}

.icon-mobile:before{
	content: "\e603";
}

.icon-info:before{
	content: "\e64b";
}

.icon-checked:before{
	content: "\e64e";
}

.icon-trash:before{
	content: "\e650";
}

.icon-campaign:before{
	content: "\e64d";
}

.icon-wired-campaign:before{
	content: "\e64a";
}

.icon-resend:before{
	content: "\e628";
}

.icon-venue:before{
	content:"\e604";
}

.icon-web:before{
	content: "\e602";
}

.icon-handrawn-close:before{
	content: "\e653";
}


/* To create icons with grey circle background */
.special-icon {
	background-color: $gray-light;
	display: inline-block;
	height: 46px;
	@include border-radius(23px);
	text-align: center;
	width: 46px;
	&:before { /*probably will need adjustments for another icons inside*/
		color: #fff;
		font-size: 22px;
		top: 12px;
		left: 1px;
	}
	&.icon-wired-venue {
		&:before {
			left: 2px;
			top: 13px;
		}
	}
}
