@import "variables";
//
// Mixins
// --------------------------------------------------

// CSS3 PROPERTIES
// --------------------------------------------------

// Border-radius

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			-ms-border-radius: $radius;
					border-radius: $radius;
}

// Border-sizing
@mixin box-sizing($value){
	box-sizing: $value;
	-moz-box-sizing: $value;
	-webkit-box-sizing: $value;
}

// Limits the list of resources to a max height
@mixin max-resource-items-height($itemHeight, $value, $padding: $resource-item-padding){
	max-height:  $itemHeight;
	max-height:  $value * ($itemHeight + ($padding * 2));
	overflow-y: auto;
}

// Special mixin kpi-desc-tooltip
@mixin kpi-desc-tooltip {
	opacity: 1;
	.tooltip-inner {
		background-color: $text;
		text-align: left;
		b{
			color: #cccccc;
		}
	}
	&.left{
		.tooltip-arrow{
			border-left-color: $text;
		}
	}
	b {
		margin-top: 10px;
		display: block;
		color: $gray-lighter;
		font-weight: normal;
		&:first-child {
			margin-top: 0px;
		}
	}
	width: 156px;
}