/*-- COLOR PALETTE --*/
@app_bg: #ececec;
@assigned: #d6d64b;
@borders: #d3d3d3;
@brand:#989898;
@buttons:#de4d43;
@buttons-hover:#cc4137;
@completed: #90bf43;
@grey_one:#dfdfdf;
@grey_three:#7a7a7a;
@header:#363636;
@menu:#4f4f4f;
@text:#666666;
@unassigned:#3e9ccf;
@user_menu:#c0c0c0;
@valid: #90bf43;

/*-- FONT FAMILY STYLES --*/
@baseFontFamily:'Lato', sans-serif;

//MODALS

.modal {
	&.modal-med{
		width: 460px;
		.modal-body{
			.control-group{
				label{
					display: inline-block;
				}
				&.date_range_name, 
				&.date_range_description,
				&.team_name, &.role_name, &.area_name, &.brand_portfolio_name, &.day_part_name,
				{
					display:block;
					width: 400px;
				}
				&.task_title{
					margin: 0 0 15px 0;
					width: 400px;
				}
				&.task_company_user{
					margin: 0;
					width: 250px;
					.chzn-drop{
						box-shadow: none;
						width: 250px !important;
					}
					.chzn-results{
						width: 248px !important;
					}
				}
				&.task_due_at{
					margin-left: 23px;
					width: 110px;
					input[type="text"]{
						background: url('calendar.svg') no-repeat left !important;
						text-align: right;
						width: 110px;
					}
				}
			}
		}
	}
	&.modal-large{
		min-width: 620px;
		.modal-body{
			.control-group{
				label{
					display: inline-block;
				}
				&.user_email{
					display: inline-block;
					margin: 0;
					width: 558px;
				}
			}
			.users{
				.span6{
					margin-bottom: 8px;
					.control-group{
						width: 250px !important;
					}
					&:first-child{
						margin-right: 34px !important;
					}
					.chozen-enabled{
						width: 100px !important;
					}
					.chzn-container-single .chzn-single{
						width: 251px !important;
					}
				}
				input[type="text"]{
					&.input-large{
						margin-right: 20px;
						width:250px !important;
				    }
			    }
			}
			.users-teams-roles{
				.control-group{
					margin-right: 0;
					width: 590px !important;
				}
				.chzn-container-single{
					.chzn-single{
						width: 544px !important;
					}
					.chzn-drop{
						box-shadow: none;
						width: 554px !important;
					}
					.chzn-results{
						width: 552px !important;
					}
				}
			}
	    }
    }
	.modal-body {
		max-height: 800px;
		overflow: hidden;
		padding: 25px 30px;
		input[type="text"], input[type="email"], input[type="password"]{
			background-color: white !important;
			background-image: none !important;
			border: 1px solid @user_menu;
			box-shadow: none;
			font-family: @baseFontFamily;
			height: 30px;
			margin-bottom: 0;
			width: 100px;
				&.input-micro{width:40px;}
				&.input-mini{width:60px;}
				&.input-small{width:90px;}
				&.input-medium{width:150px;}
				&.input-large{width:210px;}
				&.input-xlarge{width:385px;}
				&.input-xxlarge{width:540px;
			}
		}
		textarea{
			background-color: white !important;
			background-image: none !important;
			border: 1px solid @user_menu;
			box-shadow: none;
			font-family: @baseFontFamily;
			height: 78px;
			margin-bottom: 0;
			padding-top: 9px;
			width: 100px;
				&.input-large{width:210px;}
				&.input-xlarge{width:385px;}
				&.input-xxlarge{width:540px;}
				&.valid{
					color: @text;
					font-size: 13px;
				}
		}
		input:-moz-placeholder,
		textarea:-moz-placeholder {
		  color: @grey_three;
		}
		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder {
		  color: @grey_three;
		}
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
		  color: @grey_three;
		}
		.chosen-campaign{
			.control-group{
				width: 300px;
			}
		}
		.control-group{
			display: inline-block;
			margin-right: 17px;
			width: 120px;
			label{
				margin-bottom: 2px;
			}
		}
		.controls{
			input[type="text"]{
				color: @text !important;
				&#event_start_date, &#event_end_date{
					background: url('calendar.svg') no-repeat left !important;
					text-align: right;
				}
				&#event_start_time, &#event_end_time{
					background: url('time.svg') no-repeat left !important;
					text-align: right;
				}
			}
		}
		// ERROR STATE FOR INPUTS 
		.error{
			.controls{
				input[type="text"]{
					border: 1px solid @buttons !important;
				}
				.chzn-single{
					border: 1px solid @buttons !important;
				}
				.chzn-drop{
					input[type="text"]{
						border: 0 !important;
					}
				}
			}
		}
		// FORM ACTIONS
		.form-actions{
			margin-top: 25px;
			.btn-primary{
				margin-right: 8px;
			}
			.btn-primary, .btn-cancel{
				height: 40px;
				width: 154px;
			}
		}
		.form-horizontal{
			.controls{
				margin: 0;
			}
			.control-label{
				text-align: left;
				width: 70px;
			}
			.form-actions{
				margin-top: 10px;
				padding:0;
			}
		}
		h3{
			font-size: 22px;
			font-weight: bold;
			line-height: 23px;
			margin-bottom: 22px;
		}
		label{
			color: @brand;
			font-size: 11px;
		}
		.to{
			float: left;
			padding: 32px 7px 0 0;
			text-align: center;
			width: 37px;
		}
		.span6{
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			width: 46%;
			.control-group:last-child{
				margin: 0;
			}
		}
	}
}

// CHZN STYLES

.chzn-container{
	&.chzn-results{
		padding: 0 !important;
		width: 245px;
		li{
			&:hover{
				background: @brand !important;
			}
			&.highlighted {
				background: @brand !important;
				background-image: none !important;
			}
		}
	}
	&.chzn-choices{
		background: white !important;
		border: 1px solid @user_menu;
	}
}

.chzn-container-active{
	.chzn-choices{
		border:1px solid @user_menu !important;
		box-shadow: none !important;
	}
		.chzn-drop{
		width: 555px;
	}
}

.chzn-container-multi{
	.chzn-choices{
		background-image: none !important;
		border:1px solid @user_menu !important;
		height: 40px !important;
		padding-top: 6px !important;
		width: 555px !important;
		-webkit-border-radius: 4px !important;
		-moz-border-radius: 4px !important;
		border-radius: 4px !important;	
		li.search-choice{
			color:@text !important;
			background:none !important;
			border:0 !important;
			box-shadow: none !important;
			line-height: 16px !important;
		}
	}
	.chzn-drop{
		border: 1px solid @user_menu !important;
		box-shadow: none !important;
		top:45px !important;
		width: 555px !important;
		-webkit-border-radius: 4px !important;
		-moz-border-radius: 4px !important;
		border-radius: 4px !important;	
		ul.chzn-results{
			li.highlighted{
				background-image: none;
				background-color: @brand;
			}
		}
	}
}

.chzn-container-single{
	.chzn-single{
		background:white !important;
		border: 1px solid @user_menu !important;
		box-shadow: none !important;
		color: @text !important;
		height: 37px !important;
		outline:0;
		width:240px;
		span{
			line-height: 36px;
		}
	}
	.chzn-drop{
		border: 1px solid @user_menu !important;
		-webkit-border-radius: 6px !important;
	    border-radius: 6px !important;
		box-shadow:none;
		margin-top: 3px !important;
		width: 260px !important;
		ul.chzn-results{
			padding: 0;
			li.highlighted{
				background-color: @brand;
				background-image: none;
			}
		}
	}
	.chzn-search input{
		border:0 !important;
		bottom: 14px;
		left:0;
		position: absolute;
		width: 92% !important;
	}
	.chzn-single div b {
	background: url('triangle-down.svg') no-repeat 0px 15px !important;
	}
}


// DATEPICKER STYLES

.ui-widget{
	font-family: @baseFontFamily;
	width: 190px;
}

.ui-widget-header{
	background:@brand;
	border:@brand;
}

.ui-corner-all{
	-webkit-border-radius: 6px 6px 0px 0px !important;
	border-radius: 6px 6px 0px 0px !important;
}

.ui-datepicker{
	border:1px solid @user_menu;
	a{
		color: red;
	}
	&:before{
		position: absolute;
		top: -10px;
		left: 10px;
		display: inline-block;
		border-right: 10px solid transparent;
		border-bottom: 10px solid @brand;
		border-left: 10px solid transparent;
		content: '';
	}
	table{
		font-size: 10px;
		margin: 0 0 4px 4px;
		width: 95%;		
	}
	td{
		&.ui-datepicker-today{
			a{
				color:@grey_three;
				font-weight: bold !important;
				opacity: 1;
			}
		}
	}
	th{
		color: @grey_three;
		padding: 4px 0 0 0;
	}
	.ui-datepicker-title{
		font-size: 14px;
		font-weight: normal;
		margin: 0 9px;
		text-align: left;	
	}
	.ui-datepicker-prev{
		background: none;
	    left: 140px;
	    right:-2px !important;
		top:2px;
		&:after{
			color: white;
			content: "\e003";
		  	display: block;
		  	font-family: 'icons';
			font-size: 9px;
			left: 5px;
		  	position: absolute;
		  	speak:none;
		  	text-indent: 0;
		  	top:5px;
		  	-webkit-font-smoothing: antialiased;
		}
		&:hover{
			background: none;
			border:0;
		}
	}
	.ui-datepicker-next{
		right:1px !important;
		top:2px;
		&:after{
			color: white;
			content: "\e002";
		  	display: block;
		  	font-family: 'icons';
			font-size: 9px;
			left: 5px;
		  	position: absolute;
		  	speak:none;
		  	text-indent: 0;
		  	top:5px;
		  	-webkit-font-smoothing: antialiased;
		}
		&:hover{
			background: none;
			border:0;
		}
	}
}

.ui-datepicker-calendar{
	.ui-datepicker-other-month{
		.ui-state-default, .ui-widget-content .ui-state-default{
			color: @user_menu!important;
			&:hover{
				color: @menu !important;
			}
		}
	}
}

#ui-datepicker-div{
	margin-top: 15px !important;
	padding: 0 !important;
}

.ui-datepicker-prev span:after{
	color: white;
	content: "\e003";
  	display: block;
  	font-family: 'icons';
	font-size: 9px;
	left: 0;
  	position: absolute;
  	speak:none;
  	text-indent: 0;
  	top:1px;
  	-webkit-font-smoothing: antialiased;
}

.ui-timepicker-list{
	border: 1px solid @user_menu;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	box-shadow: none;
	top: 315px !important;
	width:112px !important;
	li{
		color: @text;
		&:hover{
			background-color: @brand !important;
			color: white !important;
		}
		&.ui-timepicker-selected{
			background-color: @brand !important;
			color: white !important;
		}
	}
}
.ui-icon{
	visibility: hidden;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	background: white !important;
	border:0;
	color: @menu;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.8;
	text-align: center;
	&:hover{
		background:@grey_one !important;
		-webkit-border-radius: 3px;
    	border-radius: 3px;
	}
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled{
	color: @user_menu;
}

.ui-icon, .ui-widget-content .ui-icon{
	background-image: none !important;
}
.ui-widget-header .ui-icon{
	background-image: none;
}

// ERROR 
.control-group.error{
	.control-label{
		color:@brand;
		display: inline-block;
	}
    .help-inline {
    	color:@buttons;
		font-size: 11px;
		margin-bottom: 2px;
	}
}

// VALID

.valid{
	color: @valid;
	font-size: 11px;
	margin-bottom: 2px;
}

