/*
 *= require 'application'
 */
@import "variables";
@font-face {
	font-family: 'icons';
	src:font-url('icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body.app-layout {
	background: #fff !important;
	padding-top: 0px;
}
.pdf-keeptogether {
	page-break-inside: avoid !important;
}
.last-in-page { page-break-after: always; }
#main-container{
	padding: 0;
}
.resource-list {
	margin-top: 0;
	.resource-item {

		.resource-item-link {
			width: 100%;
		}
		.resource-item-actions {
			display: none;
		}
		&:hover {
			.resource-item-actions {
				display: none;
			}
		}
	}
}
.filter-description {
	.filter-item {
		display: inline-block;
		border: 1px solid $borders;
		padding: 0 10px;
		border-radius: 3px;
		.icon-close {
			display: none;
		}
	}
}

.data-form-wrapper {
	.checker {
		background-color: #fff;
		&>span {
			display: inline-block;
			height: 12px;
			width: 12px;
			border: 4px solid $brand;
			border-radius: 5px;
		}
		&>span.checked {
			height: 20px;
			width: 20px;
			border: 0;
			background-color: $blue;
			&:after {
				color: white;
			}
		}
	}
	.percentage-progress-bar {
		display: none;
	}

	label.radio div.radio {
		span.checked {
			border: 4px solid $blue;
			&:after{
				background-color: $blue;
			}
		}
	}

	textarea {
		resize: none;
		min-height: 114px;
	}
}