/*
 *= require colors
 *= require 'eventsCalendar.css'
 *= require 'brandscopic.datepick.css'
 *= require 'brandscopic'
 *= require 'forms'
 *= require 'trends'
 *= require 'chosen.css'
 *= require 'modals'
 *= require 'dashboard'
 *= require 'date_ranges'
 *= require 'day_parts'
 *= require 'campaigns'
 *= require 'users'
 *= require 'cross_browser'
 *= require 'icon-fonts'
 *= require 'theme'
 *= require 'fullcalendar-custom'
 *= require 'responsive'
 *= require 'header'
 */
@import "variables";
@font-face {
	font-family: 'icons';
	src:font-url('icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body.app-layout {
	background: #fff !important;
	padding-top: 0px;
}
.pdf-keeptogether {
	page-break-inside: avoid !important;
}
.last-in-page { page-break-after: always; }
#main-container{
	padding: 0;
}
.resource-list {
	margin-top: 0;
	.resource-item {

		.resource-item-link {
			width: 100%;
		}
		.resource-item-actions {
			display: none;
		}
		&:hover {
			.resource-item-actions {
				display: none;
			}
		}
	}
}
.filter-description {
	.filter-item {
		display: inline-block;
		border: 1px solid $borders;
		padding: 0 10px;
		border-radius: 3px;
		.icon-close {
			display: none;
		}
	}
}

.data-form-wrapper {
	.checker {
		background-color: #fff;
		&>span {
			display: inline-block;
			height: 12px;
			width: 12px;
			border: 4px solid $brand;
			border-radius: 5px;
		}
		&>span.checked {
			height: 20px;
			width: 20px;
			border: 0;
			background-color: $primary-blue;
			&:after {
				color: white;
			}
		}
	}
	.percentage-progress-bar {
		display: none;
	}

	label.radio div.radio {
		span.checked {
			border: 4px solid $primary-blue;
			&:after{
				background-color: $primary-blue;
			}
		}
	}

	textarea {
		resize: none;
		min-height: 114px;
	}
}
.calendar-data, .email-data, .phone-data, .place-data,
.time-data, .description-data, .member-data{
	width: 100%;
	span { 
		display: initial;
	}
}
.details_box {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.result_user_date{
	display: none;
}
#resource-close-details {
	display: none;
}
.with-details-close-bar .padding-top-close-bar {
	padding-top: 0;
}