/*
 *= require 'jquery-ui-1.10.3.custom'
 *= require 'bootstrap'
 *= require 'jquery.datepick.css'
 *= require 'jquery.timepicker.css'
 *= require 'jquery.jscrollpane.css'
 *= require 'jqslider-classic.css'
 *= require 'jquery.fancybox.css'
 *= require 'superfish.css'
 *= require 'uniform.default.css'
 *= require 'superfish-vertical.css'
 *= require 'select2.css'
 *= require 'chardinjs.css'
 *= require 'fullcalendar'
 */