/*
 *= require 'jquery-ui-1.10.3.custom'
 *= require 'bootstrap_and_overrides'
 *= require 'bootstrap-switch'
 *= require 'jquery.datepick.css'
 *= require 'jquery.timepicker.css'
 *= require 'jquery.jscrollpane.css'
 *= require 'jqslider-classic.css'
 *= require 'jquery.fancybox.css'
 *= require 'uniform.default.css'
 *= require 'select2'
 *= require 'chardinjs.css'
 *= require 'fullcalendar'
 *= require 'colorPicker'
 */