@import "variables.scss"; 

// REPORTS
ul.reports-list {
	li{
		display: table;
		float: none;
		width: 100%;
		a{	
			float: left;
			padding: 0;
		}
	}
	.report-item {
		display: table-cell;
		float: none;
		height: 83px;
		padding: 0 30px 0 10px !important;
		vertical-align: middle;
		p{
			margin: 0;
		}
	}
	.report-status {
		padding: 10px;
	}
	a.download {
		position: relative;
		&:before {
			content: "\e00b" !important;
			display: inline-block;
			font-family: 'icons';
			font-size: 15px;
			position: relative;
			speak: none;
			text-align: center;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
	}
}

#report-builder {

	a.btn.btn-cancel{
		box-sizing:border-box;
		-moz-box-sizing: border-box;
	}

	.with-details-close-bar {
		padding-top: 60px;
	}

	#resource-close-details.affix {
		right: 250px;
	}

	.btn-save-report{
		margin-right: 10px;
	}

	.btn-save-report, .btn-cancel-report{
		box-sizing: border-box;
		float: left;
		width: 90px;
	}

	.buttons-zone{
		.btn-group{
			margin-left: 20px;
			vertical-align: top;
		}
		form{
			display: inline-block;
		}
		.icon-share{
			background-image: url("share.svg");
			background-size: 35%;
			background-repeat: no-repeat;
			background-position: 20px 7px;
			width: 60px;
			height: 35px;
		}
		.table-view, .charts{
			padding: 6px 17px;
		}
	}

	.report-overlay {
		background: url(/assets/loading.gif) no-repeat center center;
	}
	.report-placeholder {
		border: 1px solid #ccc;
		color: #ccc;
		padding: 100px 0;
		text-align: center;
	}

	.sidebar{
		::-webkit-input-placeholder {
		   color: $user_menu;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $user_menu;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $user_menu;  
		}

		:-ms-input-placeholder {  
		   color: $user_menu;  
		}
	}
	.btn[disabled=disabled] {
		opacity: 0.5;
	}
	#field-search-input {
		background-color: white !important;
		border: 1px solid $user_menu;
		height: 37px;
		width: 209px;
		background-image: url("search2.svg") !important;
		background-position: center right;
		background-repeat: no-repeat;
		-webkit-border-radius: 20px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-radius: 20px;
		padding-left: 7%;
		padding-right: 17%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.draggable-list {
		font-weight: normal;
		overflow:auto;
		text-transform: none;
	}

	.field-list {
		border: 1px solid #ccc;
		height: 94px;
		padding: 4px 10px;
		margin-bottom: 10px;
		overflow: auto;
		&+p{
			color: $user_menu;
			padding-bottom:10px;
			padding-top:20px;
			text-align: center;
		}
		&> ul {
			margin: 7px -5px 30px -5px;
			&#report-filters{
				margin-bottom: 0;
				margin-top: 0;
				.field-label{
					width: 90%;
				}
			}
			li{
				margin: 3px 0;
				padding: 3px 5px;
				&:last-child{
					margin-bottom: 0;
				}

				&.ui-sortable-placeholder {
					height: 2px;
					opacity: 1;
					background-color: $grey_three;
					border-radius: 0;
					visibility: visible !important;
					padding: 0;
					position: relative;
					&:before {
						content: "||";
						letter-spacing: -2px;
						top: -9px;
						left: -1px;
						position: absolute;
						font-size: 6px;
						font-weight: bolder;
					}
					&:after {
						content: "||";
						letter-spacing: -2px;
						top: -9px;
						right: 1px;
						position: absolute;
						font-size: 6px;
						font-weight: bolder;
					}
				}

				&.ui-sortable-helper, &.ui-draggable-dragging {
					opacity: 0.5;
					.field-settings-btn {
						display: none;
					}
				}
			}
		}
		i.icon-caret-down:before{
			content: "\e004";
			display: inline-block;
			font-family: 'icons';
			font-size: 13px;
			left: 5px;
			padding-bottom: 5px;
			position: relative;
			top: 5px;
			speak: none;
			text-align: center;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
		&#report-fields {
			font-weight: bold;
			height: 345px;
			margin-top: 10px;
			text-transform: uppercase;
			ul {
				&:last-of-type{
					margin-bottom: 10px;
				}
			}
			.field-settings-btn {
				display: none;
			}
		}
		&#report-filters-outer, &#report-columns-outer, &#report-rows-outer, &#report-values-outer{
			margin-top: 5px;
			margin-bottom: 20px;
			ul{
				margin-bottom: 0;
				margin-top: 0;
				height:90%;
			}
		}

		&#report-values-outer{
			margin-bottom: 0;
		}

		li {
			list-style: none;
			cursor: pointer;
			border-radius: 3px;
		}
	}

	.report-field {
		padding-right: 25px;
		position: relative;
		overflow: visible;
		.field-label {
			float: left;
		}
		.field-settings-btn {
			cursor: pointer;
			float: right;
			margin-right: 2px;
			font-size: 20px;
		}
	}

	.report-field:hover, .ui-draggable-dragging {
		background-color: $grey_one;
	}

	.report-field-settings {
		padding: 8px;
		background-color: $grey_one;
		width: 194px;
		border-radius: 5px;
		input, select {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			background-color: #fff !important;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none; 
		}

		.chzn-container{
			width: 100% !important;
		}

		.chzn-container-single {
			.chzn-single {
				border: 1px solid white !important;
				box-sizing:border-box;
				height: 34px !important;
				width: 100% !important;
				div b{
					background: url("triangle-down.svg") no-repeat 0px 13px !important;
				}
				span{
					line-height: 32px;
				}
			}
			.chzn-search input{
				background-image:none;
				bottom: 9px;
				width: 70% !important;				
			}
			.chzn-drop{
				width: 194px !important;
			}
			.chzn-results{
				li.no-results{
					background-color: $brand;
					color: white;
					margin-bottom: 5px;
				}
			}
		}

		label.control-label{
			margin-bottom:5px;
		}
		.control-group{
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	.btn-cancel-report-form {
		display: inline-block;
	}
}


$report_border_color: #ccc;
#report-container {
	min-height: 200px;
	margin-top: 50px;
	.report-outer {
		position:relative;
		border: thin solid $report_border_color;
	}
	.report-inner {
		overflow-x:hidden;
		overflow-y:visible;
		margin-left:230px;
		*margin-left: -230px;/*ie7*/
	}
	.report-table {
		margin-bottom: 0px;
		.level_1 .row_label {
			padding-left: 40px;
		}
		.level_2 .row_label {
			padding-left: 40px;
		}
		.level_3 .row_label {
			padding-left: 60px;
		}
		.level_4 .row_label {
			padding-left: 70px;
		}
		tr:hover td{
			background-color: transparent;
		}
		thead {
			border-bottom: thin solid $report_border_color;
			tr {
				border-bottom: none 0;

				&.cols-widths {
					td {
						line-height: 1px;
						padding:0;
						height:1;
					}
				}
				th, td {
					font-weight: normal;
					text-align: center;
					text-transform: uppercase;
					white-space: nowrap;
					border-top: none 0 !important;
					border-bottom: none 0 !important;
				}
				&.last-header, &.grand-total {
					th, td { 
						text-align: right;
					}

					td:first-child {
						text-align: left;
					}

					th:last-child{
						padding-right: 20px;
					}

				}

				&.last-header{
					th{
						padding: 10px 8px 0 10px;
					}
				}
				&.grand-total{
					th{
						font-size: 17px;
					}
				}
				&:last-child td:first-child {
					border-bottom: thin solid $report_border_color !important;
				}
			}
		}
		tbody td {
			border: 0;
			text-align: right;
		}
		tr td:first-child {
			white-space: nowrap;
			text-align: left;
			position:absolute;
			*position: relative; /*ie7*/
			left:0;
			padding-left: 20px;
			width:215px;
			height: 20px;
		}

		tr td:last-child{
			padding-right: 20px;
		}

		&.multi-row {
			tr.level_0 {
				border-top: thin solid $report_border_color;
				font-weight: bold;
				.row_label{ 
					border-top: thin solid $report_border_color;
					font-weight:bold;
					margin-top: -1px;
				}
			}
		}
	}

	.report-arrows {
		text-align: right;
		a.disabled {
			opacity: 0.5;
		}
	}
}

.report_modal {
	.chzn-results {
		li:after {
			margin-left: 20px;
			color: #ccc;
		}
		li.company_user:after {
			content: "USER";
		}
		li.role:after {
			content: "ROLE";
		}
		li.team:after {
			content: "TEAM";
		}
	}
}

.icon-minus, .icon-plus{
	display:inline-block;
	height:20px;
	margin-right:10px;
	width:10px;
	&:hover{
		color: $text !important;
		text-decoration: none !important;;
	}
}
