// REPORTS
ul.reports-list {
	li{
		display: table;
		float: none;
		width: 100%;
	}
	.report-item {
		display: table-cell;
		float: none;
		padding: 0 10px;
		vertical-align: middle;
		a{
			p{
				margin: 0;
			}
		}
	}
	.report-status {
		padding: 10px;
	}
	a.download {
		position: relative;
		&:before {
			content: "\e00b" !important;
			display: inline-block;
			font-family: 'icons';
			font-size: 15px;
			position: relative;
			speak: none;
			text-align: center;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
	}
}

#report-builder {
	.report-overlay {
		background: url(/assets/loading.gif) no-repeat center center;
	}
	.report-placeholder {
		border: 1px solid #ccc;
		color: #ccc;
		padding: 100px 0;
		text-align: center;
	}
	#report-container {
		min-height: 200px;
		margin-top: 20px;
	}
	.btn[disabled=disabled] {
		opacity: 0.5;
	}
	#field-search-input {
		width: 195px;
		background-image: url("search2.svg") !important;
		background-position: center right;
		background-repeat: no-repeat;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		padding-left: 2%;
		padding-right: 2%;
	}

	.draggable-list {
		overflow:auto;
	}

	.field-list {
		border: 1px solid #ccc;
		padding: 5px;
		margin-bottom: 10px;
		height: 100px;
		overflow: auto;
		&> ul {
			margin:0;
		}
		&#report-fields {
			height: 300px;
			ul {
				margin-bottom: 10px;
			}
			.field-settings-btn {
				display: none;
			}
		}
		.sortable-list {
			min-height: 100%;
		}

		li {
			list-style: none;
			cursor: pointer;
			border-radius: 3px;
		}
	}

	.report-field {
		padding-right: 25px;
		position: relative;
		overflow: visible;
		.field-label {
			float: left;
		}
		.field-settings-btn {
			cursor: pointer;
			float: right;
			margin-right: -15px;
			font-size: 20px;
		}
	}

	.report-field:hover, .ui-draggable-dragging {
		background-color: #ccc;
	}

	.report-field-settigns {
		padding: 8px;
		background-color: #ccc;
		width: 198px;
		border-radius: 5px;
		input, select {
			width: 90%;
			background-color: #fff !important;
		}

		.chzn-container-single {
			.chzn-single {
				width: 90%;
			}
		}
	}

	.btn-cancel-report-form {
		display: inline-block;
	}
}