@import "variables.scss"; 

// REPORTS
ul.reports-list {
	li{
		display: table;
		float: none;
		width: 100%;
		a{	
			float: left;
			padding: 0;
		}
	}
	.report-item {
		display: table-cell;
		float: none;
		height: 83px;
		padding: 0 30px 0 10px !important;
		vertical-align: middle;
		p{
			margin: 0;
		}
	}
	.report-status {
		padding: 10px;
	}
	a.download {
		position: relative;
		&:before {
			content: "\e00b" !important;
			display: inline-block;
			font-family: 'icons';
			font-size: 15px;
			position: relative;
			speak: none;
			text-align: center;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
	}
}

#report-builder {

	.btn-save-report{
		margin-right: 10px;
	}

	.btn-save-report, .btn-cancel-report{
		box-sizing: border-box;
		float: left;
		width: 90px;
	}

	.buttons-zone{
		.btn-group{
			margin-left: 20px;
			vertical-align: top;
		}
		.icon-share, .table-view, .charts{
			padding: 6px 17px;
		}
	}

	.report-overlay {
		background: url(/assets/loading.gif) no-repeat center center;
	}
	.report-placeholder {
		border: 1px solid #ccc;
		color: #ccc;
		padding: 100px 0;
		text-align: center;
	}

	.sidebar{
		::-webkit-input-placeholder {
		   color: $user_menu;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $user_menu;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $user_menu;  
		}

		:-ms-input-placeholder {  
		   color: $user_menu;  
		}
	}
	.btn[disabled=disabled] {
		opacity: 0.5;
	}
	#field-search-input {
		background-color: white !important;
		border: 1px solid $user_menu;
		height: 37px;
		width: 209px;
		background-image: url("search2.svg") !important;
		background-position: center right;
		background-repeat: no-repeat;
		-webkit-border-radius: 20px;
		box-sizing: border-box;
		border-radius: 20px;
		padding-left: 7%;
		padding-right: 17%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.draggable-list {
		font-weight: normal;
		overflow:auto;
		text-transform: none;
	}

	.field-list {
		border: 1px solid #ccc;
		height: 94px;
		padding: 4px 10px;
		margin-bottom: 10px;
		overflow: auto;
		&+p{
			color: $user_menu;
			padding-bottom:10px;
			padding-top:20px;
			text-align: center;
		}
		&> ul {
			margin: 7px -5px 30px -5px;
			&#report-filters{
				margin-bottom: 0;
				margin-top: 0;
				.field-label{
					width: 90%;
				}
			}
			li{
				margin: 3px 0;
				padding: 3px 5px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		i.icon-caret-down:before{
			content: "\e004";
			display: inline-block;
			font-family: 'icons';
			font-size: 13px;
			left: 5px;
			padding-bottom: 5px;
			position: relative;
			top: 5px;
			speak: none;
			text-align: center;
			vertical-align: middle;
			-webkit-font-smoothing: antialiased;
		}
		&#report-fields {
			font-weight: bold;
			height: 345px;
			margin-top: 10px;
			text-transform: uppercase;
			ul {
				&:last-of-type{
					margin-bottom: 10px;
				}
			}
			.field-settings-btn {
				display: none;
			}
		}
		&#report-filters-outer, &#report-columns-outer, &#report-rows-outer, &#report-values-outer{
			margin-top: 5px;
			margin-bottom: 20px;
			ul{
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		&#report-values-outer{
			margin-bottom: 0;
		}

		li {
			list-style: none;
			cursor: pointer;
			border-radius: 3px;
		}
	}

	.report-field {
		padding-right: 25px;
		position: relative;
		overflow: visible;
		.field-label {
			float: left;
		}
		.field-settings-btn {
			cursor: pointer;
			float: right;
			margin-right: 2px;
			font-size: 20px;
		}
	}

	.report-field:hover, .ui-draggable-dragging {
		background-color: $grey_one;
	}

	.report-field-settings {
		padding: 8px;
		background-color: #ccc;
		width: 198px;
		border-radius: 5px;
		input, select {
			width: 90%;
			background-color: #fff !important;
		}

		.chzn-container-single {
			.chzn-single {
				width: 90%;
			}
		}
	}

	.btn-cancel-report-form {
		display: inline-block;
	}
}


$report_border_color: #ccc;
#report-container {
	min-height: 200px;
	margin-top: 50px;
	.report-outer {
		position:relative;
		border: thin solid $report_border_color;
	}
	.report-inner {
		overflow-x:hidden;
		overflow-y:visible;
		margin-left:230px;
		*margin-left: -230px;/*ie7*/
	}
	.report-table {
		margin-bottom: 0px;
		.level_1 .row_label {
			padding-left: 20px;
		}
		.level_2 .row_label {
			padding-left: 40px;
		}
		.level_3 .row_label {
			padding-left: 60px;
		}
		.level_4 .row_label {
			padding-left: 70px;
		}
		tr:hover td{
			background-color: transparent;
		}
		thead {
			border-bottom: thin solid $report_border_color;
			tr {
				border-bottom: none 0;

				&.cols-widths {
					td {
						line-height: 1px;
						padding:0;
						height:1;
					}
				}
				th, td {
					font-weight: normal;
					text-align: center;
					text-transform: uppercase;
					white-space: nowrap;
					border-top: none 0 !important;
					border-bottom: none 0 !important;
				}
				&.last-header, &.grand-total {
					th, td { 
						text-align: right;
					}

					td:first-child {
						text-align: left;
					}
				}
				&:last-child td:first-child {
					border-bottom: thin solid $report_border_color !important;
				}
			}
		}
		tbody td {
			border: 0;
			text-align: right;
		}
		tr td:first-child {
			white-space: nowrap;
			text-align: left;
			position:absolute;
			*position: relative; /*ie7*/
			left:0;
			width:215px;
			height: 20px;
		}

		&.multi-row {
			tr.level_0 {
				border-top: thin solid $report_border_color;
				.row_label{ 
					border-top: thin solid $report_border_color;
					font-weight:bold;
					margin-top: -1px;
				}
			}
		}
	}

	.report-arrows {
		text-align: right;
		a.disabled {
			opacity: 0.5;
		}
	}
}