@media (min-width: 979px) {
	.main-nav-collapse {
		display: none;
	}
}

@media (max-width: 767px) {
	.modal {
		&.modal-large {
			min-width: 0 !important;
		}
		.edit-event {
			.to {
				width: 100%;
				clear: both;
				padding: 10px 0;
				padding: 10px 0 10px 120px;
				text-align: left;
			}
		}
		&.modal-large {
			.chzn-single {
				width: 100% !important;
			}
			select {
				width: 100%;
			}
		}

		.modal-body {

			.input-xxlarge {
				width: 100% !important;
			}
			.control-group.location {
				width:  100%;
				height: 40px;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			.chosen-campaign .control-group {
				width: 100%;
			}

			.form-actions {
				.btn-primary, 
				.btn-cancel {
					width: 48%;
					max-width: 140px
				}
			}
		}
	}
}

@media (max-width: 979px) {
	#main-container {
		padding: 0;
	}
	.collection-list-description {
		margin: 0 10px 10px 11px;
	}

	body.app-layout {
		background-image: none; 
	}

	.modal {

	}

	#top-admin-home-navigation {
		&>.nav-pills {
			margin-right: 0;
		}
		li#admin, li#user_menu, li#help_menu {
			display: none;
		}
	}

	#application-content {
		&>.main {
			margin-right: 0;
		}

		&>#resource-filter-column {
			position: absolute;
			overflow: hidden;
			right: 0;
			background-color: #c0c0c0;
			z-index: 1000;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&.collapsed {
				width: 0;
				padding: 0;
				overflow: hidden;
				&>* {
					visibility: hidden;
				}
			}

			&.expanded {
				width: 210px;
				padding: 13px 11px 18px 11px;
				-webkit-box-shadow: -5px 0px 5px 0px rgba(236, 236, 236, .5);
				box-shadow: -5px 0px 5px 0px rgba(236, 236, 236, .5);
				&>* {
					visibility: visible;
				}
			}
		}
	}
	.list-filter-btn {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 30%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 7px 9px;
	}
}

.main-nav-collapse {
	ul.nav {
		li {
			a {
				padding: 9px 15px 9px 60px;

				&:before {
					left: -20px !important;
					padding: 0px !important;
					text-align: left !important;
					top: 0px !important;
					float: left;
					font-size: 20px !important;
				}
			}
		}
	}
}