@media (min-width: 979px) {
	.main-nav-collapse {
		display: none;
	}
}

@media (max-width: 979px) {
	#main-container {
		padding: 0;
		#resource-close-details {
			a.close-details {
				padding: 0;
			}
			.details-bar-pull-left {
				padding: 10px 30px 7px 16px;
			}
			.close {
				margin-right: -15px;
				margin-top: 10px;
			}
			&.affix {
				left: 10px;
			}
		}
	}
	.collection-list-description {
		margin: 0 10px 10px 11px;
	}

	.main-nav-collapse {
		#results, #analysis {
			display: none;
		}
	}

	body.app-layout {
		background-image: none;
		padding-left: 0px;
		padding-right: 0px;
		.navbar-fixed-top {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	#gender-graph {
		.male {
			margin: 0px 30px 25px 60px;
		}
		.male, .female {
			&:before {
				font-size: 80px;
				right: 45px
			}
			.percent {
				font-size: 38px;
				padding-bottom: 20px;
			}
			.gender {
				font-size: 25px;
			}
		}
	}

	.details_box {
		ul#expenses-list {
			li{
				&.total-expenses {
					span {
						&:first-child {
							margin: 30px 0 0 0;
							width: 67% !important;
						}
					}
				}
				span{
					&:first-child {
						width: 65% !important;
					}
				}
			}
		}
	}

	#top-admin-home-navigation {
		&>.nav-pills {
			margin-right: 0;
		}
		li#admin, li#user_menu, li#help_menu {
			display: none;
		}
	}

	#application-content {
		.main {
			margin-right: 0;
		}

		#resource-filter-column {
			position: absolute;
			right: 0;
			background-color: #c0c0c0;
			z-index: 1000;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&.collapsed {
				width: 0;
				padding: 0;
				&>* {
					visibility: hidden;
					display: none;
				}

			}

			&.expanded {
				width: 210px;
				padding: 13px 11px 18px 11px;
				-webkit-box-shadow: -5px 0px 5px 0px rgba(236, 236, 236, .5);
				box-shadow: -5px 0px 5px 0px rgba(236, 236, 236, .5);
				&>* {
					visibility: visible;
					display: block;
				}
			}
		}
	}
	.list-filter-btn {
		display: inline-block !important;
		position: absolute;
		left: -30px;
		top: 50px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 7px 9px;
		visibility: visible !important;
	}

	.link-list ul#venues-list li a {
		padding-left: 5px;
		padding-right: 0px;
		.events {
			display: inline-block;
			margin-left:  0px;
			width: 50px;
		}
		.hours {
			width: 50px;
		}
		.score {
			width: 50px;
		}
	}
}

@media (max-width: 767px) {
	#main-container {
		#resource-close-details {
			&.affix {
				left: 10px;
				right: 10px;
			}
		}
	}

	.modal {
		.edit-event {
			.to {
				width: 100%;
				clear: both;
				padding: 10px 0;
				padding: 10px 0 10px 120px;
				text-align: left;
			}
		}
		&.modal-large {
			.chzn-single {
				width: 100% !important;
			}
			select {
				width: 100%;
			}
		}

		.modal-body {

			.input-xxlarge {
				width: 100% !important;
			}
			.control-group.location {
				width:  100%;
				height: 40px;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
			}
			.chosen-campaign .control-group {
				width: 100%;
			}

			.form-actions {
				.btn-primary,
				.btn-cancel {
					width: 48%;
					max-width: 140px
				}
			}
		}
	}

	body.events.show {
		.team-member {
			width: 90%;
		}
		.box_metrics {
			float: left;
			margin-bottom: 25px;
			width: 100%;
		}
		ul.consumer-reach-metrics {
			&.pull-right {
				.metric {
					float: left;
				}
			}
			li {
				.metric {
					float: left;
					text-align: left;
				}
				.progress {
					float: left;
				}
			}
		}
	}

	.link-list {
		li {
			.edit, .enable, .disable {
				&:after {
					font-size: 16px;
					margin-left: 8px;
					content: "";
					display: none;
				}
			}
			.preview:after {
				font-size: 20px;
				margin-right: 0px;
			}
		}
		span.address {
			width: 58%;
		}
	}

	#gender-graph {
		.male {
			margin: 0px 30px 25px 55px;
		}
		.male, .female {
			&:before {
				font-size: 65px;
				right: 40px
			}
			.percent {
				font-size: 25px;
				padding-bottom: 14px;
			}
			.gender {
				font-size: 20px;
			}
		}
	}

	.survey-column-graph {
		margin: 20px 0 40px;
		width: 99%;
	}

	.details_box {
		.box_summary {
			width: 100%;
			.summary-content {
				margin-bottom: 35px;
			}
		}

		.document {
			display: block;
			margin: 0 25px 30px 0;
			width: 90%;
		}

		.results-surveys {
			p {
				width: 96%;
			}
		}

		ul#expenses-list {
			li{
				&.total-expenses {
					span {
						&:first-child {
							margin: 30px 0 0 10px;
							text-align: left;
							width: 45% !important;
						}
						&:last-child{
							margin: 32px 0px 0px 15px;
							text-align: left;
							width: 89px;
						}
					}
					b {
						font-size: 14px;
					}
				}
				span {
					&:first-child {
						font-size: 14px;
						margin: 30px 0 0 10px;
						width: 45% !important;
					}
					&.links {
						line-height: 5px;
						margin: 18px 10px 0px 0px;
						text-align: center;
						a {
							display: block;
							height: 20px;
							&.preview, &.edit, &.disable {
								&:after {
									margin-left: 0px;
									top: 0px;
								}
							}
						}
					}
					&.total{
						font-size: 14px;
						margin-left: 15px;
						text-align: left;
						width: 90px;
						white-space: nowrap;
					}
				}
			}
		}

		.event-comments-list {
			width: auto;
			.comment-row {
				p {
					margin-top: 0px;
					width: 68%;
				}
			}
		}

		.calendar-data, .email-data, .phone-data, .place-data, .time-data, .description-data{
			width: 99%;
		}

		h2 {
			&.special {
				line-height: 30px;
			}
		}
	}

	#event-expenses {
		&.details_box {
			padding: 30px 10px;
		}
	}

	#event-tasks.details_box {
		.task-list {
			.checkbox {
				padding-left: 5px;
			}
			.task-completed {
				margin-right: 8px !important;
			}
			.title {
				b {
					font-size: 14px;
				}
			}
			.tasks-date {
				margin-left: 10px !important;
				width: 100% !important;
			}
			.links {
				margin: 0px;
				a {
					display: block;
					height: auto;
					&.load-comments-link, &.edit, &.disable {
						display: none;
						&:after {
							margin-left: 0px;
							top: 0px;
							content: '';
						}
					}
				}
			}
			span.pull-right {
				margin: 0px !important;
			}
		}

		#event-tasks-counters {
			.task-counter-bar{
				margin-top: 10px;
				.task-counter-item {
					font-size: 30px;
					margin-right: 18px;
					label{
						font-size: 10px;
					}
				}
			}
		}

		.task-comments {
			#comment-form-container {
				margin-left: 13px;
				.control-group {
					width: 69%;
				}
			}
			input.btn {
				width: 28%;
				white-space: normal;
			}
			.comment-row {
				margin-left: 13px;
				width: 90%;
			}
		}
	}

	.link-list ul#venues-list li a {
		span:first-child {
			float: none;
			width: 50%;
		}
		.events, .hours, .score {
			width: 40px;
			.n_events, .n_hours, .n_score  {
				font-size: 12px;
				overflow: hidden;
			}
		}
	}
}

@media (max-width: 400px) {
	body {
		font-size: 12px;
		&.events {
			&.show {
				.percentage-progress-bar {
					.counter {
						right: -30px;
					}
				}
			}
		}
	}

	.btn {
		padding: 4px 7px;
		font-size: 12px;
		&:after{
			font-size: 12px !important;
		}
	}

	.collection-list-description {
		padding: 5px 0 0 5px;
		font-size: 13px;
		.filter-label {
			padding-right: 25px;
		}
		.close  {
			right: 20px;
		}
	}

	.modal {
		.modal-body  {
			.form-actions .btn-primary,
			.form-actions .btn-cancel {
				width: 80px;
			}

			input {
				&.input-xlarge[type="text"] {
					width: 100%;
				}
			}

			textarea {
				&.input-xlarge {
					width: 100%;
				}
			}
		}

		.modal-footer {
			a {
				&.btn {
					width: 112px;
				}
			}
		}

		&.modal-large, &.modal-med {
			min-width: 0 !important;
			width: auto;
		}

		&.modal-med {
			.control-group {
				margin-bottom: 10px !important;
				&.task_title {
					width: auto !important;
				}

				&.task_due_at {
					margin-left: 0px !important;
				}
			}

			&.eventexpense_modal {
				width: auto;
				.expense-info-form {
					height: 315px;
					width: 100%;

					.form-actions {
						position: absolute;
						bottom: 0px;
					}
				}
				.expense-file-form {
					position: relative;
					 right: 0;
				}
			}

			&.comment_modal {
				width: auto;
			}
		}

		.edit-event .to {
			display: none;
		}
	}

	.details_box {
		textarea, input[type="text"] {
			width: 100%;
		}

		#edit_event_data_form {
			.control-group {
				&.percentage {
					width: 290px;
					input[type="text"] {
						width: 70px !important;
					}
				}
			}

			.form-actions {
				.btn-primary,
				.btn-cancel {
					height: 30px;
					margin-right: 16px;
					width: 41%;
				}
			}
		}
	}

	.link-list {
		font-size: 10px;
		b {
			font-size: 14px;
		}

		ul#venues-list li a {
			.events, .hours, .score{
				width: 30px;
			}
		}

		ul#tasks-list li {
			.task-list {
				span.last{
					margin-left: 58px;
					.tasks-date {
						width: 100%;
					}
				}
				span.title {
					width: 50% !important;
				}
			}
		}

		ul#tasks-list li span.task-list > span:first-child {
			margin-right: 10px;
			label.checkbox {
				padding-left: 10px;
			}
		}
	}

	#gender-graph {
		.male {
			margin: 0px 0px 25px 45px;
		}
		.male, .female {
			&:before {
				font-size: 65px;
				right: 40px
			}
			.percent {
				font-size: 25px;
				padding-bottom: 14px;
			}
			.gender {
				font-size: 20px;
			}
		}
	}

	.venues.show #overall-ethnicity-graph {
		margin: 0px;
	}

	#trends-day-week-graph {
		height: 300px;
	}

	ul.thumbnails li.span2 {
		display: block;
		margin: 10px auto;

		&:first-child {
			margin: 10px auto;
		}
	}

	#asset_upload_dialog {
		.or-divider, .file-drag-drop {
			display: none;
		}
	}

}

.main-nav-collapse {
	ul.nav {
		li {
			a {
				padding: 9px 15px 9px 60px;

				&:before {
					left: -20px !important;
					padding: 0px !important;
					text-align: left !important;
					top: 0px !important;
					float: left;
					font-size: 20px !important;
				}
			}
		}
	}
}