/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sf-vertical {
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */

  /*
  min-width: 12em;
  *width: 12em;
  */
}

.filter_vertical_box{
	overflow:auto; 
	max-height:400px; 
	width:inherit;
	left:	-100%;
	top: 0;
  border: solid 1px #cccccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
	
}
.filter_vertical_box div ul {
	margin: 10px 0px 0px 0px;
}

.parent_div{
	width: 224px;
	display: inline-block;
  overflow:auto;
	display: scroll;
}

.child_div{
	width: 224px;
	display:none;
	margin-top: 20px;
}
.grand_child_div{
	width: 224px;
	display:none;
	margin-top: 20px;
}
.sf-vertical > li > ul {
  border: none;
}
.sf-vertical > li {
  float: none;
}
.sf-vertical > li > ul > il {
  float: none;
}
.sf-vertical li {
 
}
.child_submenu{
	width: inherit;
	margin-top: 10px;
	border-top: 1px solid #CCCCCC;
	
	background: white !important;
	box-shadow: none !important;
	left:0 !important;
	top:20px !important;
	margin-top: 10px;
}
/*** alter arrow directions ***/
.sf-vertical.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255,255,255,.5);
}
.sf-vertical.sf-arrows li > .sf-with-ul:focus:after,
.sf-vertical.sf-arrows li:hover > .sf-with-ul:after,
.sf-vertical.sf-arrows .sfHover > .sf-with-ul:after {
  border-left-color: white;
}
