@import "mixins";
@import "variables";


a{
	&.special{
		color: $link-color;
	}
	&:before, &:after{
		font-weight:normal;
	}
	&.underlined{
		text-decoration: underline;
		color: inherit;
	}
}

html {
	min-height: 100%;
	height:100%;
}

select{
	border:0;
}

//
// Form elements
// --------------------------------------------------

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	background-color: white;
	border: 1px solid $gray-light;
	box-shadow: none;
	box-sizing: border-box;
	font-family: $baseFontFamily;
	font-size: 13px;
	font-weight: normal;
	-webkit-box-shadow: none;
	height:39px;
	padding: 10px;
	width: 100%;
	transition: none;
	&:focus{
		border: 1px solid $brand;
		box-shadow: none;
		-webkit-box-shadow: none;
		outline:0;
	}
	&.date_picker[readonly]{
		color: silver;
	}
	&.input-calendar{
		background: image-url('calendar.svg') no-repeat left !important;
		text-align: right;
	}
	&.input-time{
		background: image-url('time.svg') no-repeat left !important;
		text-align: right;
	}
}

input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly]{
	background-color: white;
	//border: 1px solid rgba(192, 192, 192, 0.6);
	&:focus{
		border: 1px solid rgba(192, 192, 192, 0.6)
	}
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.control-group{
	&.error{
		input, select, textarea{
			box-shadow:none;
			-webkit-box-shadow: none;
			border-color: $primary-red;
		}
		.input-prepend .add-on, .input-append .add-on{
			color: white;
			background-color: $primary-red;
			border-color: $primary-red;
		}
	}
}


// Percentage fields - form wrapper

.data-form-wrapper{
	.input-append, .input-prepend{
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"]{
			border: 1px solid silver;
			&:focus{
				border: 1px solid silver;
			}
		}
	}
}




//
// Labels
// --------------------------------------------------

.label {
	font-size: 12px;
	font-weight: 400;
	@include border-radius(4px);
	padding: 5px 8px;
	text-shadow: none;
	&.label-default{
		background-color: $primary-blue;
		a{
			color:white;
		}
	}
	&.label-team{
		background-color: $gray-light;
		color: white;
		@include border-radius(15px);
		line-height: 24px;
		padding: 0 15px 0 0;
		position: relative;
	}
}
