@import "mixins";
@import "variables";


a{
	&.special{
		color: $link-color;
	}
	&:before, &:after{
		font-weight:normal;
	}
}

html {
	min-height: 100%;
	height:100%;
}

//
// Form elements
// --------------------------------------------------

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	background-color: white;
	border: 1px solid $grey_four;
	box-shadow: none;
	box-sizing: border-box;
	font-family: $baseFontFamily;
	font-size: 13px;
	font-weight: normal;
	-webkit-box-shadow: none;
	height:39px;
	padding: 10px;
	width: 100%;
	&:focus{
		border: 1px solid $brand;
		box-shadow: none;
		-webkit-box-shadow: none;
		outline:0;
	}
	&.date_picker[readonly]{
		color: silver;
	}
	&.input-calendar{
		background: image-url('calendar.svg') no-repeat left !important;
		text-align: right;
	}
	&.input-time{
		background: image-url('time.svg') no-repeat left !important;
		text-align: right;
	}
}

input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly]{
	background-color: white;
	//border: 1px solid rgba(192, 192, 192, 0.6);
	&:focus{
		border: 1px solid rgba(192, 192, 192, 0.6)
	}
}

// Percentage fields - form wrapper

.data-form-wrapper{
	.input-append, .input-prepend{
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"]{
			border: 1px solid silver;
			&:focus{
				border: 1px solid silver;
			}
		}
	}
}



//
// Buttons
// --------------------------------------------------

.btn{
	background-color: $user_menu;
	background-image: none;
	border: 0;
	box-shadow:none;
	color: white;
	font-family: $baseFontFamily;
	padding: 8px 17px;
	text-shadow:none;
	-webkit-box-shadow: none;
	&.btn-default{
		background-color:$user_menu;
		background-image:none;
		&:hover, &:active{
			background-color:$brand;
		}
		&[disabled]{
			background-color:$grey_one;
			color:$app_bg;
			&:hover{
				@extend .btn.btn-primary[disabled];
			}
		}
	}
	&.btn-primary{
		background-color: $buttons;
		background-image:none !important;
		border: 0;
		box-shadow: none;
		font-size: 14px;
		padding: 7px 25px;
		text-decoration: none !important;
		text-shadow:none;
		&:hover{
			background-color: $buttons-hover !important;
		}
		&:active{
			background-color: $buttons-hover;
			box-shadow: none;
		}
		&.fileinput-button{
			padding: 7px 23px;
		}
		&[disabled]{
			background-color:#f28179;
			color: #f5b8b8;
			&:hover{
				@extend .btn.btn-primary[disabled];
			}
		}
		&.active{
			background-color: $brand;
			border: 0;
			box-shadow: none;
			&.list, &.map, &.calendar, &.table, &.graph{
				&:after{
					color: $user_menu;
				}
			}
		}
		&:focus{
			outline:0;
		}
		&:hover{
			background-color: $btnHover;
			border: 0;
			box-shadow: none;
			color: #fff;
		}
		&.list:after, &.table:after{
			font-size: 14px;
			top:1px;
		}
		&.map:after{
			font-size: 15px;
			left: 2px;
			top:1px;
		}
		&.calendar:after{
			font-size: 15px;
			top: 2px;
		}
		&.graph:after{
			font-size: 14px;
			top: 1px;
		}
		.icon-calendar:before{
			font-size: 19px;
			left: 2px;
			top:1px;
		}
		&.btn-primary, &.btn-cancel{
			box-sizing: border-box;
			padding: 8px 25px;
			//height: 35px;
			&.fileinput-button{
				width: 140px;
			}
		}
	}
	&[title="Download"], &[title="Fullscreen"]{ /* This should be the style for every downlaod and fullscreen button */
		box-sizing:border-box;
		height: 34px;
	}
}

.btn-small {
	padding: 2px 10px;
}

// BTN GROUP
// According to the Style Guide there is no hover effect for this element
// ----------------------------------------------------------------------

.btn-group{
	margin-left: 25px;
	&>.btn+.btn{
		margin-left: 0;
	}
	.btn{
		border: 0;
		box-shadow: none;
		color: white;
		&.active{
			background-color: $brand;
			color: $user_menu;
			&:hover{
				background-color: $brand;
				color: $user_menu;
			}
		}
		&:hover{
			background-color: $user_menu;
			color: white;
		}
		&.calendar{
			border-left: 1px solid $buttons-border;
			border-right: 1px solid $buttons-border;
			&:last-child{
				border-right: none;
			}
		}
	}
}

.btn-cancel{
	background-color: $user_menu;
	&:hover{
		color: white;
		background-color: $brand;
	}
}

.btn-info{
	background-color: $user_menu !important;
	font-size: 13px;
	padding-bottom:9px;
	padding-top: 9px;
	i{
		line-height: 5px;
		font-size: 19px;
		position: relative;
		top: 6px;
		right: -12px;
	}
	&:hover{
		background-color: $brand !important;
	}
}

// End buttons styles




//
// Labels
// --------------------------------------------------

.label {
	font-size: 12px;
	font-weight: 400;
	@include border-radius(4px);
	padding: 4px 8px;
	text-shadow: none;
	&.label-default{
		background-color: $light-blue;
	}
	&.label-team{
		background-color: $grey_four;
		color: white;
		@include border-radius(15px);
		line-height: 24px;
		padding: 0 15px 0 0;
		position: relative;
	}
}
