@import "mixins";
@import "variables";


a{
	&.special{
		color: $link-color;
	}
	&:before, &:after{
		font-weight:normal;
	}
}

html {
	min-height: 100%;
	height:100%;
}

//
// Form elements
// --------------------------------------------------

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	background-color: white;
	border: 1px solid $grey_four;
	box-shadow: none;
	box-sizing: border-box;
	font-family: $baseFontFamily;
	font-size: 13px;
	font-weight: normal;
	-webkit-box-shadow: none;
	height:39px;
	padding: 10px;
	width: 100%;
	&:focus{
		border: 1px solid $brand;
		box-shadow: none;
		-webkit-box-shadow: none;
		outline:0;
	}
	&.date_picker[readonly]{
		color: silver;
	}
	&.input-calendar{
		background: url(/assets/calendar.svg) no-repeat left !important;
		text-align: right;
	}
	&.input-time{
		background: url(/assets/time.svg) no-repeat left !important;
		text-align: right;
	}
}

input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly]{
	background-color: white;
	border: 1px solid rgba(192, 192, 192, 0.6);
	&:focus{
		border: 1px solid rgba(192, 192, 192, 0.6)
	}
}

// Percentage fields - form wrapper

.data-form-wrapper{
	.input-append, .input-prepend{
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"]{
			border: 1px solid $brand;
			&:focus{
				border: 1px solid $brand;
			}
		}
	}
}



//
// Buttons
// --------------------------------------------------

.btn{
	background-color: $user_menu;
	background-image: none;
	border: 0;
	box-shadow:none;
	font-family: $baseFontFamily;
	padding: 8px 17px;
	text-shadow:none;
	-webkit-box-shadow: none;
	&[disabled]{
		background-color: $grey_one;
		opacity: 1;
		&:hover{
			background-color: $grey_one;
		}
	}
	&[title="Download"], &[title="Fullscreen"]{ /* This should be the style for every downlaod and fullscreen button */
		box-sizing:border-box;
		height: 34px;
		width:54px;
	}
}


//
// Labels
// --------------------------------------------------

.label {
	font-size: 12px;
	font-weight: 400;
	@include border-radius(4px);
	padding: 4px 8px;
	text-shadow: none;
	&.label-default{
		background-color: $light-blue;
	}
	&.label-team{
		background-color: $grey_four;
		color: white;
		@include border-radius(15px);
		line-height: 24px;
		padding: 0 15px 0 0;
		position: relative;
	}
}
