
/*-- COLOR PALETTE --*/
$app_bg: #ececec;
$assigned: #d6d64b;
$borders: #d3d3d3;
$brand: #989898;
$buttons: #de4d43;
$buttons-border: #acacac;
$buttons-hover: #cc4137;
$btnHover: #d6d6d6;
$complete: #90bf43;
$grey_one: #dfdfdf;
$grey_two: #ececec;
$grey_three: #7a7a7a;
$grey_four: #cccccc;
$green: #91bf43;
$dark_green: #6B9323;
$header: #363636; 
$menu: #4f4f4f;
$stars: #cfc53e;
$text: #666666;
$blue: #3e9ccf;
$dark_blue: #347B9B; 
$blue_hover:#327da6;
$due_today:#3e9ccf;
$user_menu:#c0c0c0;
$venues_blue:#3e9ccf;
$late:#de4d43;
$submitted:#3e9ccf;
$approved:#90bf43;
$rejected:#de4d43;
$alert_red: #de4d43;
$alert_blue: #3e9ccf;
$alert_grey: #7a7a7a;

/*-- FONT FAMILY STYLES --*/
$baseFontFamily:'Lato', sans-serif;
