

// VARIABLES
// ----------------------------------------------------------------------------------------


// COLOR PALLETE
// --------------------------------------------------

$app_bg:                 #ececec;
$white:                  #fff;

// Grays
// -------------------------
$gray-darker:            #4f4f4f;
$gray-dark:              #666666;
$gray:                   #7a7a7a;
$gray-light:             #cccccc;
$gray-lighter:           #dfdfdf;
$silver:                 #c0c0c0;

$icons-silver:           #fbfbfb;

$brand:                  #989898;
$tooltip:                #7a7a7a;

$menu:                   $gray-darker;
$user_menu:              $silver;

// Blue
// -------------------------
$primary-blue:           #3e9ccf;
$secondary-blue:         #3990bf;
$light_blue:             #90d5ef; // Trends colors
$dark_blue:              #347B9B;
$blue_hover:             #327da6; // Check - verify

// Green
// -------------------------
$primary-green:          #90bf43;
$secondary-green:        #7ca63a;

$green:                  $primary-green;
$dark_green:             #6B9323;

$yellow:				         #CFC53E;

// Red
// -------------------------
$primary-red:            #de4d43;
$secondary-red:          #cc4137;

// Pink
// -------------------------
$pink:                   #d93f99;

// Purple
// -------------------------
$purple:                 #7e42a4;
$light-purple:           #a766cf;

// Special uses
// -------------------------
$buttons:                $primary-red;
$buttons-hover:          $secondary-red;
$header:                 #363636;
$stars:                  #cfc53e; // Ratings

$approved:               $green;
$assigned:               #d6d64b;
$complete:               $green;
$due_today:              $primary-blue;
$late:                   $primary-red;
$submitted:              $primary-blue;
$rejected:               $primary-red;

// File type colors
// -------------------------
$adobe-ai-file:       	 #d7a23c;
$adobe-pdf-file:      	 $primary-red;
$adobe-psd-file:      	 #3881a8;
$adobe-indd-file:     	 $pink;

$ppt-file:            	 #cc4137;
$xls-file:            	 $secondary-green;


// TYPOGRAPHY
// --------------------------------------------------------------------------
$baseFontFamily:				 'Lato', sans-serif;
$baseFontSize:             14px;
$baseLineHeight:           22px;
$text: 									 $gray-dark;
$text-light: 						 $brand;

// LINKS
// -------------------------
$link-color:             $primary-blue;


// GLYPHS
// --------------------------------------------------------------------------
$glyphs-color:            #fcfcfc;


// RESOURCE ITEM LIST
// --------------------------------------------------------------------------
$resource-item-padding:   15px;
$resource-item-height:    55px;
$resource-item-height-single-line:   33px;


// OTHER VALUES
// --------------------------------------------------------------------------
$btnPrimaryBackground:    $primary-red;
$chzn-single-height:      39px;
$footer-height:           35px;


// Undefined uses - not present on the styleguide
// --------------------------------------------------------------------------
$borders:                 #d3d3d3;
$buttons-border:          #acacac;
$btnHover:                #d6d6d6;

// Links
// -------------------------
$linkColor:             	$text;
$linkColorHover:        	$text;

// Dropdowns
// -------------------------
$dropdownBorder:                $silver;
// $dropdownDividerTop:            #e5e5e5;
// $dropdownDividerBottom:         $white;

$dropdownLinkColor:             $text;
// $dropdownLinkColorHover:        $white;
// $dropdownLinkColorActive:       $white;

// $dropdownLinkBackgroundActive:  $linkColor;
// $dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;


// Buttons
// -------------------------
$btnBackground:                     $silver;

$btnPrimaryBackground:              $buttons;
$btnPrimaryBackgroundHighlight:     $buttons;

