<p>Hi <%= @resource.first_name %>,</p>

<p>You have been invited to the Brandscopic app. Please click the link below to sign in and fill our your profile.</p>

<p><%= link_to 'Sign in to your profile', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Kind regards,<br/>
The Brandscopic Team</p>