Hi <%= @resource.first_name %>,

<p>It looks like you forgot your Brandscopic password. Just click on the link below to set a new one:</p>

<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Regards,<br />
The Brandscopic Team