- form_partial ||= 'form'
|
  var resource_modal, container = $('#resource-form-modal');
  var content = "#{j render(partial: form_partial, locals: {remote: true})}";
  if (!container.length) {
    bootbox.classes('#{@form_modal_class} #{resource.class.name.downcase}_modal resource-form-modal');
    container = $('<div id="resource-form-modal">'+content+'</div>');
    resource_modal = bootbox.dialog(container,[],{header: '#{j modal_dialog_title}',  'onEscape': true, animate: (!$.fx.off)});
    resource_modal.css({
        'margin-top': function () {
          return window.pageYOffset;
        }
    });
  } else {
    container.html(content);
  }
  makeFormValidatable($('form', container));



