|
  var resource_modal, container = $('#resource-form-modal');
  var content = "#{escape_javascript(render partial: 'form', locals: {remote: true})}";
  if (!container.length) {
    bootbox.classes('#{@form_modal_class} #{resource.class.name.downcase}_modal');
    container = $('<div id="resource-form-modal">'+content+'</div>');
    resource_modal = bootbox.dialog(container,[],{'onEscape': true});
    resource_modal.css({
        'margin-top': function () {
          return window.pageYOffset;
        }
    });
  } else {
    container.html(content);
  }

