- if @member_id
  |
    $(document).trigger('members:change');
    $('#staff-list > #staff-member-user-#{@member_id}').slideUp();
- if @team_id
  |
    $(document).trigger('teams:change');
    $('#staff-list > #staff-member-team-#{@team_id}').slideUp();

= render 'add_member'