- if @member_id
  |
    $(document).trigger('members:change');
    if ($('table#select-users-list tr#user-#{@member_id}').length){
      pos = selectMemberTable.fnGetPosition($('table#select-users-list tr#user-#{@member_id}')[0]);
      if (pos!== null){
        selectMemberTable.fnDeleteRow(pos);
      }
    };
- if @team_id
  |
    $(document).trigger('teams:change');
    if ($('table#select-teams-list tr#team-#{@team_id}').length){
      pos = selectTeamsTable.fnGetPosition($('table#select-teams-list tr#team-#{@team_id}')[0]);
      if (pos!== null){
        selectTeamsTable.fnDeleteRow(pos);
      }
    };

= render 'add_member'