- resource_class = resource.class.name.underscore.downcase
- if resource.errors.any?
  |
    bootbox.alert('Unknown error')
- else
  |
    if (typeof #{resource.class.name.pluralize.camelize(:lower)}Table != 'undefined'){
      #{resource.class.name.pluralize.camelize(:lower)}Table.find("##{resource_class}_#{resource.id} .toggle-active-button").attr('href', '#{resource.active? ? url_for(action: 'deactivate') : url_for(action: 'activate')}').text('#{resource.active? ? 'Deactivate' : 'Activate'}');
    };
    debugger;
  - if resource.active?
    |
      $('.activate-#{resource_class}-btn').addClass('active btn-success');
      $('.deactivate-#{resource_class}-btn').removeClass('active').removeClass('btn-danger');
  - else
    |
      $('.activate-#{resource_class}-btn').removeClass('active').removeClass('btn-success');
      $('.deactivate-#{resource_class}-btn').addClass('active btn-danger');
