- resource_class = resource.class.name.underscore.downcase
- if resource.errors.any?
  |
    bootbox.alert('Unknown error')
- else
  |
    $('##{resource.class.name.underscore}_#{resource.id}').replaceWith('#{escape_javascript(render(resource))}');
  - if resource.is_a?(AttachedAsset) && resource.asset_type == 'photo'
    |
      $('#photo-details-toolbar').replaceWith('#{escape_javascript(render(partial: 'results/photos/photo_info', locals: {photo: resource}))}');
  - if resource.active?
    |
      $('.activate-#{resource_class}-btn').addClass('active btn-success');
      $('.deactivate-#{resource_class}-btn').removeClass('active').removeClass('btn-danger');
  - else
    |
      $('.activate-#{resource_class}-btn').removeClass('active').removeClass('btn-success');
      $('.deactivate-#{resource_class}-btn').addClass('active btn-danger');
