- if @member
  |
    $("##{resource.class.name.underscore}-member-#{@member.id}").remove()
    $(document).trigger('tasks:change');
    $(document).trigger('member:delete');
- if @team
  |
    $("##{resource.class.name.underscore}-team-#{@team.id}").remove()
    $(document).trigger('tasks:change');
    $(document).trigger('member:delete');
