/ = render partial: 'video_tutorial'

.sidebar#resource-filter-column
  #collection-list-filters
.main
  = button_to t("buttons.new.#{resource_class.name.underscore.downcase}"), url_for(controller: controller_name, action: :new), {method: :get, remote: true, class: 'btn btn-primary'} if can?(:create, resource_class)
  div.resource-list id="#{controller_name}-list"

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: controller_name, action: :items)}',
    'filtersUrl': '#{url_for(controller: controller_name, action: :filters)}',
    'listContainer' : '##{controller_name}-list',
    'sorting': 'name',
    'sorting_dir': 'asc',
    'applyTo': '#{controller_name}',
    'includeCalendars': false,
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{url_for(controller: controller_name, action: :autocomplete, format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}],
    'clearFilterParams': [{name: 'status[]', value: 'Active'}]
  });