|
  var downloadDialog = bootbox.dialog('#{j render('export')}', [{
    "label" : "Cancel",
    "class" : "btn btn-primary",
    "callback": function() {
        downloadDialog.modal('hide');
        if (downloadInterval){
          clearInterval(downloadInterval)
        }
    }
  }], {'onEscape': false, animate: (!$.fx.off)})

  var downloadInterval = setInterval(function(){
    $.get('#{export_status_url(@export.id, format: :json)}', function(response){
      if (response.status == 'completed') {
        clearInterval(downloadInterval);
        downloadDialog.modal('hide');
        window.location = response.url;
      } else {
        $('#export-progress-bar .bar').css({width: response.progress + '%'})
      }
    })
  }, 1000)