|
  bootbox.classes('modal-xlarge');
  var selectMemberDialog = bootbox.dialog($('#{escape_javascript(render "select_member_list")}'), [{
    "label" : "Close",
    "class" : "btn",
    "callback": function() {
        selectMemberDialog.modal('hide');
    }
  }],{'onEscape': true})