|
  bootbox.classes('modal-large');
  var customizePlaceDialog = bootbox.dialog($('#{escape_javascript(render "form")}'), [],{'onEscape': true, animate: (!$.fx.off), header: '#{j modal_dialog_title}'});
