css:
  #attendance-report #attendance-left-column {
    width: 100%;
    height: auto;
  }
  #attendance-report #attendance-right-column {
    width: 100%;
    padding: 0;
  }
  #attendance-report #attendance-right-column #attendance-map-canvas {
    width: 100%;
    height: 600px;
  }
= content_for :pdf_scripts
  = wicked_pdf_javascript_include_tag "application"
= render 'report'