doctype xml

Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  Styles
    Style ss:ID="s1"
      Font ss:Bold="1"
    Style ss:ID="s2"
      NumberFormat ss:Format="mm/dd/yy hh:mm AM/PM"
    Style ss:ID="s3" ss:Name="Hyperlink"
      Font ss:Underline="Single" ss:Color="#0000D4"
    Style ss:ID="s4" ss:Name="ZipCode"
      NumberFormat ss:Format="00000\-0000"
      Alignment ss:Horizontal="Left"

  Worksheet ss:Name="Sheet1"
    Table
      Column ss:Width="160"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="100"
      Column ss:Width="80"
      Column ss:Width="150"
      Column ss:Width="120"
      Column ss:Width="120"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="80"
      Column ss:Width="180"
      Row ss:StyleID="s1"
        Cell
          Data ss:Type="String" NEIGHBORHOOD
        Cell
          Data ss:Type="String" CITY
        Cell
          Data ss:Type="String" STATE
        Cell
          Data ss:Type="String" ATTENDEES
        Cell
          Data ss:Type="String" ACCOUNTS ATTENDED
        Cell
          Data ss:Type="String" INVITATIONS
      - each_collection_item do |neighborhood|
        Row
          Cell
            Data ss:Type="String"= neighborhood.name
          Cell
            Data ss:Type="String"= neighborhood.city
          Cell
            Data ss:Type="String"= neighborhood.state
          Cell
            Data ss:Type="String"= neighborhood.attendees
          Cell
            Data ss:Type="String"= neighborhood.attended
          Cell
            Data ss:Type="String"= neighborhood.invitations
