|
  $('#campaigns-#{params[:parent_type]}-#{params[:parent_id]}').html('#{j render(partial: 'company_users/campaign', collection: @campaigns, locals: {parent: @parent})}');
  $('#select-campaigns-list #campaign-#{params[:campaign_id]}').remove();