.sidebar#resource-filter-column
  #collection-list-filters
  a.btn.btn-primary Save
.main
  .pull-left
    = link_to 'Invite user', new_user_invitation_path, {remote: true, class: 'btn btn-primary'} if can?(:create, resource_class)
  .tab-content
    .link-list
      ul#users-list


javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{items_path(controller: :company_users)}',
    'filtersUrl': '#{filters_path(controller: :company_users)}',
    'listContainer' : '#users-list',
    'sorting': 'first_name',
    'sorting_dir': 'asc',
    'includeCalendars': false,
    'includeSearchBox': false,
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_company_users_path(format: :json)}',
    'defaultParams': [{name: 'status[]', value: 'Active'}]
  });