|
  bootbox.classes('modal-large');
  var selectCampaignsDialog = bootbox.dialog($('#{escape_javascript(render "select_campaigns")}'), [],{header: 'Add Campaigns', 'onEscape': true, animate: (!$.fx.off)});
