|
  var tzmodal = bootbox.confirm($('<div>#{escape_javascript(render(partial: 'time_zone_change'))}</div>'), function(result){
    if (result){
      $.ajax({
          url: '#{company_user_path(current_company_user, format: :js)}',
          type: 'PUT',
          data: {company_user: {user_attributes: {time_zone: '#{escape_javascript(params[:time_zone].html_safe)}'}}},
          success: function(result) {
            location.reload();
          }
      });
    }
  })
