#asset_upload_dialog {
	color: $user_menu;
	p{
	margin-bottom: 0;
		&.small{
			font-size: 11px;
		}
	}
	.modal-header {
		border-bottom: none;
	}
	.divider{
		margin: 40px 0;
		text-align: center;
	}
	.uploading-panel {
		display: none;
	}
	&.upload-started {
		.selecting-panel {
			display: none;
		}
		.uploading-panel {
			display: block;
		}
	}
	#drop-zone {
		border: 2px dashed $user_menu;
		color: $user_menu;
		font-size: 16px;
		text-align: center;
		padding: 30px 20px 20px 20px;
		min-height: 50px;
		a{
			color: $brand;
			font-size: 14px;
			font-weight: normal;
			text-decoration: underline;
		}
		h3{
			margin-bottom: 0;
		}
		p{
			color: $user_menu;
			font-size: 14px;
			font-weight:normal;
		}
		span{
			display: inline-block;
			margin-left: 10px;
			text-align: left;
		}
		i{
			font-size: 30px;
			position: relative;
			top: -2px;
		}
		&.dragging {
			border-color: $buttons;
		}
	}
	.selecting-panel{
		margin-top: 10px;
	}
	#uploads_container {
		width: 100%;
		height: 250px;
		max-height: 250px;
		overflow: auto;
		border: 1px solid $grey_one;
		color: $grey_three;

		.progress {
			height: 50px;
			width: 100% !important;
			position: relative;
			background-color: #fff !important;
			border-bottom: 1px solid $grey_one;
			margin-bottom: 0;
			.bar {
				background-image: none !important;
				background-color: $grey_two;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
			}
			.upload-file-info {
				position: absolute;
				left: 0;
				margin:3px 0 0 3px;
				right: 0px;
				bottom: 0;
				top: 0;
				.upload-file-icon {
					position: absolute;
					width: 30px;
					top: 10px;
					left: 10px;
					img{
						height: 18px;
						width:16px;
					}
				}
				.upload-file-name {
					position: absolute;
					left: 40px;
					@extend .crop-text;
					top: 12px;
					width: 70%;
				}
				.upload-file-error {
					position: absolute;
					left: 40px;
					top: 30px;
					font-size: 11px;
					display: none;
				}
				.upload-file-status {
					position: absolute;
					right: 15px;
					top: 12px;
					width: 100px;
					text-align: right;
				}
			}
		}

		.complete {
			.bar {
				display: none;
			}
			.icon-ok-sign {
				color: #8EBA47;
				font-size: 20px;
			}
			.icon-minus-sign {
				font-size: 20px;
				display: none;
			}

			&.failed{
				color: #de4d43 !important;
				.icon-ok-sign {
					display: none;
				}
				.icon-minus-sign {
					display: inline;
				}
				.upload-file-error {
					display: inline;
				}
			}
		}
	}

	.action-buttons {
		margin-top: 30px;
		.btn {
			color: #fff;
			width: 104px;
		}
		.fileinput-button {
			width: 120px;
		}
		#btn-upload-ok {
			margin-right: 10px;
		}
	}
}