
/*
A markup for Blank States // Details pages
Blank states for details pages

Styleguide 5.1
*/

/*
A markup for Blank States // Results views
Reports and Lists views

Styleguide 5.2
*/

.blank-state{
	border: 1px solid lightgrey;
	padding: 30px 10px;
	position: relative;
	width: 100%;
	.btn{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	p{
		color: $brand;
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
}

.blank-state-arrow{
	left: 60px;
	position: absolute;
	top: 15px;
}

.blank-state-icon{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;
	width: 100px;
}
