/*
A markup for buttons

Styleguide 3.1
*/

.buttons-example{
	list-style: none;
	li{
		margin-bottom: 30px;
		p{
			margin-bottom: 6px;
		}
	}
}

.btn{
	background-image: none;
	border: 0;
	box-shadow: none;
	box-sizing: border-box;
	color: $white;
	font-family: $baseFontFamily;
	font-weight: 600;
	text-shadow: none;
	height: 34px;
	line-height: 26px;
	padding: 4px 8px;
	min-width: 101px;
	a{
		color: $white;
	}
	&.download, &.fullscreen{
		min-width: 50px;
	}
	&.download{
		.icon-plus{
			line-height: 26px;
		}
	}
	&:active{
		box-shadow: none;
		color: $white;
	}
	&:hover{
		background-color: $brand;
		color: $app_bg;
	}
	&:focus{
		background-color: $silver;
		color: $white;
		outline: none;
	}
	&[disabled]{
		background-color: $gray-lighter;
		color: $app_bg;
		opacity: 1;
		&:hover{
			@extend .btn[disabled];
		}
	}
}

.btn-primary{
	&:hover, &:active, &:focus{
		background-color: $buttons-hover;
		color: $white;
	}
	&[disabled]{
		background-color: #f28179;
		color: #f5b8b8;
		&:hover{
			@extend .btn-primary[disabled];
		}
	}
	.icon-angle-right{
		line-height: 5px;
	  font-size: 19px;
	  position: relative;
	  top: 6px;
	  right: -12px;
	}
}

.btn-cancel{
	background-color: $silver;
	&:hover, &:active, &:focus{
		background-color: $brand;
	}
}

/* Toogle button */

.switch-toggle{
	border-radius: 15px;
	overflow: hidden;
	a.btn{
		height: 28px;
		line-height: 20px;
		min-width: 65px;
		&.btn-small{
			padding: 4px 6px;
		}
		span {
			background-color: #fff;
			width: 18px;
			height: 18px;
			border-radius: 10px;
			display: block;
			float: right;
			margin: 1px 0 0 0;
		}
		&.toogle-off-btn, &.toogle-on-btn{
			.on, .off{
				line-height: 20px;
			}
		}
	}
	a.toggle-on-btn {
		display: none;
		background-color: #90BE42;
		text-align: left;
		padding-left: 10px;
	}
	a.toggle-off-btn {
		text-align: right;
		padding-right: 10px;
		background-color: $user_menu;
		span {
			float: left;
		}
	}
	&.inactive{
		.toggle-on-btn {
			display: none;
		}
		.toggle-off-btn {
			display: block;
		}
		.toggle-on-btn-activity-type {
			display: none;
		}
		.toggle-off-btn-activity-type {
			display: block;
		}
	}
	&.active{
		.toggle-on-btn {
			display: block;
		}
		.toggle-off-btn {
			display: none;
		}
		.toggle-on-btn-activity-type {
			display: block;
		}
		.toggle-off-btn {
			display: none;
		}
	}
	a.toggle-on-btn-activity-type {
		display: none;
		background-color: #90BE42;
		text-align: left;
		padding-left: 10px;
		.on{
			float: left;
			line-height: 20px;
		}
	}
	a.toggle-off-btn-activity-type {
		text-align: right;
		padding-right: 10px;
		background-color: $user_menu;
		span {
			float: left;
		}
		.off{
			line-height: 20px;
		}
	}
}




/* Btn large should be used only for buttons inside of dialogue boxes */

.btn-large{
	height: 41px;
}

.btn-details{
	min-width: 120px;
}

/* Use btn-download for download icons with dropdown */

.btn-download {
	display: inline-block;
	.btn{
		background-color: $silver;
		padding: 10px 8px;
		min-width: 60px;
		&:hover{
			background-color: $brand;
		}
	}
	.icon-download{
		float: left;
		font-size: 16px;
		margin-left: 5px;
	}
	.icon-arrow-down-small{
		font-size: 11px;
		line-height: 16px;
		float: right;
	}
	.download-options-menu {
		right: 0;
		left: initial;
		text-align: left;
		box-shadow:none;
		padding:0;
		min-width: 100%;

		&:before {
			display: none;
		}
		li:first-child a {
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
		li:last-child a {
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&> li > a {
			color: $text;
		}
		&> li > a:hover,
		&> li > a:focus,
		.dropdown-submenu:hover > a,
		.dropdown-submenu:focus > a {
			color: #fff;
		}
	}
}

// BTN INFO
// ----------------------------------------------------------------------

.btn-info{
	background-color: $user_menu !important;
	i{
		line-height: 5px;
		font-size: 19px;
		position: relative;
		top: 6px;
		right: -12px;
	}
	&:hover{
		background-color: $brand !important;
	}
}


// BTN GROUP
// According to the Style Guide there is no hover effect for this element
// ----------------------------------------------------------------------


.btn-group {
	margin-left: 0;
	&>.btn+.btn{
		margin-left: 0;
	}
	&.controls{
		margin-left: 0 !important;
		label.radio{
			color: $white;
			font-size: 13px;
			height: 34px;
			line-height: 26px;
			min-width: 80px;
			&.active{
				color: $gray-lighter;
			}
		}
	}
	.btn {
		background-color: $user_menu;
		box-shadow: none;
		color: #FFFFFF;
		font-weight: bold;
		line-height: 28px;
		min-width: 42px;
		&:first-child{
			border-bottom-left-radius: 4px;
			border-top-left-radius: 4px;
			border-right: 1px solid rgba(152,152,152,0.3);
			&+label{
				border-left:0;
			}
		}
		&:last-child{
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
				border-left: 1px solid rgba(152,152,152,0.3);
		}
		&.active{
			background-color: $brand;
			color: $gray-lighter;
		}
	}
}

//
// Buttons
// --------------------------------------------------

/*
.btn{
	&.btn-default{
		background-color:$user_menu;
		background-image:none;
		&:hover, &:active{
			background-color:$brand;
		}
		&[disabled]{
			background-color:$gray-lighter;
			color:$app_bg;
			&:hover{
				@extend .btn.btn-primary[disabled];
			}
		}
	}
	&.btn-primary{
		&:active{
			background-color: $buttons-hover;
			box-shadow: none;
		}
		&.fileinput-button{
			padding: 7px 23px;
			line-height: 24px;
		}
		&.active{
			background-color: $brand;
			border: 0;
			box-shadow: none;
			&.list, &.map, &.calendar, &.table, &.graph{
				&:after{
					color: $user_menu;
				}
			}
		}
		&.list:after, &.table:after{
			font-size: 14px;
			top:1px;
		}
		&.map:after{
			font-size: 15px;
			left: 2px;
			top:1px;
		}
		&.calendar:after{
			font-size: 15px;
			top: 2px;
		}
		&.graph:after{
			font-size: 14px;
			top: 1px;
		}
		.icon-calendar:before{
			font-size: 19px;
			left: 2px;
			top:1px;
		}
		&.btn-primary, &.btn-cancel{
			&.fileinput-button{
				width: 140px;
			}
		}
	}
}

*/

.btn-small {
	padding: 2px 10px;
}




