
// DETAILS BAR (Details pages bar)
//

$detail-bar-height: 40px;
$back-arrow-width: 38px;
$phase-height: 66px;


.with-login-as-bar{
  .details-bar{
    &.fixed{
      top: 80px;
    }
  }
}

// Alerts for events on events bar

.event-alert{
  display: table;
  position: relative;
  width: 100%;
  .alert-main-text{
    color: $white;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
  }
  .alert-secondary-text{
    color: $btn-red-hover;
    margin: 0;
  }
  .alert-msg{
    box-sizing: border-box;
    display: table-cell;
    height: $phase-height;
    padding: 10px 0;
    vertical-align: middle;
  }
  .close{
    color: $red-dark;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.alert-rejected{
  background-color: $primary-red;
}
.alert-submitted{
  background-color: $primary-blue;
}
.alert-approved{
  background-color: $primary-green;
}

// Details bar

.details-bar{
	position: relative;
  .info-bar{
	  background-color: $gray-darker;
	  box-sizing: border-box;
    height: $detail-bar-height;
	  @include border-radius(6px 6px 0 0);
    padding-left: 40px;
    position: relative;
		color: $brand;
		h5{
			margin: 0;
		}
    .event-name{
      color: $gray-lighter;
    }
		.event-date{
			color: $brand;
			margin-left: 6px;
			line-height: 14px;
		}
  }
	a{
		color: $brand;
	}
		.switch-list{
			a{
				cursor: pointer!important;
				width: 100%;
				display: inline-block;
				padding: 9px 0 0 20px;
				height: 40px;
			}
      &.view-indicator a{
        font-size: 12px;
      }
		}

	.back-arrow{
		box-sizing: border-box;
		border-right: 1px solid $divider;
		color: $brand;
		font-size: 25px;
		line-height: 25px;
		padding: 11px 12px;
		position: absolute;
		height: $detail-bar-height;
		left: 0;
		top: 0;
		width: $back-arrow-width;
	}
  &.fixed{
    position: fixed !important;
    top: 42px;
    width: calc(100% - 100px);
    z-index: 1100;
    .info-bar{
      @include border-radius(0);
    }
  }
	.panel{
		box-sizing: border-box;
	}
	.panel-collapse{
		color: $white;
	}
}

    .controller{
      background-color: white;
      border: 1px solid $gray-lighter;
      border-bottom: 2px solid $gray-lighter;
      border-top: 0;
      font-size: 6px;
      line-height: 12px;
      margin-left: auto;
      margin-right: auto;
      height:10px;
      text-align: center;
      width: 35px;
      a{
        display: block;
      }
    }

.phases-expanded{
  background-color: $white;
  color: $silver;
  .phase-msg{
    display: inline-block;
    padding-left: 30px;
  }
  .heading{
    color: $brand;
    font-weight: normal;
    margin-bottom: 0;
  }
}


	// Panel Body


.trackers-bar{
  position: absolute;
  width: 100%;
  z-index: 9;
}


    .phase-container{
      background-color: $white;
      height: $phase-height;
      border-bottom: 1px solid $gray-lighter;
      .btn-primary{
        line-height: 16px;
        height: 28px;
        min-width: 82px;
      }
      .phase-steps, .phase-actions{
        float: left;
      }
        .step{
          &.phase-id{
            background-color: $phase-bg;
            color: $gray-light;
            .icon-check-circle{
              font-size: 18px;
            }
          }
          &:not(.phase-id){
            color: $gray;
            font-size: 11px;
          }
          &.active{
            color: $primary-blue;
            line-height: 12px;
            padding: 13px 0;
            .icon-connect{
              &:after{
                border-color: $gray-light;
              }
            }
.active-circle:before{
  content:"\2022";
  font-size: 36px;
  line-height: 14px;
}

          }
          &.pending{
            color: $gray-light;
            .icon-connect{
              &:after, &:before{
                border-color: $gray-light;
              }
            }
          }
          &.actions{
            float: right;
            padding: 10px 2px 0 0;
            position: relative;
            .status-indicator{
              color: $gray-light;
              bottom: 5px;
              font-size: 11px;
              position: absolute;
              right: 8px;
            }
          }
          box-sizing: border-box;
          @extend .crop-text;
          font-size: 13px;
          font-weight: bold;
          float: left;
          height: $phase-height;
          padding: 18px 0;
          text-align: center;
          width: 8.333%;
          &:nth-child(2){
            .icon-connect{
              &:before{
                display: none;
              }
            }
          }
          &.last-step{
            .icon-connect{
              &:after{
                display:none;
              }
            }
          }
          .icon-connect{
            position: relative;
            &:before, &:after{
              content:"";
              width: 43%;
              border-bottom: solid 1px $gray;
              position: absolute;
              top: 50%;
              z-index: 1;
            }
            &:before{
              left: 0;
            }
            &:after{
              right: 0;
            }

          }
          .icon-check-circle, .icon-circle{
            display:block;
            font-size: 14px;
          }
      }
    }
    .phase{
      background-color: $phase-bg;
      color: $gray-light;
      font-size: 12px;
      text-align: center;
    }



// Scrollspy

.scrollspy-style{
	.switch-list{
		margin-bottom: 0;
		&>li{
			a{
				&:hover{
					cursor: default;
					text-decoration: none;
				}
			}
			&:not(.active){
				display: none;
			}
			.step-buttons{
				display: inline-block;
			}
		}
	}
}

