@import "variables";
.documents-list{
	margin:20px 0 0 0;
	.document{
		display: block;
		margin: 0;
		padding: 0 15px;
		a{
			color: $menu;
			//float: left;
			position: relative;
			@extend .crop-text;
			width: 85%;
		}
		.folder-item{
			i{
				font-size: 25px;
			}
		}
		img{
			height: 40px;
			margin-right: 15px;
			width: 32px;
		}
	}
	li{
		border-top: 0;
	}
	#new-folder-form {
		background-color: $grey_one;
		border-bottom: 1px solid $grey_four;
		padding: 16px;
		min-height: 40px;
		.control-group{
			margin-bottom: 0;
		}
		.icon-close {
			height: 21px;
			width: 21px;
			float: right;
		}
		input[type=text] {
			width: 200px;
			&::-webkit-input-placeholder {
				color: $grey_four;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: $grey_four;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
				color: $grey_four;
			}

			&:-ms-input-placeholder {
				color: $grey_four;
			}
		}
	}
}
