@import "variables";
.documents-list {
	margin-bottom: 10px;
	.resource-item-link{
		margin-top: 10px;
		.document-type, .document-date {
			margin-top: 10px;
		}
	}
	.folder-item .resource-item-link{
		font-size: 14px;
		i{
			color: $gray-light;
			font-size: 25px;
			margin-right: 15px;
			position: relative;
			top: 3px;
		}
	}
}

.document-icon {
	background-color:white;
	border: 1px solid $gray-light;
	color: #bbbbbb;
	width: 30px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 8px;
	font-weight:600;
	&.ai, &.mp4, &.wmv, &.avi{
		color: $adobe-ai-file;
	}
	&.docx{
		color: $primary-blue;
	}
	&.xls, &.xlsx {
		color: $xls-file;
	}
	&.psd{
		color: $adobe-psd-file;
	}
	&.pdf{
		color: $adobe-pdf-file;
	}
	&.pptx{
		color: $ppt-file;
	}
	&.txt, &.rtf{
		color: $text;
	}
	&.indd{
		color: $adobe-indd-file;
	}
	&.mp3, &.wav, &.aif{
		color: $light-purple;
	}
	&.zip, &.rar{
		color: $brand;
	}
}

.document-image-preview {
	border: 1px solid $gray-light;
	float:left;
	margin-right: 15px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.document-name{
	line-height:34px;
}

#new-folder-form, .edit-folder-form { /*Create a new folder grey zone*/

	background-color: $gray-lighter;
	max-height: 70px;

	.new_document_folder{
		padding: 16px 20px;
	}
	.icon-folder{
		color: $user_menu;
		display: inline-block;
		font-size: 25px;
		margin-right: 15px;
		position: relative;
		top: 7px;
		&+.control-group{
			display: inline-block;
			margin-bottom:0;
			.controls input{
				margin-bottom:0;
			}
		}
	}
	.icon-close {
		width: 21px;
		position: absolute;
		right: 16px;
		top: 30px;
	}
	input[type=text] {
		border: 1px solid $user_menu;
		height: 36px;
		width: 255px;
		&::-webkit-input-placeholder {
			color: $gray-light;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: $gray-light;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: $gray-light;
		}

		&:-ms-input-placeholder {
			color: $gray-light;
		}
	}
}
#documents-container{
	#asset_upload_dialog{
		margin-top: 20px;
	}
	h3{
		color: $user_menu;
		p{
			color: $brand;
			display:inline-block;
			white-space: nowrap;
		}
	}
	i.icon-angle-right{
		color: $gray-lighter;
		margin-left: 8px;
		position: relative;
		top: 3px;
	}
}


#folders-tree {
	max-height: 290px;
	overflow: auto;
	border: 1px solid $borders;
	position: relative;
	font-size: 15px;
	div.folder-item-bg {
		position: absolute;
		display: none;
		background-color: $gray-lighter;
		width: 100%;
		left: 0;
		z-index: -1;
	}
	ul {
		list-style: none;
		margin-left: 0;
		&.collapse {
			position: initial;
		}
		li {
			padding-left: 25px;
			.folder-arrow-indicator{
				float: left;
				margin-left: -20px;
				cursor: pointer;
			}
			.icon-folder {
				margin-right: 5px;
			}
			.icon-arrow-right:before {
				font-size: 12px;
			}
			.icon-arrow-down:before {
				top: 4px;
			}
		}
	}
	label.radio {
		padding: 0;
		div.radio {
			display: none;
		}
	}
}