.drag-drop-zone {
	line-height: 100%;
	margin-bottom: 20px;
	width: 100%;
	padding: 2px 10px 0 0;
	&.photos {
		position: relative;
		width: 100%;
		padding-bottom: 64%;
		float: left;
		height: 0;
	}
	&.attach-field {
		height: 150px;
		width: 240px;
		.attachment-select-file-view {
			padding: 40px 23px;
		}
		.attachment-upload-progress-info {
			.upload-file-progress {
				.progress {
					width: 70% !important;
					margin-left: 12%;
				}
			}
		}
	}
	.attachment-select-file-view {
		margin-left: 24%;
		margin-top: 25%;
	}
	&.uploading {
		background-color: $gray-lighter;
	}
	&.hover {
		background-color: $gray-lighter;
	}
	&.fade {
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		opacity: 1;
	}
	.attachment-upload-progress-info {
		padding: 0 0 40px 0;
		width: 100%;
		display: none;
		.upload-file-info {
			.documents-counter {
				color: $brand;
				font-weight: bold;
			}
		}
		.upload-file-progress {
			.progress {
				float: left;
				height: 12px;
				width: 10% !important;
				position: relative;
				background-color: $gray-lighter !important;
				border-bottom: 1px solid #dfdfdf;
				margin-left: 45%;
	  			margin-top: 3px;
			}
			#upload-file-cancel {
				color: $silver;
				cursor: pointer;
				float: left;
				margin-left: 15px;
			}
		}
		.step-counter {
  			margin-bottom: 30px;
		}
	}
	.close:before {
		content: "\e616";
		color: silver;
		display: inline-block;
		font-family: 'icons';
		font-size: 16px;
		opacity: 1 !important;
		width: 100%;
		speak: none;
		text-align: right;
	}
}

.attachment-attached-view {
	&.photo {
		height: 150px;
		position: relative;
		width: 240px;
	}
	.document {
		.file-name {
			margin-top: 5px;
		}
		.remove-attachment {
			color: $user_menu;
			margin-left: 15px;
			&:before {
				margin-top: 8px;
			}
		}
	}
	.image {
		text-align: center;
		#image-attached {
			max-height: 150px;
			max-width: 240px;
		}
	}
	.image-toolbar {
		display: none;
		max-width: 240px;
	}
	&:hover{
		.image-toolbar {
			background-color: rgba(0, 0, 0, 0.6);
			bottom: -10px;
			display: block;
			height: 30px;
			left: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			a {
				color: $app_bg;
				font-size: 15px;
				float: right;
				margin: 8px;
				opacity: 1 !important;
				text-decoration: none;
			}
		}
	}
}

#photos_upload_form {
	.attachment-panel {
		margin-bottom: 0;
		.attachment-upload-progress-info {
			.upload-file-progress {
				.progress {
					width: 70% !important;
					margin-left: 12%;
				}
			}
		}
	}
}
