/*
A markup for fields

Styleguide 8.1
*/

.calculation-field{
	tr.field-option {
		td.operation {
			position: relative;
			padding-right: 20px;
			&:after {
				position: absolute;
				right: 5px;
				top: calc(50% - 11px);
				font-size: 	20px;
				font-weight: bold;
				color: $silver;
				font-family: 'icons';
				font-size: 10px;
			}
			&.add:after {
				content: "\e800";
			}
			&.subtract:after {
				content: "\e803";
			}
			&.divide:after {
				content: "\e801";
			}
			&.multiply:after {
				content: "\e802";
			}
		}
		&:first-child td.operation {
			padding-right: 0px;
			&:after {
				content: '';
			}
		}
		td:not(.error-col){
			&:last-child{
				width: 160px;
			}
		}
	}
	.field-option{
		height: 50px;
		input[type="text"]{
			float: right;
			width: 160px;
		}
		label{
			height: 40px;
			line-height: 40px;
			line-height: 38px;
			font-weight:normal;
			white-space: nowrap;
			min-width: 255px;
			margin: 0;
		}
	}
	.calculation-total-field{
		&>td>div {
			border-top: 2px solid $user_menu;
			padding-top: 5px;
			margin-top: 10px;
			font-weight: bold;			
		}
		.calculation{
			font-weight: bold;
			color: $brand;
			&:first-of-type{
				margin-top: 0;
			}
		}
		.calculation-total-amount {
			margin-right: 11px;
			margin-left: 10px;
			min-width: 80px;
    		display: inline-block;
		}
	}
	input.calculation-field {
		text-align: right;
		&:focus {
			text-align: left;
		}
	}
}