.bootstrap-multiselect {
	&.btn-group {
		margin-left: 0;
		.btn-multiselect {
			background-color: #fff;
			background-image: none;
			color: $text !important;
			border: 1px solid $user_menu;
			text-align: left;
			&:hover {
				background-color: #fff;
				background-image: none;
				color: $text;
			}
			b.caret {
				border-top-color: $user_menu;
				float: right;
			}
		}
		.dropdown-menu {
			max-height: 150px;
			overflow-y: auto;
			overflow-x: hidden;
			a {
				padding: 4px 10px;
			}
			.active a {
				background: #fff no-repeat;
				color: $text;
			}
			&:before {
				border-bottom: 0;
			}
		}
		&.open {
			.checkbox {
				padding-left: 0;
				.checked:after {
					top: 4px;
					left: -7px;
				}
			}
			.dropdown-toggle {
				box-shadow: none;
				background-color: #fff;
				background-image: none;
			}
		}
	}
}