.resource-list {
	color: $text;
	width: 100%;
	margin-top: 20px;
	&.no-top-margin{ margin-top: 0; }
	a, a:hover {
		color: $text;
		font-weight: normal;
	}
	.resource-item {
		padding: $resource-item-padding;
		border: 1px solid $borders;
		margin-bottom:-1px;
		min-height: $resource-item-height;
		font-size: 12px;
		// To prevent page breaks on PDF exports
		page-break-inside: avoid !important;
		&:last-child {
			margin-bottom: 0;
		}
		.text-large {
			font-size: 16px;
		}
		.text-medium {
			font-size: 14px;
		}
		.resource-item-link {
			display: block;
			min-height: $resource-item-height - ($resource-item-padding*2);
			width: calc(100% - 110px);
			font-weight: normal;
			text-decoration: none;
			float: left;
			margin-bottom: 0;
		}
		.resource-item-actions {
			display: none;
			width:109px;
			text-align: right;
			padding-top: $resource-item-padding;
			form.button_to {
				height: 18px;
				button {
					margin-top: -1px;
				}
			}
			a, .button-with-icon {
				color: $brand;
				margin-right: 10px;
				font-size: 18px;
				height: 18px;
				&:last-child {
					margin-right: 0;
				}
				&.icon-large {
					font-size: 24px;
				}
			}
			a {
				&.icon-receipt {
					font-size: 26px;
					position: relative;
					top: 7px;
					margin-right: 5px;
				}
			}
		}
		&:hover {
			background-color: $grey_one;
			.resource-item-actions {
				display: inline-block;
			}
			.checker{
				background-color: $user_menu;
			}
			&.complete {
				border-color: $grey_one;
			}
		}
		.date b{
			font-size: 16px;
			font-weight: normal;
		}

		.clean-date {
			b{
				font-size: 12px;
				top: 0px;
				font-weight: normal;
			}
		}

		&.late {
			border-left: 5px solid $late;
		}
		&.submitted {
			border-left: 5px solid $submitted;
		}
		&.approved {
			border-left: 5px solid $approved;
		}
		&.rejected {
			border-left: 5px solid $rejected;
		}
		&.complete {
			padding-left: ($resource-item-padding + 4);
		}
		.task-completed {
			margin: 15px 10px 0 0;
			.checkbox {
				padding-left: 0;
			}
		}

		.task-comments {
			margin-left: -$resource-item-padding;
		}

		.document-icon {
			height: 40px;
			margin-right: 15px;
			width: 32px;
		}
		.comment-text p {
			font-size: 13px;
			max-width: 500px;
			margin: 15px 0 0 0;
		}
		address {
			margin-bottom: 0;
		}
	}
	.special-icon {
		margin-right: 10px;
	}

	.empty-list-message {
		display: none;
	}
	.empty-list-message:first-child:last-child {
		display: table;
		box-sizing: border-box;
		width: 100%;
		height: 85px;
		p{
			vertical-align: middle;
			display: table-cell;
			padding-left: 20px;
		}
	}

	// Selectable object list widget
	&.select-list {
		max-height: 257px;
		margin: 20px 0 10px 0;
		border: 1px solid $borders;
		border-width: 1px 0;
		overflow: auto;
		.resource-item {
			&.inactive {
				color:$user_menu;
				.special-icon {
					background-color: $gray-lighter;
				}
			}
			&:hover {
				.activate-btn {
					display: none !important;
				}
				&.inactive {
					.deactivate-btn {
						display: none !important;
					}
					.activate-btn {
						display: inline-block !important;
					}
				}
			}
		}
		.resource-item:first-child{
			border-top: 0;
		}
		.resource-item:last-child{
			border-bottom: 0;
		}
		&.compact {
			.resource-list .resource-item {
				height: 65px;
				min-height: 65px !important;
				padding-left: 10px;
				.resource-item-link {
					height: 65px;
				}
			}
		}
		&.single-line .resource-item .resource-item-link {
			padding-top: 2px;
		}
		&.max-items-3 {
			@include max-resource-items-height($resource-item-height, 3);
		}
		&.max-items-4 {
			@include max-resource-items-height($resource-item-height, 4);
		}
		&.max-items-5 {
			@include max-resource-items-height($resource-item-height, 5);
		}
	}

	&.without-actions {
		.resource-item {
			.resource-item-link {
				width: 100%;
				float:none;
			}
		}
	}

	&.single-line {
		.resource-item {
			min-height: $resource-item-height-single-line;
			.resource-item-link {
				min-height: $resource-item-height-single-line;
				min-height: $resource-item-height-single-line - ($resource-item-padding*2);
				padding-top: 7px;
				box-sizing: border-box;
			}
		}
		&.max-items-3 {
			@include max-resource-items-height($resource-item-height-single-line, 3);
		}
		&.max-items-4 {
			@include max-resource-items-height($resource-item-height-single-line, 4);
		}
		&.max-items-5 {
			@include max-resource-items-height($resource-item-height-single-line, 5);
		}
	}
}