/*
A markup for resources list

Styleguide 4.1
*/

/*
Add ".select-list" to make the resource list scrollable

max-items-3       - Display 3 items before start scrolling
max-items-4       - Display 4 items before start scrolling
max-items-5       - Display 5 items before start scrolling

Styleguide 4.1.1
*/

/*
Add ".without-actions for list that doesn't have action icons
in the right


Styleguide 4.1.2
*/

/*
Add ".single-line to build a list of resources with just one line, title)

Styleguide 4.1.3
*/


/*
Add ".compact to a select-list build a compact list of resources

Styleguide 4.1.4
*/

/*
Add ".select-list-input to a select-list build a compact list of resources

Styleguide 4.1.5
*/
.resource-list {
	color: $text;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
	&.no-top-margin{ margin-top: 0; }
	a, a:hover {
		color: $text;
		font-weight: normal;
	}
	.resource-item {
		padding: $resource-item-padding;
		border: 1px solid $borders;
		margin-bottom:-1px;
		min-height: $resource-item-height;
		font-size: 12px;
		// To prevent page breaks on PDF exports
		page-break-inside: avoid !important;
		&:after {
			content: ' ';
			display: table;
			clear: both;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.text-large {
			font-size: 16px;
		}
		.text-medium {
			font-size: 14px;
		}
		.resource-item-link {
			display: block;
			min-height: $resource-item-height - ($resource-item-padding*2);
			width: calc(100% - 110px);
			font-weight: normal;
			text-decoration: none;
			float: left;
			margin-bottom: 0;
		}
		.resource-item-actions {
			display: none;
			width:109px;
			text-align: right;
			padding-top: $resource-item-padding;
			form.button_to {
				height: 18px;
				margin-right: 0px;
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
				button {
					margin-top: -1px;
				}
			}
			a {
				margin-left: 10px;
				&:first-child {
					margin-left: 0;
				}
			}
			a, .button-with-icon {
				color: $brand;
				font-size: 18px;
				height: 18px;
				&.icon-large {
					font-size: 24px;
				}
			}
		}
		&:hover {
			background-color: $gray-lighter;
			.resource-item-actions {
				display: inline-block;
			}
			.checker, .checker span {
				background-color: $user_menu;
			}
			label.radio div.radio span {
				border-color: $brand;
			}
		}
		&.inactive {
			color:$user_menu;
			a {
				color: $user_menu;
			}
			.special-icon {
				background-color: $gray-lighter;
			}
		}
		.date b{
			font-size: 16px;
			font-weight: normal;
		}

		.clean-date {
			b{
				font-size: 12px;
				top: 0px;
				font-weight: normal;
			}
		}

		&.incomplete {
			border-left: 5px solid $gray-light;
		}
		&.submitted, &.unassigned {
			border-left: 5px solid $submitted;
		}
		&.approved, &.complete {
			border-left: 5px solid $approved;
		}
		&.rejected {
			border-left: 5px solid $rejected;
		}
		&.complete {
			padding-left: ($resource-item-padding + 4);
		}
		&.late {
			border-left: 5px solid $late;
		}
		.task-completed {
			margin: 15px 10px 0 0;
			.checkbox {
				padding-left: 0;
			}
		}

		.task-comments {
			margin-left: -$resource-item-padding;
		}
		.comment-text p {
			font-size: 13px;
			max-width: 500px;
			margin: 15px 0 0 0;
		}
		address {
			margin-bottom: 0;
		}
	}
	.special-icon {
		margin-right: 10px;
	}

	.empty-list-message {
		display: none;
	}
	.empty-list-message:first-child:last-child {
		display: table;
		box-sizing: border-box;
		width: 100%;
		height: 85px;
		p{
			vertical-align: middle;
			display: table-cell;
			padding-left: 20px;
		}
	}

	// Selectable object list widget
	&.select-list {
		max-height: 257px;
		margin: 20px 0 10px 0;
		border: 1px solid $borders;
		border-width: 1px 0;
		overflow: auto;
		.resource-item {
			&:hover {
				.activate-btn {
					display: none !important;
				}
				&.inactive {
					.deactivate-btn {
						display: none !important;
					}
					.activate-btn {
						display: inline-block !important;
					}
				}
			}
		}
		.resource-item:first-child{
			border-top: 0;
		}
		.resource-item:last-child{
			border-bottom: 0;
		}
		&.compact {
			.resource-item {
				padding: 10px;
				.resource-item-actions a {
					font-size: 16px;
					height: 16px;
				}
			}
			&.single-line {
				.resource-item {
					min-height: 23px;
				}
				&.max-items-3 {
					@include max-resource-items-height(23px, 3, 10px);
				}
				&.max-items-4 {
					@include max-resource-items-height(23px, 4, 10px);
				}
				&.max-items-5 {
					@include max-resource-items-height(23px, 5, 10px);
				}
			}
		}
		&.single-line .resource-item {
			.resource-item-link {
				//font-size: 16px;
				padding-left: 0;
				padding-top: 4px;
			}
		}
		&.max-items-3 {
			@include max-resource-items-height($resource-item-height - 10px, 3);
		}
		&.max-items-4 {
			@include max-resource-items-height($resource-item-height - 10px, 4);
		}
		&.max-items-5 {
			@include max-resource-items-height($resource-item-height - 10px, 5);
		}
	}

	&.without-actions {
		.resource-item {
			.resource-item-link {
				width: 100%;
				float:none;
			}
		}
	}

	&.single-line {
		.resource-item {
			min-height: $resource-item-height-single-line;
			.resource-item-link {
				min-height: $resource-item-height-single-line;
				min-height: $resource-item-height-single-line - ($resource-item-padding*2);
				padding-top: 7px;
				box-sizing: border-box;
			}
		}
		.resource-item-actions {
			padding-top: 0;
		}
		&.max-items-3 {
			@include max-resource-items-height($resource-item-height-single-line, 3);
		}
		&.max-items-4 {
			@include max-resource-items-height($resource-item-height-single-line, 4);
		}
		&.max-items-5 {
			@include max-resource-items-height($resource-item-height-single-line, 5);
		}
	}
	&.select-list-input {
		label.resource-item-link {
			width: 100%;
		}
		div.radio, div.checker {
			float: right;
			margin-right: 6px;
			span {
				background-color: #FFF;
				border: 0;
				width: 25px;
				height: 25px;
				&.checked {
					background-color: $green;
					&:after {
						font-family: 'icons';
						color: white;
						content: "\e64e";
						border: 0;
						background-color: transparent;
						font-size: 14px;
						left: 6px;
						top: 4px;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.resource-list-filters {
	border: none !important;
	margin-top: 5px !important;
	.resource-item-filter {
		border: none;
		.resource-item-link {
			float: left;
		}
		.resource-item-actions {
			display: inline-block !important;
		}
		.radio {
			position: relative;
			width: 25px;
			display: block !important;
		}
		&:hover {
			background: none !important;
		}
	}
}