- render 'settings'
- if resource.errors.any?
  = render 'form_dialog'
- else
  |
    $('.bootbox.modal').modal('hide');
    if (typeof placesTable != 'undefined'){
      placesTable.fnDestroy();
    }
    $('table#places').replaceWith('#{escape_javascript(render partial: "#{parent.class.name.pluralize.underscore}/places", locals: { resource: parent, places: parent.places })}');
    $(document).trigger('places:change');