- render 'settings'
- if parent.present?
  = render 'form_dialog'
- else
  |
    bootbox.classes('#{@form_modal_class} #{resource.class.name.downcase}_modal resource-form-modal');
    bootbox.dialog(
      $('#{escape_javascript(render "new_place_form")}'),
      [],
      {'onEscape': true, animate: (!$.fx.off), header: 'New place'}
    );
