#resource-details-wrapper
  = resource_details_bar("Viewing Venue Details", collection_path)

  .row-fluid
    .box.span12
      #place-map-canvas.google-map
      .row-fluid
        .span6
          h2= resource.name
          = resource.formatted_address

      ul.thumbnails
        - resource.photos.each do |photo|
          li.span2
            div.photo-container.thumbnail
              - if photo.is_a?(AttachedAsset)
                = image_tag photo.file.url(:small)
              - else
                = image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photoreference=#{photo[:photo_reference]}&sensor=true&key=#{GOOGLE_API_KEY}"


      h3 Reviews
      - resource.reviews.each do |review|
        .venue-review
          .review-author-name= review.author_name
          .review-rating= rating_stars(review.rating)
          .review-date= time_ago_in_words(DateTime.strptime(review.time.to_s,'%s'))
          .review-text= review.text


- unless resource.nil? or resource.latitude.nil?
  javascript:
    var map;
    var placeLocation = new google.maps.LatLng(#{resource.latitude}, #{resource.longitude});

    $(document).ready(function() {
      $(this).scrollTop(400);
      var mapOptions = {
        zoom: 13,
        center: placeLocation,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById('place-map-canvas'),
          mapOptions);

      var styles = [
        {
          stylers: [
            { hue: "#00ffe6" },
            { saturation: -20 }
          ]
        },{
          featureType: "road",
          elementType: "geometry",
          stylers: [
            { lightness: 100 },
            { visibility: "simplified" }
          ]
        },{
          featureType: "road",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ];

      map.setOptions({styles: styles});

      marker = new google.maps.Marker({
        map:map,
        draggable:false,
        animation: google.maps.Animation.DROP,
        position: placeLocation
      });

      var theInfowindow = new google.maps.InfoWindow({
          content: $('<div>')
                  .append($('<b>').append('#{escape_javascript(resource.name)}'))
                  .append($('<br>')).append('#{escape_javascript(place_address(resource))}')
                  .html()
      });

      google.maps.event.addListener(marker, 'click', function (){
        theInfowindow.open(map, this)
      })
    });
