
// Favicons

// third-generation iPad with high-resolution Retina display:
link href="#{full_image_path('favicon152.png')}" rel="apple-touch-icon-precomposed" sizes="152x152"
link href="#{full_image_path('favicon144.png')}" rel="apple-touch-icon-precomposed" sizes="144x144"

// iPhone with high-resolution Retina display:
link href="#{full_image_path('favicon120.png')}" rel="apple-touch-icon-precomposed" sizes="120x120"
link href="#{full_image_path('favicon114.png')}" rel="apple-touch-icon-precomposed" sizes="114x114"

// For the iPad mini and the first- and second-generation iPad on iOS ≥ 7:
link href="#{full_image_path('favicon72.png')}" rel="apple-touch-icon-precomposed" sizes="76x76"

// first- and second-generation iPad:
link href="#{full_image_path('favicon72.png')}" rel="apple-touch-icon-precomposed" sizes="72x72"

// non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
link href="#{full_image_path('favicon57.png')}" rel="apple-touch-icon-precomposed"

// basic favicon
link href="#{full_image_path('favicon196.png')}" rel="shortcut icon" /

// Chrome Android
meta name="mobile-web-app-capable" content="yes"
link href="#{full_image_path('favicon32.png')}" rel="icon" sizes="32x32"