- action = resource.new_record? ? url_for(action: :create, "event_id" => parent.to_param, format: :js) : url_for(action: :update, id: resource.id, "event_id" => parent.to_param, format: :js)
  = resource.errors.inspect
.form-inputs
  .pull-left
    = text_field_tag 'event_expense[name]', resource.name, id: 'event_expense_name'
    .input-prepend
      .add-on $
    = text_field_tag 'event_expense[amount]', resource.amount, id: 'event_expense_amount'
  .pull-right
    = s3_uploader_form callback_url: url_for(action: :create, "event_id" => parent.to_param, format: :js), id: "s3_uploader", callback_method: resource.new_record? ? 'POST' : 'PUT', callback_param: "event_expense[receipt_attributes][direct_upload_url]", expiration: 24.hours.from_now.utc.iso8601, max_file_size: 60.megabytes, class: 'event_expense_form'
      = file_field_tag :file

.form-actions
  = submit_tag 'Save', id: 'upload-receipt-btn', class: 'btn btn-primary', disable_with: 'Please wait...'
  = submit_tag 'Save', id: 'save-expense-btn', class: 'btn btn-primary', disable_with: 'Please wait...'
  = "&nbsp;".html_safe

javascript:
  $(function() {
    $('#upload-receipt-btn').hide();
    var callbackUrl = '#{j action}';
    $('#upload-receipt-btn').click(function(){
      $('#s3_uploader').data('callback-url', callbackUrl + '?name='+escape($('#event_expense_name').val())+ '&amount='+escape($('#event_expense_amount').val()));
    });

    $('#save-expense-btn').click(function(){
      $.ajax('#{j action}', {
        type: 'PUT',
        data: {
          'name': $('#event_expense_name').val(),
          'amount': $('#event_expense_amount').val()
        }
      })
    });
    $('#s3_uploader').S3Uploader({
        remove_completed_progress_bar: false,
        progress_bar_target: $('#uploads_container'),
        allow_multiple_files: false,
        click_submit_target: $('#upload-receipt-btn'),
        before_add: function(){
          $('#save-expense-btn').hide();
          $('#upload-receipt-btn').show();
          return true;
        }
    }).bind("s3_uploads_start", function(e, content) {
      $('#upload-receipt-btn').attr('disabled', true);
      $('#upload-receipt-btn').val($('#upload-receipt-btn').data('disable-with'));
    }).bind("s3_upload_complete", function(e, content) {
      //$('#s3_uploader').data('callback-url', callbackUrl + '?event_expense[name]='+escape($('#event_expense_name').val())+ '&event_expense[amount]='+escape($('#event_expense_amount').val())+ '&event_expense[receipt_attributes][direct_upload_url]='+escape(content.url));
      return true;
    }).bind('s3_upload_failed', function(e, content) {
      return alert(content.filename + ' failed to upload');
    });
  });
