- brands = parent.campaign.brands
.split-expense-form
  = simple_nested_form_for(parent, url: split_event_event_expenses_path(parent), method: :post, remote: true) do |f|
    = f.error_notification
    = f.fields_for :event_expenses, [resource] do |ef|
      .form-inputs
        .row-fluid.expense-item
          .span2
            = ef.input :expense_date, as: :date_picker
          .span3
            = ef.input :category, collection: expense_categories, input_html: { class: 'chosen-enabled category-chosen' }
          .span3
            = ef.input :brand_id, as: :select, collection: brands, input_html: { class: 'chosen-enabled brand-chosen' }
          .span1
            = ef.input :amount, as: :currency, input_html: { class: 'amount-currency' }
          .span1.percent-field
            .control-group
              .controls
                = label_tag 'event_expense_percentage', 'Percent', class: 'control-label'
                .input-append
                  = text_field_tag 'event_expense_percentage', nil, class: 'amount-percentage'
                  span.add-on %
          .remove-expense
            = ef.link_to_remove '', class: 'icon-rounded-minus'
    = f.link_to_add '', :event_expenses, class: 'icon-rounded-add'

    .expense-total
      .row-fluid
        .span8
        .span1.total-label
          .pull-left TOTAL:
        .span2.total-amount
          .pull-left
            b= "$<span>0</span>".html_safe
      .row-fluid
        .span8
        .span1.total-label
          .pull-left
        .span2.left-amount
          .pull-left
            b= "$<span></span> left".html_safe


    .form-actions
      = submit_tag 'Create Expenses', id: 'save-expense-btn', class: 'btn btn-primary', data: {disable_with: 'Please wait...'}
      = "&nbsp;".html_safe
      = f.button :button, 'Cancel', class: 'btn btn-cancel'

javascript:
  var $form = $('.split-expense-form form'),
      $sumContainer = $('.total-amount span'),
      $leftContainer = $('.left-amount span')
      $expenseAmount = 0;

  $form.delegate('input.amount-currency', 'change', function(){
    amount = parseFloat($(this).val()).toFixed(2);
    if (isNaN(amount)) amount = '0.00';
    $(this).val(amount);
    doCalculation('currency');
  });

  $form.delegate('input.amount-percentage', 'change', function(){
    percentage = parseInt($(this).val());
    if (isNaN(percentage)) percentage = '0';
    $(this).val(percentage);
    doCalculation('percentage');
  });

  $(document).on('nested:fieldAdded', function(e){
    $('.split-expense-form input.datepicker:last').datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
      dateFormat: "mm/dd/yy",
      onClose: function(selectedDate) {
        return $(this).valid();
      }
    });
    $('.split-expense-form select.category-chosen:last').chosen();
    $('.split-expense-form select.brand-chosen:last').chosen();
    $('.split-expense-form input.amount-currency:last').val('0.00');
    $('.split-expense-form input.amount-percentage:last').attr('id', $('.split-expense-form input.amount-currency:last').attr('id').replace('amount', 'percentage'))
  });

  $(document).on('nested:fieldRemoved', function(e){
    doCalculation();
  });

  $(document).ready(function(){
    $expenseAmount = $('.split-expense-form input.amount-currency:first').val();
    $leftContainer.html($expenseAmount);
    $('.split-expense-form input.amount-currency:first').val('0.00');
    $('.split-expense-form input.amount-percentage:first').attr('id', $('.split-expense-form input.amount-currency:first').attr('id').replace('amount', 'percentage'));
    $('.icon-rounded-add').click();
    $('.split-expense-form input.date_picker:last').val($('.split-expense-form input.date_picker:first').val());
    $('.split-expense-form select.category-chosen:last').val($('.split-expense-form select.category-chosen:first').val());
    $('.split-expense-form select.category-chosen:last').trigger('liszt:updated');
    $('.split-expense-form select.brand-chosen:last').val($('.split-expense-form select.brand-chosen:first').val());
    $('.split-expense-form select.brand-chosen:last').trigger('liszt:updated');
  });

  doCalculation = function(inputType){
    var sum = 0,
        summands = $form.find('.fields:visible input.amount-currency');

    summands.each(function (){
        if (inputType == 'currency') {
          amountValue = $(this).val();
          percentageField = $('#' + $(this).attr('id').replace('amount', 'percentage'));
          percentageValue = (amountValue * 100) / $expenseAmount;
          percentageField.val(percentageValue);
        } else {
          percentageValue = $('#' + $(this).attr('id').replace('amount', 'percentage')).val();
          amountValue = parseFloat(($expenseAmount * percentageValue) / 100).toFixed(2);
          $(this).val(amountValue);
        }
        if (!isNaN(amountValue)) sum += Number(amountValue);
    });

    $sumContainer.html(sum);
    $leftContainer.html($expenseAmount - sum);
  }