= update_event_details_bar(resource.event)
= valid_to_submit_message(resource.event)
|
  $('#event-expenses-container').replaceWith('#{j render(partial: 'events/expenses', locals: {resource: resource.event})}');
  window.EventDetails.showMessage("#{j I18n.translate('instructive_messages.execute.expense.deactivated')}", 'green');