|
  bootbox.classes('modal-large spliteventexpense_modal');
  resource_modal.modal('hide');
  var splitExpenseDialog = bootbox.dialog($('#{escape_javascript(render "split_expense")}'), [],{'onEscape': false, animate: (!$.fx.off), header: 'Split Expense'})